.THIS {
    background: white;
    position: relative;
    height: 100%;
    overflow: scroll;
    height: calc((100%) - (108px + 22px));
}

.THIS .leadName fieldset legend {
    display: none !important;
}

.THIS .tabset lightning-tab-bar ul {
    margin: 0 1.5rem;
}

.THIS .slds-tabs_default__link {
    text-decoration: none !important;
}

.THIS .tabset lightning-tab-bar ul li {
    padding: 0 1rem;
    color: #54698D;
}

.THIS .section {
    background: #F4F6F9;
}

.THIS .slds-form-element__label,
.THIS .slds-text-title_caps,
.THIS .slds-card__header-title {
    color: #54698D;
}

.THIS form.slds-form {
    min-height: 100%;
    height: auto;
    position: relative;
}

.THIS .btn-next {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 1.5rem;
}


.THIS .customRequiredField label.slds-form-element__label::before {
    content: '* ';
    color: rgb(194, 57, 52);
}

.THIS .customRequiredField.remove-required-on-lastname [data-field="lastName"] label.slds-form-element__label::before {
    content: '';
    color: rgb(194, 57, 52);
}



@media (min-width: 900px) {
    .THIS {
        background-color: white;
        /* overflow: auto; */
        position: relative;
        height: 100%;
        /* overflow: scroll; */
        /* height: 100%; */
        height: unset;
    }

    .THIS form.slds-form {
        padding-bottom: 4rem;
    }
}

@media (min-height: 700px) and (max-height: 1000px) {
    .THIS .btn-next {
        position: unset;
        /* bottom: 0;
        right: 0; */
        padding-bottom: 1.5rem;
    }
}

@media (min-width:700px) and (max-width:720px) and (max-height: 1139px) {
    .THIS .btn-next {
        position: unset !important;
        /* bottom: 0;
        right: 0; */
        padding-bottom: 1.5rem;
    }

    .THIS .slds-tabs_default.tabset {
        min-height: calc((100vh) - (152px + 22px)) !important;
    }
}

@media (max-width: 1440px) {
    .THIS .leadName fieldset .slds-form-element__control lightning-picklist {
        width: 16%;
        padding: 0 .25rem;
        float: left;
        padding-left: 0;
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="firstName"] {
        width: 34%;
        padding: 0 .25rem;
        float: left;
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="lastName"] {
        width: 50%;
        padding: 0 0 0 .25rem;
        float: left;
    }
}

@media (max-width: 425px) {
    .THIS .leadName fieldset .slds-form-element__control lightning-picklist {
        width: 32%;
        padding: 0 .5rem .5rem 0;
        float: left;
        padding-left: 0;
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="firstName"] {
        width: 68%;
        padding: 0 0 .5rem .5rem;
        float: left;
    }

    .THIS .leadName fieldset .slds-form-element__control lightning-input[data-field="lastName"] {
        width: 100%;
        padding: .5rem 0 0 0;
        float: left;
    }
}

.THIS ::-webkit-input-placeholder {
    /* WebKit browsers */
    color: transparent !important;
}

.THIS :-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: transparent !important;
}

.THIS ::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: transparent !important;
}

.THIS :-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: transparent !important;
}