div2.Back {

    padding: 15px;
    display: table;
    background-color: #f5f5f5;
    border-radius: 37px;

}

div5.BB1{

  
}



div4.BB2{

}


nav {
  
    float: left;
    width: 40%;
    padding: 20px;
    height: 400px;
   
}

article {
    float: left;
    padding: 20px;
    width: 50%;
    height: 400px;
    
}

footer {
    float: left;
    width: 100%;
    padding: 20px;
    display: block;

}