<template>
  <div2 class="Back" >
    <nav>
    <center>
      <div>
    <img src={b64} style="margin: 20px; width: 100px;height: 200px; "/>
    </div>
    </center>
   <center>
    <div class="slds-media__header" style="font-size:20px; ">
      {name1}
    </div>
  </center>
  </nav>

 
  <article>
      
  <div class="slds-media__header" style="font-size:20px; font-weight: bold; margin: 10px; ">{temp.Avatar_TH__c}</div>
      
  <div class="slds-media__body" style="font-size:13px; margin: 10px; line-height: 30px">{temp.Avatar_Description__c}</div>
     
  <div style="line-height: 320pt">
      

</div>
</article>

    <template if:true={loading}>
      <div class="demo-only demo-only demo-only_viewport" style="height:6rem">
        <div class="slds-spinner_container slds-is-fixed">
          <div role="status" class="slds-spinner slds-spinner_large">
            <div class="slds-spinner__dot-a"></div>
            <div class="slds-spinner__dot-b"></div>
          </div>
        </div>
      </div>
    </template>
 

   
       

  
  
<div3>
        <footer>
            
 <template if:false={loaded}>
    <div5 class="BB1">
<lightning-button 
          label="Download"
          style= "margin: 195px"
          icon-name="utility:download" 
          variant="container"
          icon-position="left"      
          onclick={handleClick} >
</lightning-button>
    </div5>
        </template>



        <template if:false={loaded}>
          <div4 class="BB2">
<lightning-button
        
      
      label="ดูผลิตภัณฑ์ที่ตอบโจทย์ความต้องการของคุณ"
      style="margin: 30px;"
      icon-name="utility:forward"
      icon-position="right"         
      onclick={handleProduct}>
 
</lightning-button> 
          </div4> 
        </template>
        </footer>
      </div3>
  </div2>


</template>