.THIS .center{
    text-align: center;
}

.THIS .border{
    border: 1px solid black;
    border-radius: 10px;
    min-height: 40px;
    vertical-align: middle;
    line-height: 40px;
}

.THIS .template3{
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.THIS .template3 div{
    display: inline-block;
    width: 15%;
    height: 150px;
    line-height: 150px;
}

.THIS .font-white{
    font-weight: 600;
    color: #fff !important;
}

.THIS #template1 .border, .THIS #template3 .border{
    border-color: #4CAF50;
    background-color: #8bd18d;
    width : 100%;
}

.THIS #template1 .border:hover , .THIS #template3 .border:hover{
    background-color: #4CAF50;
}

.THIS #template2 .border, .THIS #template4 .border{
    border-color: #2874e5;
    background-color: #5e9af4;
}

.THIS #template2 .border:hover, .THIS #template4 .border:hover{
    background-color: #2874e5;
}

.THIS .header{
    font-size: 35px;
    font-weight: 600;
}