<template>
        <!--<div class="js-inline-picker" lwc:dom="manual"></div>
        <lightning-input label="Year" value={yearValue} id="year" class="year form-control docs-date" name="date" onchange={CalculateAge}></lightning-input>
        <lightning-input label="Age" value={ageValue} id="age" class="age form-control docs-date" name="text"></lightning-input>-->
        <c-fna-scroll-list age-property="50"></c-fna-scroll-list>
</template>