<template>
    
        <div class="slds-align_absolute-center">

                <lightning-button
               label="Dowload"
               style="margin: 50px"
               icon-name="utility:download" 
               icon-position="left"      
               onclick={handleClick} >
           
           </lightning-button>

        
           <lightning-button

           label="ดูผลิตภัณฑ์ที่ตอบโจทย์ความต้องการของคุณ"
           style="margin: 10px;"
           icon-name="utility:forward"
           icon-position="right"         
           onclick={handleProduct}>
      
       </lightning-button> 

               </div>


</template>