nav {
  
    float: left;
    width: 30%;
   
}

article {
    float: left;
    width: 70%;
    
    
}

html, body, .page1, .contDiv {
    margin: 0;
    padding : 0;
    font-family: "DBHelvethaicaX";
    color: #313131;
    font-family: "Noto Sans Thai Regular";
}

.center{
    text-align: center;
}
.row{
    background-color: #eee;
    padding: 1.5rem 0;
    border-radius: 5px; 
    border: 1px solid #d4d4d4;
}

/*add class*/
.exit{
    margin: 0 2rem 0 0;
    display: flex;
    justify-content: flex-end;
}
.btnScroll, .btnNext{
    padding: 5px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
}

.backButton{
    margin: 0 2rem;
}
hr{
    border-top: 1.5rem  solid #FFF;
    margin: 2rem 0 2rem 0;
}
.containner{
    height: 300px;
    margin: 0 2rem;
    font-size: 110%;
}

div3{
    clear: both;
    float: left;
    margin: 3rem 0;
}

.header{
    font-size: 35px;
    font-weight: 600;
    margin: 0rem;
}
.button{
    padding: 5px 30px;
    font-size: 1.25rem;
    font-weight: bold;
    border-radius: 20px;
}

.iconColor{
    color: #2574a9;
}