<template>
  <div class="row">
      <div class="exit">
        <button onclick={exitPage} title="Exit" class="btnScroll slds-button slds-button_neutral">
          Exit
          <lightning-icon icon-name="utility:close" size="x-small" class="slds-p-horizontal_xx-small"></lightning-icon>
        </button>
      </div>
    <hr>  
    <div class="center header">
      <!-- Question -->
      <h1>&nbsp;</h1>
    </div>
    <div class="containner">
      <div2 class="Back" >
        <nav>
          <center>
            <div>
              <img src={b64} style="margin: 20px; width: 100px;height: 200px; "/>
            </div>
          </center>
          <center>
            <div class="slds-media__header" style="font-size:1.5rem; ">
              {name1}
            </div>
          </center>
          <center style="margin: 2.5rem 0;">
            <template if:false={loaded}>
              <div5 class="BB1">
                        <!--<lightning-button 
                                  label="Download"
                                  icon-name="utility:download" 
                                  variant="container"
                                  icon-position="left"      
                                  onclick={handleClick} class="slds-button">
                        </lightning-button>-->
                <div class="iconColor ">
                  <button onclick={handleClick} title="Download" value="singleValue" class="button slds-button slds-button_neutral">
                    <lightning-icon icon-name="utility:download"   size="x-small" class="slds-p-horizontal_xx-small"></lightning-icon>
                    Download
                  </button> 
                </div>
              </div5>
            </template>
          </center>
        </nav>
        <article>
          <div class="slds-media__header" style="font-size:2rem; font-weight: bold; margin: 10px; ">{temp.Avatar_TH__c}</div>
          <div class="slds-media__body" style="height:240px; font-size:1.5rem; margin: 10px; line-height: 30px">{temp.Avatar_Description__c}</div>
          <div style="line-height: 320pt">
          </div>
          <template if:false={loaded}>
            <div4 class="BB2">
                    <!--<lightning-button
                      

                    label="ดูผลิตภัณฑ์ที่ตอบโจทย์ความต้องการของคุณ"
                    icon-name="utility:forward"
                    icon-position="right"         
                    onclick={handleProduct} class="slds-button">

                    </lightning-button> -->
              <div class="iconColor ">
                <button onclick={handleProduct} title="Download" value="singleValue" class="button slds-button slds-button_neutral">
                  ดูผลิตภัณฑ์ที่ตอบโจทย์ความต้องการของคุณ
                  <lightning-icon icon-name="utility:forward"   size="x-small" class="slds-p-horizontal_xx-small"></lightning-icon>
                </button>
              </div>
            </div4> 
          </template>
        </article>
        <template if:true={loading}>
          <div class="demo-only demo-only demo-only_viewport" style="height:6rem">
            <div class="slds-spinner_container slds-is-fixed">
              <div role="status" class="slds-spinner slds-spinner_large">
                <div class="slds-spinner__dot-a"></div>
                <div class="slds-spinner__dot-b"></div>
              </div>
            </div>
          </div>
        </template>
          <!--<div3>
                  <footer>
                  </footer>
                </div3>-->
      </div2>
    </div>
    <hr>
  </div>
</template>