<template>
    
    
        <div class="slds-align_absolute-center">

                <p class="slds-text-heading_medium"  >ใส่หมายเลขมือถือเพื่อดาวโหลด Avatar</p>
        
            </div>
        
        
        
            <div class="slds-align_absolute-center">
                <lightning-input type="tel" style=" margin: 20px"  name="input1" placeholder="Moblie No." ></lightning-input>
                <lightning-button label="Send" onclick={handleClick} class="slds-m-top--medium"></lightning-button>
            
        
        </div>
</template>