<template>
    <!--<c-fna-bootstrap></c-fna-bootstrap>-->
    <span class={loadingDisplay}>
        <div id="spinnerDiv" class="demo-only demo--inverse" >
            <div class="slds-spinner_container">
                <div role="status" class="slds-spinner slds-spinner_medium">
                    <span class="slds-assistive-text">Loading</span>
                    <div class="slds-spinner__dot-a"></div>
                    <div class="slds-spinner__dot-b"></div>
                </div>
            </div>
        </div>
    </span> 
    <div class="row">
        <div class="btween">
            <div>
                <button onclick={backPage} title="Back" value="singleValue" class="btnScroll slds-button slds-button_neutral">Back</button>
            </div>
            <div>
                <button onclick={exitPage} title="Exit" class="btnScroll slds-button slds-button_neutral">Exit</button>
            </div>
        </div>
        <hr>
        <div class="center header">
            <!-- Question -->
            <template if:false={template.template1}>
                <h1>{temp.question}</h1>
            </template>
            <template if:true={template.template1}>
                <h1>&nbsp;</h1>
            </template>
        </div>
        <div class="containner">
            <div>
            <!-- template 1 -->
                <template if:true={template.template1}>
                    <div class="template1">
                        <div class="slds-align_absolute-center">
                            <template for:each={choice} for:item='item'>
                                <div key={item.id}>
                                    <img src={item.urlImage} />
                                </div>
                            </template>
                        </div>
                        <div class="slds-align_absolute-center" style="margin: 2rem 10rem;">
                            <lightning-input type="text" style="margin:0 1rem 0 0;width: 100%;" value={answer} onchange={changeHandler} placeholder={temp.question} ></lightning-input>
                            <!--<lightning-button label="Next" onclick={nextPage} value="singleValue" class="btnScroll" style="margin-top: 1rem;"></lightning-button>-->		                        
                            <button onclick={nextPage} title="Next" value="singleValue" class="btnScroll slds-button slds-button_neutral" style="margin-top: 1rem;">Next</button>
                        </div>
                    </div>
                </template>

                <!-- template 2 -->
                <template if:true={template.template2}>
                    <div class="template2">
                        <template for:each={choice} for:item='item'>
                            <div key={item.id}>
                                <button onclick={nextPage} title={item.choice} value={item.choice} class={item.btnClass}>{item.choice}</button>
                                <!-- <lightning-button label={item.value} title={item.value} value={item.value} onclick={nextPage} class="slds-m-left_x-small"></lightning-button> -->
                            </div>
                        </template>
                    </div>
                </template>
            

                <!-- template 3 -->
                <template if:true={template.template3}>
                    <div class="slds-grid slds-wrap font-white template3">
                        <div class="template3-warp">
                            <template for:each={choice} for:item='item'>
                                <div style="width:30%; margin:0 1rem; height: 100%;" key={item.id}>
                                    <button onclick={nextPage} data-item={item.id} title={item.choice} value={item.choice} class={item.btnClass}>
                                        {item.choice}
                                        <img src={item.urlImage} class="event-none" style="padding-top:  1.25rem;"/>

                                    </button>
                                    <!-- <lightning-button label={item.value} title={item.value} onclick={nextPage} class="border center font-white"></lightning-button> -->
                                </div>
                            </template>
                        </div>
                    </div>
                </template>

                <!-- template 4 -->
                <template if:true={template.template4}>
                    <div class="slds-grid slds-wrap font-white template4" >
                        <template for:each={choice} for:item='item'>
                            <div class="slds-col slds-size_6-of-12 center" key={item.id}>
                                <div class="border" style="width:95%;margin: 5px auto;">
                                    <button onclick={nextPage} title={item.choice} value={item.choice} class={item.btnClass}>{item.choice}</button>
                                    <!-- <lightning-button label={item.value} title={item.value} onclick={nextPage} class="slds-m-left_x-small border center font-white"></lightning-button> -->
                                </div>
                            </div>
                        </template>
                    </div>
                </template>
                
                <!-- template 5 -->
                <template if:true={template.template5}>
                    <div class="slds-grid slds-wrap font-white template5" >
                        <template for:each={choice} for:item='item'>
                            <div class="slds-col slds-size_6-of-12 center" key={item.id}>
                                <div class="border" style="width:95%;margin: 5px auto;">
                                    <button class={cssClass} data-item={item.id} onclick={addAnswer} title={item.choice} value={item.choice}>
                                        {item.choice}
                                    </button>
                                </div>
                            </div>
                        </template>
                    </div>
                    <div class="fullbutton center nextButton">
                        <button onclick={nextPage} title="Next" value="multipleChoice" class="btnNext slds-button slds-button_neutral">Next</button>    
                    </div>
                </template>

                <!-- template 6 -->
                <template if:true={template.template6}>
                    <c-fna-scroll-list onvaluechanged={handleEventChangeYear} age-property={ageValue}></c-fna-scroll-list>
                    <div class="fullbutton center nextButton">
                        <button onclick={nextPage} title="Next" value="singleValue" class="btnScroll slds-button slds-button_neutral">Next</button>    
                    </div>
                    <!-- <lightning-input label="Age Return" value={ageValueRetrun} id="ageReturn" class="ageReturn" name="text"></lightning-input> -->
                </template>
            </div>
        </div>
        <hr>
        <div>
            <!-- <lightning-button variant="brand" label="Back" title="Brand action" onclick={backPage} class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="brand" label="Next" title="Brand action" onclick={backPage} class="slds-m-left_x-small"></lightning-button> -->
        </div>
    </div>
    <!--<div class="js-inline-picker" lwc:dom="manual"></div>
    <lightning-input label="Year" value={yearValue} id="year" class="year form-control docs-date" name="date" onchange={CalculateAge}></lightning-input>
    <lightning-input label="Age" value={ageValue} id="age" class="age form-control docs-date" name="text"></lightning-input>-->
    
</template>