<template>
    <div>
        <!-- <center>Here is apexTest : <h1>{apexTest.data}</h1>awd</center>
        <center>Here is temp2 : <h1>{temp2}</h1></center> -->
        <input type="text" value={myValue}/>
        <lightning-button
            label="Submit"
            onclick={handleSubmit}
        ></lightning-button>
        <div>
            questionId: {temp.questionId}
        </div>
        <div>
            question: {temp.question}
        </div>
        <center><div style="font-size:60px;">---- Ready ---- </div></center>
        <center><div style="font-size:60px;">questionId: {temp2.questionId}</div></center>
        <center><div style="font-size:60px;">question: {temp2.question}</div></center>
    </div>
</template>