<apex:page standardcontroller="AcctPlanProdStrategy__c" extensions="AccountPlanProductStrategyEx" action="{!InitData}"
           doctype="html-5.0" showchat="false" showheader="{! !isConsoleMode}" sidebar="false"
           applybodytag="false" applyhtmltag="true" standardstylesheets="true">
    <head>
        <title>Product Strategy</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <!-- Static Resource -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                  <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
                  <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
                <![endif]-->
        <apex:stylesheet value="{!$Resource.AccountPlanMaster}" />
        <style>
            .bootstrap-sf1 .table tbody tr td.td25 {
                width: 25px;
                border: none;
                background: none;
            }

            .bootstrap-sf1 .table-striped > tbody > tr:nth-child(odd) > th.th25 {
                /* background-color: #f9f9f9; */
                width: 25px;
                border: none;
                background: none;
            }

            .rowsubtableLeft {
                border-left: 1px solid #DADEE2;
            }

            .rowsubtableRight {
                border-right: 1px solid #DADEE2;
            }

            .rowsubtableBottom {
                border-bottom: 1px solid #DADEE2;
            }


            .bootstrap-sf1 .table tbody tr td.forceBackgroundMaroon {
                background-color: #993300;
                color: white;
            }

            .bootstrap-sf1 .table tbody tr th.forceBackgroundMaroon {
                background-color: #993300;
                color: white;
            }

            .table-responsive {
                overflow-x: auto;
            }
            /* Icon when the collapsible content is shown */
            .a-collapse:after {
                font-family: "Glyphicons Halflings";
                content: "\e114";
                float: left;
                margin-right: 10px;
            }
            /* Icon when the collapsible content is hidden */
            .a-collapse.collapsed:after {
                content: "\e080";
            }

            .bootstrap-sf1 .fillin {
                background-color: #c5d9f1;
            }

            .bootstrap-sf1 .table > thead > tr > th, .bootstrap-sf1 .table > tbody > tr > th, .bootstrap-sf1 .table > tfoot > tr > th,
            .bootstrap-sf1 .table > thead > tr > td, .bootstrap-sf1 .table > tbody > tr > td, .bootstrap-sf1 .table > tfoot > tr > td {
                vertical-align: middle;
            }
        </style>
    </head>
    <body>
        <apex:actionstatus id="status">
            <apex:facet name="start">
                <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                    &nbsp;
                </div>
                <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                    <img src="/img/loading32.gif" />
                </div>
            </apex:facet>
        </apex:actionstatus>
        <!-- <c:AccountPlanHeader activetab="4"
          GroupID="{!ViewState.GroupID}"
          CompanyID="{!ViewState.CompanyID}"
          WalletID="{!ViewState.WalletID}" /> -->
        <div class="bootstrap-sf1">
            <div id="responseErrors"></div>
            <apex:form styleclass="form-horizontal">
               
                <apex:outputpanel id="statusMessage">
                    <apex:pagemessages ></apex:pagemessages>
                </apex:outputpanel>
                <div class="form-group">
                    <div style="text-align: center;">
                            <apex:commandbutton action="{!save}" value="Save" id="btnsave" styleclass="btn  btn-success" />  &nbsp;
                            <apex:commandbutton action="{!cancel}" value="Cancel" id="btncancel" styleclass="btn  btn-success" onclick="if(!confirm('Are you sure you want to exit this screen without saving?')) return false;" />
                    </div>
                </div>

                <!-- /Section 1 -->
                <header class="navbar navbar-default navbar-branded" role="banner">
                    <div class="panel-heading">
                        <div class="navbar-header">
                            <a data-toggle="collapse" aria-expanded="true"
                               href="#collapse1" class="navbar-brand navbar-foundation-logo">
                                Product Strategy
                            </a>
                        </div>
                    </div>
                </header>

                <div class="card collapse in panel-collapse" id="collapse1">
                    <div class="card-detail">

                        <!--  Section 1 -->
                        <fieldset style="text=align:center">

                            <!--- Start Table  -->
                            <div class="table-responsive" style="overflow-x:auto;">
                                <apex:outputpanel id="mainTable">
                                    <table class="table  table-hover" id="toggletable,groupwallet">
                                        <tbody>
                                            <!-- Header Section  -->
                                            <tr>
                                                <th colspan="4">
                                                    <label class="control-label">Customer's wallet</label>
                                                    <!--<apex:outputText escape="false" value="{!btnGroupWallet}" ></apex:outputText>-->

                                                    <a href="/apex/AdditionalBusinessOpportunity?WalletID={!ViewState.WalletID}" class="btn btn-success btn-sm" style="text-decoration:none"
                                                       onclick="window.open(this.href, 'mywin', 'scrollbars=1,resizable=1,width=960,height=800,left=50,top=50'); return false;">Additional business opportunity</a>
                                                    <a href="#" id="collapeall" onclick="collapeall(); return false;" class="btn btn-info btn-sm">Collapse All</a>
                                                    <a href="#" id="expandall" onclick="expandall();  return false;" class="btn btn-warning btn-sm">Expand All</a>
                                                </th>
                                                <th colspan="5">
                                                    <apex:outputpanel rendered="{!isWarningMandatoryFields}">
                                                            <div class='bg-danger text-center' style='width:790px;float: right;padding: 8px;border: 1px solid #E28888;margin-left:10px;'>
                                                                <apex:outputpanel rendered="{!isWarningAspirationSOW_ExpectedIncrementalNI}" style="margin: 0px;"><!--There must be at least one record of % Aspiration SOW or Expected Incremental NI of not 0.00-->
                                                                    {!WarningAspirationSOW}
                                                                </apex:outputpanel>
                                                                <apex:outputpanel rendered="{!isWarningPriority}" style="margin: 0px;clear:both;float:left;"><!--There must be at least one record of product strategy with priority of High or Medium (click Expand All button to view all products)-->
                                                                    {!WarningPriorityEn} {!WarningPriorityTH}
                                                                </apex:outputpanel>
                                                            </div>
                                                    </apex:outputpanel>
                                                </th>
                                                <!--<th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>-->
                                            </tr>

                                            <tr>
                                                <th colspan="2" class="forceBackground text-center" style=" vertical-align: top;">
                                                    Type of Wallet
                                                    <c:II_Helptext sobjectname="AcctPlanProdStrategy__c" fieldapiname="Name" iscustom="true" screen="AccountPlanProductStrategy" />
                                                </th>
                                                <th class="forceBackground text-center" style=" vertical-align: top;">Product</th>
                                                <th class="forceBackground text-center" style="vertical-align: top;">
                                                    Wallet Sizing <br /> (Yearly)
                                                    <c:II_Helptext sobjectname="AcctPlanProdStrategy__c" fieldapiname="WalletSizing__c" />
                                                </th>
                                                <th class="forceBackground text-center" style="vertical-align: top;width:120px;">
                                                    Actual NI <br />(12-mth Rolling)
                                                    <c:II_Helptext sobjectname="AcctPlanProdStrategy__c" fieldapiname="AnnualizedPerformance__c" />
                                                </th>
                                                <th class="forceBackground text-center" style="vertical-align: top;">
                                                    Adjusted NI <br />(12-mth Rolling)
                                                    <c:II_Helptext sobjectname="AcctPlanProdStrategy__c" fieldapiname="Adjust_NI__c" />
                                                </th>
                                                <th class="forceBackground text-center" style="vertical-align: top;">
                                                    % Existing <br />SOW
                                                    <c:II_Helptext sobjectname="AcctPlanProdStrategy__c" fieldapiname="ExistingSOW__c" />
                                                </th>
                                                <th class="forceBackground text-center" style="vertical-align: top;">
                                                    % Aspiration <br />SOW
                                                    <c:II_Helptext sobjectname="AcctPlanProdStrategy__c" fieldapiname="AspirationSOW__c" />
                                                </th>
                                                <th class="forceBackground text-center" style="vertical-align: top;">
                                                    Expected <br />Incremental NI <br />(Unit: THB)
                                                    <c:II_Helptext sobjectname="AcctPlanProdStrategy__c" fieldapiname="ExpectedIncrementalNI__c" />
                                                </th>
                                            </tr>
                                            <!-- End Header Section  -->
                                            <!-- Total Calculate -->
                                            <apex:repeat id="rplevel1" var="pro" value="{!ViewState.PlanProdStrategies}">
                                                <tr>
                                                    <td colspan="3" class="text-left">
                                                        <label style="{!IF(
                                                            pro.SEQ__c==5  ||
                                                            pro.SEQ__c==6  ||
                                                            pro.SEQ__c==7  ||
                                                            pro.SEQ__c==8  ||
                                                            pro.SEQ__c==9  ||
                                                            pro.SEQ__c==11 ||
                                                            pro.SEQ__c==12 ||
                                                            pro.SEQ__c==13 ||
                                                            pro.SEQ__c==14,'padding-left:20px;','')}">
                                                            <a onclick="{!ViewState.ToggleId[pro.SEQ__c][0]}();"
                                                               data-target="#{!ViewState.ToggleId[pro.SEQ__c][0]}" id="{!ViewState.ToggleId[pro.SEQ__c][1]}" class="a-collapse collapsed ahref" data-toggle="collapse"
                                                               style="{!IF(pro.SEQ__c!=3 && pro.SEQ__c!=4 && pro.SEQ__c!=10,'','display:none;')} color:#000000;text-decoration:none;cursor: pointer;
                                                            ">
                                                                {!pro.Name}
                                                            </a>
                                                            <span style="color:#000000; {!IF(pro.SEQ__c!=3 && pro.SEQ__c!=4&& pro.SEQ__c!=10,'display:none;','')} padding-left:10px;">  {!pro.Name} </span>
                                                        </label>
                                                        <!--    Data -->
                                                    <td class="text-right">
                                                        <apex:outputtext rendered="{!pro.SEQ__c!=4 && pro.SEQ__c!=10}" value="{0, number, ###,##0}">
                                                            <apex:param value="{!pro.WalletSizing__c}" />
                                                        </apex:outputtext>
                                                    </td>
                                                    <td class="text-right">
                                                        <apex:outputtext rendered="{!pro.SEQ__c!=4 && pro.SEQ__c!=10}" value="{0, number, ###,##0}">
                                                            <apex:param value="{!pro.AnnualizedPerformance__c}" />
                                                        </apex:outputtext>
                                                        <!-- pro.SEQ__c!=3 &&  <span style="{!IF(pro.SEQ__c == 3,'','display:none;')}"> - </span> -->



                                                    </td>
                                                    <td class="text-right">

                                                        <apex:inputfield styleclass="form-control text-right fillin" rendered="{!pro.SEQ__c!=3 && pro.SEQ__c!=4  && pro.SEQ__c!=10}" value="{!pro.Adjust_NI__c}" />

                                                    </td>
                                                    <td class="text-right">

                                                        <apex:outputtext rendered="{!pro.SEQ__c!=3 && pro.SEQ__c!=4 && pro.SEQ__c!=10   && pro.SEQ__c!=9 && pro.SEQ__c!=13 && pro.SEQ__c!=14 }" value="{0, number, #0.00}%">
                                                            <apex:param value="{!pro.ExistingSOW__c}" />
                                                        </apex:outputtext>


                                                    </td>
                                                    <td class="text-right">


                                                        <apex:inputfield styleclass="form-control text-right fillin"
                                                                         rendered="{!pro.SEQ__c!=3 && pro.SEQ__c!=4 && pro.SEQ__c!=10 && pro.SEQ__c!=9 && pro.SEQ__c!=13 && pro.SEQ__c!=14}"
                                                                         value="{!pro.AspirationSOW__c}" />



                                                    </td>
                                                    <td class="text-right">
                                                        <apex:outputtext rendered="{!pro.SEQ__c!=3 &&pro.SEQ__c!=4 && pro.SEQ__c!=10 && pro.SEQ__c!=9 && pro.SEQ__c!=13 && pro.SEQ__c!=14}" value="{0, number, ###,##0}">
                                                            <apex:param value="{!pro.ExpectedIncrementalNI__c}" />
                                                        </apex:outputtext>


                                                        <apex:inputfield styleclass="form-control text-right fillin"
                                                                         rendered="{!pro.SEQ__c == 9 || pro.SEQ__c==13 || pro.SEQ__c==14}"
                                                                         value="{!pro.ExpectedIncrementalNIFreeText__c}" />

                                                    </td>
                                                    <!-- End Data -->
                                                    </td>
                                                </tr>
                                                <apex:repeat id="rplevel2" var="walletSet" value="{!ViewState.WalletByDomains[pro.SEQ__c]}" rendered="{!ViewState.WalletByDomains[pro.SEQ__c].Size > 0}">
                                                    <!-- start >>  -->
                                                    <tr id="{!ViewState.ToggleId[pro.SEQ__c][0]}" class="pnldetail panel-collapse collapse" style="border:none;background:none;">
                                                        <td colspan="9" style="border:none;background:none;"></td>
                                                    </tr>
                                                    <tr id="{!ViewState.ToggleId[pro.SEQ__c][0]}" class="pnldetail panel-collapse collapse">

                                                        <th class="th25" style="border:none;background:none;"></th>
                                                        <th colspan="2" class="forceBackgroundMaroon text-left">
                                                            {!walletSet.TypeOfNI  }
                                                            <c:II_Helptext sobjectname="AcctPlanWalletByDomain__c" fieldapiname="TypeOfNI__c" iscustom="true" screen="AccountPlanProductStrategy" />
                                                        </th>
                                                        <th class="forceBackgroundMaroon text-center" style="width: 70px;">
                                                            Adjusted Wallet <br />(Unit: THB)
                                                            <c:II_Helptext sobjectname="AcctPlanWalletByDomain__c" fieldapiname="AdjWalletUnit__c" />
                                                        </th>
                                                        <th class="forceBackgroundMaroon text-center" style="width: 70px;">
                                                            Priority
                                                            <c:II_Helptext sobjectname="AcctPlanWalletByDomain__c" fieldapiname="Priority__c" iscustom="true" screen="AccountPlanProductStrategy" />
                                                        </th>
                                                        <th class="forceBackgroundMaroon text-center" colspan="2">
                                                            Reason
                                                            <c:II_Helptext sobjectname="AcctPlanWalletByDomain__c" fieldapiname="Reason__c" />
                                                        </th>
                                                        <th class="evenrow" style="border:none;"></th>
                                                        <th class="evenrow" style="border:none;"></th>

                                                    </tr>
                                                    <apex:variable var="i" value="{!1}" />
                                                    <apex:repeat var="item" value="{!walletSet.Record}">
                                                        <tr id="{!ViewState.ToggleId[pro.SEQ__c][0]}" class="pnldetail panel-collapse collapse">
                                                            <td class="evenrow" style="border:none;"></td>
                                                            <td class="text-left rowsubtableBottom rowsubtableLeft"><span style="{!IF(i==1 ,'','display:none;')}">{!item.Domain__c}</span></td>
                                                            <td class="text-left rowsubtableBottom">{!item.SubDomain__c}</td>
                                                            <td class="text-right rowsubtableBottom">
                                                                <apex:outputtext value="{0, number, ###,##0}">
                                                                    <apex:param value="{!item.AdjWalletUnit__c}" />
                                                                </apex:outputtext>
                                                            </td>
                                                            <td class="text-right rowsubtableBottom"> <apex:inputfield styleclass="form-control text-left fillin" value="{!item.Priority__c}" /></td>
                                                            <td colspan="2" class="text-right rowsubtableBottom rowsubtableRight"><apex:inputfield styleclass="form-control text-left fillin" value="{!item.Reason__c}" /></td>

                                                            <td class="evenrow" style="border:none;"></td>
                                                            <td class="evenrow" style="border:none;"></td>
                                                            <apex:variable var="i" value="{!1+i}" />
                                                        </tr>
                                                    </apex:repeat>

                                                    <tr id="{!ViewState.ToggleId[pro.SEQ__c][0]}" class="pnldetail panel-collapse collapse" style="border:none;background:none;">
                                                        <td colspan="9" style="border:none;background:none;"></td>
                                                    </tr>
                                                    <!-- end >> -->
                                                </apex:repeat>
                                            </apex:repeat>
                                            <tr>
                                                <td colspan="3" class="forceBackground text-center">Total </td>
                                                <td class="forceBackground text-right">
                                                    <span style="font-style:bold;">
                                                        <apex:outputtext value="{0, number, ###,##0}">
                                                            <apex:param value="{!ViewState.TotalWallet}" />
                                                        </apex:outputtext>
                                                    </span>
                                                </td>
                                                <td class="forceBackground text-right">
                                                    <apex:outputtext value="{0, number, ###,##0}">
                                                        <apex:param value="{!ViewState.TotalAnnual}" />
                                                    </apex:outputtext>
                                                </td>
                                                <td class="forceBackground text-center"></td>
                                                <td class="forceBackground text-center"></td>
                                                <td class="forceBackground text-center"></td>
                                                <td class="forceBackground text-center"></td>
                                            </tr>
                                        </tbody>


                                    </table>
                                </apex:outputpanel>
                            </div>
                            <!-- End Table -->
                        </fieldset>
                        <!-- /Section 1 -->
                    </div>
                </div>
                <!-- /Section 1 -->


            
            </apex:form>
        </div>
        <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
        <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />
        <apex:includescript value="/support/console/22.0/integration.js" />
        <script>

                // Prevent Config
                var $j = jQuery.noConflict();
                // Ready Event
                $j(document).ready( function () {
                    $j("#groupwallet").on('click',function(event){
                        event.preventDefault();
                        $j('[id$="grouptoggle"]').toggle();
                        $j('[id$="grouptoggle2"]').toggle();
                    });

                    $j("#collapeall").hide();
                    $j('[data-toggle="tooltip"]').tooltip();
                });
             function collapseNIIc(){
               $j('[id$="collapseNIIc"]').toggle();
             }
             function collapseNIId(){
               $j('[id$="collapseNIId"]').toggle();
             }
             function collapseTFFee(){
               $j('[id$="collapseTFFee"]').toggle();
             }
             function collapseFXFee(){
               $j('[id$="collapseFXFee"]').toggle();
             }
             function collapseLGFee(){
               $j('[id$="collapseLGFee"]').toggle();
             }
             function collapseCashFee(){
               $j('[id$="collapseCashFee"]').toggle();
             }
             function collapseCreditFee(){
               $j('[id$="collapseCreditFee"]').toggle();
             }
             function collapseBAFee(){
               $j('[id$="collapseBAFee"]').toggle();
             }
             function collapseDerivativeFee(){
               $j('[id$="collapseDerivativeFee"]').toggle();
             }
             function collapseIBFee(){
               $j('[id$="collapseIBFee"]').toggle();
             }
             function collapseASFee(){
               $j('[id$="collapseASFee"]').toggle();
             }
               function collapeall(){
                 $j("#collapeall").hide();
                 $j("#expandall").show();
                /* $j('[id$="collapseNIIc"]').toggle('hide');
                 $j('[id$="collapseNIId"]').toggle('hide');
                 $j('[id$="collapseTFFee"]').toggle('hide');
                 $j('[id$="collapseFXFee"]').toggle('hide');
                 $j('[id$="collapseLGFee"]').toggle('hide');
                 $j('[id$="collapseCashFee"]').toggle('hide');
                 $j('[id$="collapseCreditFee"]').toggle('hide');
                 $j('[id$="collapseBAFee"]').toggle('hide');
                 $j('[id$="collapseDerivativeFee"]').toggle('hide');
                 $j('[id$="collapseIBFee"]').toggle('hide');*/
                 $j("a.ahref").addClass("collapsed");
                 $j(".pnldetail").hide();



             }
             function expandall(){
                 $j("#collapeall").show();
                 $j("#expandall").hide();
                /* $j('[id$="collapseNIIc"]').toggle('show');
                 $j('[id$="collapseNIId"]').toggle('show');
                 $j('[id$="collapseTFFee"]').toggle('show');
                 $j('[id$="collapseFXFee"]').toggle('show');
                 $j('[id$="collapseLGFee"]').toggle('show');
                 $j('[id$="collapseCashFee"]').toggle('show');
                 $j('[id$="collapseCreditFee"]').toggle('show');
                 $j('[id$="collapseBAFee"]').toggle('show');
                 $j('[id$="collapseDerivativeFee"]').toggle('show');
                 $j('[id$="collapseIBFee"]').toggle('show');*/
                 $j("a.ahref").removeClass("collapsed");
                 $j(".pnldetail").show();
             }




             function checkIshasValue(item) {
                    var msg = item.value;
                    $j(item).removeClass('info');
                    $j(item).removeClass('danger');
                    $j(item).removeClass('success');
                    if(msg !='' && msg != null && msg !='0' && msg !=0){
                        $j(item).addClass('success');
                    }else{
                        $j(item).addClass('danger');
                    }
                }

        //Sets the title of the current tab to "Case Transactions Detail"
        window.onload = function setTitleConsole(){
            setTitle();
        }
        //Sets the title of the current tab to "Case Transactions Detail"
        function setTitle() {
            sforce.console.setTabTitle('Product Strategy');
        }
        </script>



    </body>
</apex:page>