<apex:page docType="html-5.0" showChat="false" 
showHeader="false" sidebar="false" applyBodyTag="false" 
applyHtmlTag="true"  standardStylesheets="true"
controller="AccountPlanActionPlanController" action="{!getBookActivityToVisit}"

>
<!-- Header -->
<head>
        <title>New Visit Plan/Report</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <apex:includeScript value="{!$Resource.SFScript}"  /> 
        <!-- Static Resource -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
        
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
          <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
        <![endif]-->        
        
        <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>
        <apex:stylesheet value="{!$Resource.AccountPlanMaster}" />
        <style>
        .bootstrap-sf1{
          background-color:#ffffff;
        }
        .bootstrap-sf1 tbody td {
            text-align: left; 
        }
        body .bootstrap-sf1 .bPageBlock .pbHeader ,.Custom7Tab .secondaryPalette{
            background-color: #2a94d6;
            border-color: #2481bb;
            color:#ffffff;
        }
         .individualPalette .Custom7Block .secondaryPalette{
            background-color: #2a94d6;
            border-color: #2a94d6;
            color:#ffffff;
         }
         body .bRelatedList .pbTitle h3, body .bPageBlock .pbTitle h2, body .bPageBlock .pbTitle h3, body .bSubBlock h3.lbHeader {
             color:#ffffff;
         }
.dateOnlyInput .dateFormat {
    display: none;
    position: absolute;
    top: 25px;
    right: 39px;
}}


    
        </style>
    </head>

    <body>  
    <apex:actionstatus id="status">
                                                    <apex:facet name="start">
                                                        <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                                                            &nbsp;
                                                        </div>
                                                        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                                                            <img src="/img/loading32.gif" />
                                                        </div>
                                                    </apex:facet>
                          </apex:actionstatus>
        <div class="bootstrap-sf1" >
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-12">
                <apex:form >   

                        <apex:pageMessages id="messages"/>                          
                            <apex:pageBlock title="Action Plan Activity" id="childList">                        
                            <div>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th colspan="7" class="text-right bs-component" style="border:none;background-color:white;">
                                     <!--           <apex:commandButton value="Back" styleClass="btn  btn-primary" style="margin-right:45px;"  onclick="window.history.back();" styleclass="btn btn-success"  rerender="messages,childList" /> -->

                                            
                                               <apex:commandButton value="New Visit Plan / Reports" styleClass="btn  btn-primary" style="margin-right:45px;"  action="{!newVisit}" oncomplete="if({!isVisit}) location.href='/apex/VisitPlanCreation?AccountID={!AccountID}&ActivityID={!ActivityID}&isdtp=vw';" styleclass="btn btn-success"  rerender="messages,childList" status="status"/> 

                                            </th>                           
                                        </tr>
                                        <tr>
                                      <!--      <td class="forceBackground" style="display:none;" >Objective</td>        
                                            <td class="forceBackground" style="display:none;">Category</td> -->
                                            <td class="forceBackground" >Selection
                                            <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Checkbox to allow user to select an activity to link with a new Visit Plan/Report" /> 
                                            </td>
                                            <td class="forceBackground" >Status
                                            <c:II_Helptext SobjectName="AcctPlanActionPlan__c" FieldApiName="Status__c" />
                                            </td>
                                            <td class="forceBackground" >Group
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="Group__c" />
                                            </td>
                                            <td class="forceBackground" >Activity
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="Activities__c" />
                                            </td>
                                            <td class="forceBackground" >Date
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="Date__c" />
                                            </td>
                                            <td class="forceBackground" >Customer Counterparty
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="CustomerCounterparties__c" />
                                            </td>
                                            <td class="forceBackground" >TMB Counterparties
                                            <c:II_Helptext SobjectName="AcctPlanStakeholder__c" FieldApiName="User__c" />
                                            </td>
                                          
                                        </tr>
                                    </thead>
                                            
                                    <tbody >
                                  <!--     
                                        <apex:variable var="rowNum" value="{!ZERO}" />
                                        <apex:repeat value="{!children}" var="crc">
                                           
                                            <tr>
                                                <td style="display:none;"><apex:outputfield value="{!crc.Objective__c    }"  /></td>
                                                <td style="display:none;"><apex:outputfield value="{!crc.Category__c    }" /></td>
                                                <td><apex:inputCheckbox value="{!isSelected}" /></td>
                                                <td><apex:outputfield value="{!crc.Group__c     }"  /></td>
                                                <td><apex:outputfield value="{!crc.Activity__c   }"  id="activity"  /></td>
                                                  <td>  <apex:outputfield value="{!crc.Other_Activity__c   }" style="display:{!if(crc.Activity__c=='Others','grid','none')};" id="otheractivity" />
                                                    </td>
                                                
                                                <td><apex:outputfield value="{!crc.Activity_Date__c   }"  /></td>
                                                <td><apex:outputfield value="{!crc.Customer_Counterpaties__c}"  /></td>
                                                <td> 
                                                   <apex:repeat value="{!ActivitiesWrapperMap[crc.id]}" var="paties" >
                                                       <apex:repeat value="{!paties.patieslist}" var="tmb" > 
                                                           <apex:outputfield value="{!tmb.User__C}"  />
                                                               <br></br>
                                                        </apex:repeat>
                                                    </apex:repeat>
                                                 
                                                                                  </td>
                                   
                                                
                                                
                                            </tr>
                                        </apex:repeat> -->
                                        <apex:repeat value="{!bookActList}" var="crc" >   
                                            <tr>
                                            <td> <apex:inputCheckbox value="{!crc.isBook__c}" />  <!--<apex:selectRadio value="{!crc.isBook__c}"/>--></td>
                                            <td><apex:outputField value="{!crc.Status__c}"  /></td>
                                                <td><apex:outputField value="{!crc.Group__c}" /></td>
                                                <td><apex:outputField value="{!crc.Activities__c}" />
                                                        <apex:outputpanel rendered="{!crc.CheckOther__c=='Y'}">
                                                        <span> : </span>
                                                        <apex:outputField value="{!crc.Other__c}"/>
                                                    </apex:outputpanel>  
                                                </td>
                                                <td><apex:outputField value="{!crc.Date__c}" /></td>
                                                <td><apex:outputField value="{!crc.CustomerCounterparties__c}" /></td>
                                                <td>
                                                    <apex:repeat value="{!StakeHolderMap[crc.id]}" var="stakeholder" >
                                                    <apex:outputfield value="{!stakeholder.User__r.Name}"/><br/>
                                                     </apex:repeat>
                                                    
                                                    </td>

                                                
                                                
                                            </tr>
                                        </apex:repeat>       
                                        
                                    </tbody>
                                </table>
                            </div>
                              <script>
                function visitCall(){
                location.href='/apex/VisitPlanCreation?AccountID=AccountID&ActivityID=ActivityID';
                }
                
            </script>                        
                                                    
                        </apex:pageBlock>
                   </apex:form>  
                </div>              
            </div>
        </div>
 </body> 
    <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
    <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />

  
           <script>
        var $j = jQuery.noConflict();           
                // Ready Event  
               $j(document).ready( function () {
                        
                    $j('[data-toggle="tooltip"]').tooltip(); 
                    
                    //$j("[rel=tooltip]").tooltip({ placement: 'right'});
                    
                    });   
                    
        
</script> 
            
</apex:page>