<apex:page controller="AccountPlanActionPlanController" action="{!planSelection}" doctype="html-5.0" showchat="false" showheader="false" sidebar="false"
           applybodytag="false" applyhtmltag="true" standardstylesheets="true">
    <head>
        <title>Action Plan - Activities</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Static Resource -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />
        
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
                    <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
                    <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
                <![endif]-->
        <apex:stylesheet value="{!$Resource.AccountPlanMaster}" />
        <style>

            .bootstrap-sf1 {
                padding: 5px;
                background-color: white !important;
            }
.forceBackground.desc{
    width: auto;
    float: left;
    padding: 5px;
    margin-right: 10px;
    font-size: 13px;
}

        </style>

   <!--    <apex:remoteobjects jsnamespace="JSObjects">

            <apex:remoteobjectmodel name="Task" fields="Id" jsshorthand="task">
                <apex:remoteobjectfield name="Subject" jsshorthand="subject" />
                <apex:remoteobjectfield name="Status" jsshorthand="status" />

            </apex:remoteobjectmodel>
 
            <apex:remoteobjectmodel name="AcctPlanNIProject__c" fields="Id" jsshorthand="niprojection">
                <apex:remoteobjectfield name="AcctPlanActionPlanID__c" jsshorthand="actionplan" />
                <apex:remoteobjectfield name="PropsProductOrServices__c" jsshorthand="productname" />
                <apex:remoteobjectfield name="NIRecuringType__c" jsshorthand="nirecurring" />
                <apex:remoteobjectfield name="NIStartMonth__c" jsshorthand="nistartmonth" />
                <apex:remoteobjectfield name="NIStartYear__c" jsshorthand="nistartyear" />
                <apex:remoteobjectfield name="DealProbability__c" jsshorthand="dealprob" />
                <apex:remoteobjectfield name="TypeOfNI__c" jsshorthand="typeOfNI" />
                <apex:remoteobjectfield name="TypeOfFee__c" jsshorthand="typeOfFee" />
                <apex:remoteobjectfield name="ExpectedNimRate__c" jsshorthand="nimrate" />
                <apex:remoteobjectfield name="ExpectedFeeRate__c" jsshorthand="feerate" />
                <apex:remoteobjectfield name="ExpectedIncrementalNIPerYear2Year__c" jsshorthand="ni2ndyear" />
                <apex:remoteobjectfield name="ExpectedIncrementalNIPerYear1Year__c" jsshorthand="ni1styear" />
                <apex:remoteobjectfield name="ExpectedIncremental__c" jsshorthand="expectin" />
                <apex:remoteobjectfield name="StandardInitiative__c" jsshorthand="standardin" />
                <apex:remoteobjectfield name="NonStandardInitiative__c" jsshorthand="nonstandardin" />
                <apex:remoteobjectfield name="ExpectedIncrementalFeePerYear1Year__c" jsshorthand="fee1styear" />
                <apex:remoteobjectfield name="ExpectedIncrementalFeePerYear2Year__c" jsshorthand="fee2ndyear" />
            </apex:remoteobjectmodel>

           <apex:remoteobjectmodel name="AcctPlanActivity__c" fields="Id" jsshorthand="activity">
                <apex:remoteobjectfield name="AccountPlanActionPlanID__c" jsshorthand="actionplan" />
                <apex:remoteobjectfield name="Group__c" jsshorthand="group" />
                <apex:remoteobjectfield name="Activities__c" jsshorthand="activities" />
                <apex:remoteobjectfield name="Date__c" jsshorthand="date" />
                <apex:remoteobjectfield name="CustomerCounterparties__c" jsshorthand="contact" />
                <apex:remoteobjectfield name="VisitPlan__c" jsshorthand="visit" />
            </apex:remoteobjectmodel>


            <apex:remoteobjectmodel name="AcctPlanStakeholder__c" fields="Id" jsshorthand="stakeholder">
                <apex:remoteobjectfield name="AcctPlanActivity__c" jsshorthand="activity" />
                <apex:remoteobjectfield name="User__c" jsshorthand="tmbcounterparties" />
            </apex:remoteobjectmodel>


            <apex:remoteobjectmodel name="Call_Report__c" fields="Id" jsshorthand="visit">
                <apex:remoteobjectfield name="Name" jsshorthand="visitplanname" />
                <apex:remoteobjectfield name="Status__c" jsshorthand="visitstatus" />
            </apex:remoteobjectmodel>

            <apex:remoteobjectmodel name="Contact" fields="Id" jsshorthand="contact">
                <apex:remoteobjectfield name="Name" jsshorthand="contactname" />
                <apex:remoteobjectfield name="Salutation__c" jsshorthand="contacttitle" />
                <apex:remoteobjectfield name="title" jsshorthand="contact2" />
            </apex:remoteobjectmodel>

            <apex:remoteobjectmodel name="User" fields="Id" jsshorthand="user">
                <apex:remoteobjectfield name="Name" jsshorthand="username" />
            </apex:remoteobjectmodel>    

        </apex:remoteobjects> -->
    </head>
    <body>
        <div class="bootstrap-sf1">
            <div id="responseErrors"></div>
            <apex:form id="frm" styleclass="form-horizontal">

                <div>

                    <div style="text-align: center; padding-bottom:3px;padding-bottom: 2%;">
                        <!-- <a  id="editbutton" class="btn  btn-success">Edit</a> -->
                           <apex:outputPanel rendered="{!if(ActionPlanID=='',true,false)}">
                           <a  id="newbutton" class="btn  btn-success">New</a> 
                       <!--   <apex:commandButton value="New" styleClass="btn btn-success"   tabindex="380" id="newbutton" /> -->
                           </apex:outputPanel>

                           
                        <apex:outputPanel rendered="{!if(ActionPlanID!='',true,false)}" >
                     
                       <a  id="editbutton" class="btn  btn-success">Edit</a> 
                      <!--  <apex:commandButton value="Edit" styleClass="btn btn-success" id="editbutton" onclick="editbutton();" tabindex="380"  /> -->
                        </apex:outputPanel>
                         <td >&nbsp;</td> <apex:commandButton value="Close" styleClass="btn btn-success" onclick="closepopup();" tabindex="380"  />
                    </div>
                    

                    <div>

                        <table class="table table-striped table-hover" style="width:30%;" id="objectivetable">
                                      
                            <tr><td class="forceBackground text-left" >Domain
                            <c:II_Helptext SobjectName="AcctPlanWalletByDomain__c" FieldApiName="WalletDomain__c" />   
                            </td>
                            <td style="text-align:left;">
                            <!--<apex:outputText value="{!DomainName1}" rendered="{!if(Domain=='1',true,false)}"/>
                            <apex:outputText value="{!DomainName2}" rendered="{!if(Domain=='2',true,false)}"/>
                            <apex:outputText value="{!DomainName3}" rendered="{!if(Domain=='3',true,false)}"/>
                            <apex:outputText value="{!DomainName4}" rendered="{!if(Domain=='4',true,false)}"/> -->
                           <!--  <apex:repeat value="{!DomainMap}" var="key">
                               <apex:outputField value="{!DomainMap[Domain].DomainName__c}" rendered="{!if(Domain==key,true,false)}" />
                                </apex:repeat> -->
                               <!--  <apex:outputText value="{!DomainMap2[Domain]}"  /> -->
                            {!Domain}
                            </td>
                            </tr><tr>
                            <td class="forceBackground text-left">Sub Domain
                            <c:II_Helptext SobjectName="AcctPlanWalletByDomain__c" FieldApiName="SubDomain__c" />
                            </td>
                            <td style="text-align:left;">{!Sub}</td>
                            </tr><tr>
                            <td class="forceBackground text-left">Type of NI
                            <c:II_Helptext SobjectName="AcctPlanWalletByDomain__c" FieldApiName="TypeOfNI__c" />
                            </td>
                            <td style="text-align:left;">{!Type}</td>
                            </tr><tr>
                              <td class="forceBackground text-left" >Objective
                              <c:II_Helptext SobjectName="AcctPlanActionPlan__c" FieldApiName="Objective__c" />
                              </td>
                            <td style="text-align:left;">{!Objective}</td>
                            </tr><tr>
                            <td class="forceBackground text-left">Status
                            <c:II_Helptext SobjectName="AcctPlanActionPlan__c" FieldApiName="Status__c" />
                            </td>
                            <td style="text-align:left;">{!Status}</td>
                            </tr><tr>
                            <td class="forceBackground text-left">Winning Propostion
                             <c:II_Helptext SobjectName="AcctPlanActionPlan__c" FieldApiName="WinningPropostion__c" />
                            </td>
                            <td style="text-align:left;">{!Winning}</td>
                            </tr>
                            
                        

                        </table>
                    </div>


                    <div>
                        <table class="table table-striped table-hover" style="width:100%;" >
                            <thead>
                                <tr>
                                    <th colspan="2">
                                        Selection Activities
                                    </th>
                                    <th style="border:none;background-color:white;">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6  col-lg-6" style="width:100%;"></div>
                                        </div>
                                    </th>

                                    <th style="border:none;background-color:white;">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6  col-lg-6" style="width:100%;"></div>
                                        </div>
                                    </th>
                                </tr>

                               <tr>

                                            <th>Group
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="Group__c" />
                                            </th>
                                            <th style="width: 30%;">Activity
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="Activities__c" />
                                            </th>
                                            <th>Date
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="Date__c" />
                                            </th>
                                            <th>Customer Counterparty
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="CustomerCounterparties__c" />
                                            </th>
                                            <th>TMB Counterparties
                                            <c:II_Helptext SobjectName="AcctPlanStakeholder__c" FieldApiName="User__c" />
                                            </th>
                                            <th>Visit / Task
                                            <c:II_Helptext SobjectName="AcctPlanActivity__c" FieldApiName="TaskId__c" />
                                            </th>
                                            <th>Visit / Task Status
                                             <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Task/Visit Report Status after user has converted the selected activity" />   
                                            </th>  
                                        </tr>  

                            </thead>
                           
                            <tbody>
                       
                                        <apex:repeat value="{!actionactivityList}" var="crc" >
                                           
                                            <tr>
                                                <td style="text-align:left;"><apex:outputField value="{!crc.Group__c}" /></td>
                                                <td style="text-align:left;">
                                                    <apex:outputField value="{!crc.Activities__c}" />
                                                        <apex:outputpanel rendered="{!crc.CheckOther__c=='Y'}">
                                                        <span> : </span>
                                                        <apex:outputField value="{!crc.Other__c}"/>
                                                    </apex:outputpanel>
                                                </td>
                                                <td><apex:outputField value="{!crc.Date__c}" /></td>
                                                <td><apex:outputField value="{!crc.CustomerCounterparties__c}" /></td>
                                                <td style="text-align:left;">
                                                    <apex:repeat value="{!StakeHolderMap[crc.id]}" var="stakeholder"  >
                                                       <apex:outputfield value="{!stakeholder.User__r.Name}"/><br/>
                                                        </apex:repeat>
                                                    
                                                    </td>
                                                <td><apex:outputField value="{!crc.Visit_Plan_Report__c}" rendered="{!IF(crc.Visit_Plan_Report__c != null,true,false)}" />
                                                <apex:repeat value="{!TaskMap[crc.TaskId__c]}" var="t"  rendered="{!IF(crc.TaskId__c != null,true,false)}">
                                            
                                                    <a href="{!Url}/{!t.Id}" >
                                                     <apex:outputfield value="{!t.Subject}"/>
                                                     </a>
                                                        </apex:repeat> 
                                                        </td>
                                                
                                                <td><apex:outputField value="{!crc.Visit_Plan_Report__r.Status__c }" rendered="{!IF(crc.Visit_Plan_Report__c != null,true,false)}"/>
                                                 <apex:repeat value="{!TaskMap[crc.TaskId__c]}" var="t" rendered="{!IF(crc.TaskId__c != null,true,false)}" >
                                                       <apex:outputfield value="{!t.Status}"/>
                                                        </apex:repeat> 
                                                        </td>
                                                
                                                
                                            </tr>
                                        </apex:repeat>
                            
                        
                            </tbody>
                        </table>
                    </div>
                    <br />
                    
                    

               
                    
                    <div>      
                        <table class="table " style="width:100%;" >
                            <thead>
                                <!-- comment by DA :29Aug2015 <tr>
                                    <th style="border:none;background-color:white;">
                                        &nbsp;</th>
                                    <th style="border:none;background-color:white;">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6  col-lg-6" style="width:100%;">
                                                    <button id="convertUI" class="btn btn-success">Convert to Opportunity</button>
                                            </div>
                                        </div>
                                    </th>
                                </tr> -->
                                <tr>
                                    <th colspan="3">NI projection </th>
                                    <th style="border:none ;background-color:white;">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6  col-lg-6" style="width:100%;">
                                                <!-- comment by DA :29Aug2015 <button id="addproductUI" class="btn btn-success">Add Products</button> -->
                                            </div>
                                        </div>
                                    </th>
                            <!--        <th style="border:none ;background-color:white;">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6  col-lg-6" style="width:100%;">
                                        
                                            </div>
                                        </div>
                                    </th>  

                                </tr>
                                <tr>
                                    <th colspan="8" style="border:none;background-color:white;">&nbsp;</th>
                                   <th colspan="5">Expected Incremental</th> -->
                                </tr>   
                             <tr>
                                                  <th>Group
                                                  <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="Group__c" />      
                                                   </th>
                                                <th>Proposed<br /> product<br /> or service     
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="PropsProductOrServices__c" />  
                                                   </th>
                                                   <th>Expected Incremental<br />Vol. (THB)/year  
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncremental__c" /> 
                                                   </th>
                                                   <th> </th>
                                                   <th>Type<br /> of NI/Fee    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="TypeOfNI__c" /> 
                                                   </th>
                                                    <th >NI/Fee-Recurring<br /> or One-off    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="NIRecuringType__c" /> 
                                                   </th>
                                                   
                                                   <th>Expected<br /> NIM/Fee rate<br /> (%)    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedNimRate__c" /> 
                                                   </th>
                                                   <th>Expected Incremental<br />NI/Fee per year <br />(first year)
                                                  <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncrementalNIPerYear1Year__c" /> 
                                                </th>
                                                <th>Expected Incremental<br />NI/Fee – Full Deal
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncrementalNIPerYear2Year__c" />
                                                </th>
                                                <th>NI/Fee <br />-Start<br /> month
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="NIStartMonth__c" />
                                                </th>
                                                <th>Deal <br />Probability(%)
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="DealProbability__c" />
                                                </th>                   
                                                <th>
                                                Opportunity      
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="Opportunity__c" />
                                                </th>   
                                                <th>
                                                Stage
                                                <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Opportunity Stage (e.g. Open, CA Prep, Approval Process, and so on)" />             
                                                </th>      
                                                
                                        </tr>  

                            </thead>
                            <tbody>

                            <apex:repeat value="{!NIProjectList}" var="crc" > 
                                    
                                      
                                           <tr>
                                                <td ><apex:outputField value="{!crc.GroupCount__c}" /></td>
                                                <td ><apex:outputfield value="{!crc.PropsProductOrServices__c}" /></td>
                                                <td  class="text-right"  ><apex:outputfield value="{!crc.ExpectedIncremental__c }" /></td>
                                                <td><strong>NI</strong></td>
                                                <td><apex:outputfield value="{!crc.TypeOfNI__c}" /></td>
                                                <td ><apex:outputfield value="{!crc.NIRecuringType__c}" /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedNimRate__c}" /></td>
                                                <td  class="text-right" ><apex:outputfield value="{!crc.ExpectedIncrementalNIPerYear1Year__c }"  /></td>
                                                <td class="text-right" ><apex:outputfield value="{!crc.ExpectedIncrementalNIPerYear2Year__c  }" /></td>                        
                                                <td><apex:outputfield value="{!crc.NIStartMonth__c}"/> <apex:outputfield value="{!crc.NIStartYear__c}"/></td>
                                                
                                                           <td rowspan="2"><apex:outputfield value="{!crc.DealProbability__c}" /></td>
                                                <td rowspan="2"><apex:outputField value="{!crc.Opportunity__c}" /></td>
                                                <td rowspan="2"><apex:outputField value="{!crc.Opportunity__r.StageName}" /></td>
                                            </tr>
                                            
                                        <tr>
                                            <td colspan="3" style="border:none; width:30%; text-align:left;">
                                                &nbsp; </td> 
                                            <td><strong>Fee</strong></td>
                                            <td><apex:outputfield value="{!crc.TypeOfFee__c}"  /></td>
                                            <td ><apex:outputfield value="{!crc.FeeRecuringType__c}" /></td>
                                            <td><apex:outputfield value="{!crc.ExpectedFeeRate__c}"  /></td>
                                            <td class="text-right" ><apex:outputfield value="{!crc.ExpectedIncrementalFeePerYear1Year__c}"  /></td>
                                            <td class="text-right" ><apex:outputfield value="{!crc.ExpectedIncrementalFeePerYear2Year__c }"  /></td>
                                            <td><apex:outputfield value="{!crc.FeeStartMonth__c}"/> <apex:outputfield value="{!crc.FeeStartYear__c}"/></td>
                                            
                                            </tr>
                                         <tr>
                                             <td colspan="1" style="border:none;text-align:left;min-width: 115px;">
                                                <div class="forceBackground desc float-left"><span><b>Strategy :</b>
                                                <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip"
                                              data-toggle="tooltip"
                                              data-delay='{"show":"0", "hide":"100"}'
                                              data-animation="false"
                                              data-placement="bottom"
                                              title="{!$ObjectType.AcctPlanNIProject__c.Fields.Description__c.inlineHelpText}" />
                                                  
                                              </span></div>
                                            </td> 
                                            <td colspan="10" style="border:none;text-align:left;">
                                                <span style="float:left;display: block;word-wrap: break-word;text-align:left;max-width:1000px;"><apex:outputText label="Description" value="{!crc.Description__c}" /></span>
                                            </td> 
                                        </tr>
                                        </apex:repeat>
                            
                         
                            </tbody>

                        </table>
                    </div>

                </div> <br/>
            </apex:form>
        </div>
<div id="loadingImage" class="Indicator">
            <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                    &nbsp;
                </div>
            <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                    <img src="/img/loading32.gif" />
                </div>
        </div>


        <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
        <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />

        <!-- <script type="text/javascript"
            src="http://momentjs.com/downloads/moment.min.js"></script>  

        <apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>  -->
<apex:includeScript value="/support/console/22.0/integration.js"/>
    </body>
<script>
                    var $j = jQuery.noConflict(); 
                    
                    var sfView = (function() {
            var indicator =  $j("#loadingImage");
            // All functions now have direct access to each other
            var onProcess = function(strmessage) { 
                indicator.removeClass('hidden');
            };
            var onComplete = function() {
                indicator.addClass('hidden');
            };      
            // Return the object that is assigned to Module
            return {
                onProcess: onProcess,
                onComplete: onComplete
            };
        }());

        function startLoading(){
            sfView.onProcess('Loading ...');
        }
        
        function endLoading(){
            sfView.onComplete();
        } 

                    var QueryString = function () {
                      // This function is anonymous, is executed immediately and 
                      // the return value is assigned to QueryString!
                      var query_string = {};
                      var query = window.location.search.substring(1);
                      var vars = query.split("&");
                      for (var i=0;i<vars.length;i++) {
                        var pair = vars[i].split("=");
                            // If first entry with this name
                        if (typeof query_string[pair[0]] === "undefined") {
                          query_string[pair[0]] = decodeURIComponent(pair[1]);
                            // If second entry with this name
                        } else if (typeof query_string[pair[0]] === "string") {
                          var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
                          query_string[pair[0]] = arr;
                            // If third or later entry with this name
                        } else {
                          query_string[pair[0]].push(decodeURIComponent(pair[1]));
                        }
                      } 
                        return query_string;
                    }();
                    

                   

        $j(document).ready(function () {
            endLoading();
            $j('[data-toggle="tooltip"]').tooltip(); 
            

       
            var param1= QueryString.WalletDomainID;
            /* param2= QueryString.Domain;
            var param3= QueryString.Sub;
            var param4= QueryString.Type; */
           // var link ="/apex/ActionPlanActivities?CompanyID={!CompanyID}&WalletDomainID="+param1+"&Domain="+param2+"&Sub="+param3+"&Type="+param4 ;
           var link ="/apex/ActionPlanActivities?CompanyID={!CompanyID}&WalletDomainID="+param1 ;
            var actplanid= "{!ActionPlanID}";
            //alert(actplanid);
            if(actplanid ==''){
            //alert(link);
            var b = document.getElementById('newbutton');
            b.href = link;
            }else{
            var a = document.getElementById('editbutton');
            a.href = link;
            }

            $j('#newbutton').click(function(){

                startLoading();     
            });

             $j('#editbutton').click(function(){

                startLoading();     
            });


            
            $j("#actionplanUI").on('click', function (event) {

                event.preventDefault();
                $j('#modalIframe').attr("src", '/apex/EdittableActionPlan');

                $j('#frmModel').modal({ show: true });
            });

            $j("#bookingUI").on('click', function (event) {

                event.preventDefault();
                $j('#modalIframe').attr("src", '/apex/ActivitiesToVisitReport');

                $j('#frmModel').modal({ show: true });
            });


            $j("#addproductUI").on('click', function (event) {

                event.preventDefault();
                $j('#modalIframe').attr("src", '/apex/NIProjectionProduct');

                $j('#frmModel').modal({ show: true });
            });

            $j("#convertUI").on('click', function (event) {

                event.preventDefault();
                $j('#modalIframe').attr("src", '/apex/ConvertToOpportunity');

                $j('#frmModel').modal({ show: true });
            });

            $j("#editNIProjectionUI").on('click', function (event) {

                event.preventDefault();
                $j('#modalIframe').attr("src", '/apex/EditNIProjection');

                $j('#frmModel').modal({ show: true });
            });


            $j('#frmModel').on('show.bs.modal', function () {
                $j(this).find('.modal-body').css({
                    // 'max-height':'800px'
                });
            });

            $j('#frmModel').on('hidden.bs.modal', function (e) {
                // do something...
                //actionplantable.hide();
                //actionplantable.empty();

               // actionplanobj.getData(actionplanCallback);
                //actionplantable.show();

            });


        });





       function closepopup(){
       window.opener.location.reload();
       window.close();
       }
        

    </script>
</apex:page>