<apex:page controller="AccountPlanActionPlanConvert" docType="html-5.0" showChat="false" showHeader="false" sidebar="false"
    applyBodyTag="false" applyHtmlTag="true" standardStylesheets="true">
<head>
        <title></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Static Resource -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
          <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
        <![endif]-->        
        
        <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>
         <apex:stylesheet value="{!$Resource.AccountPlanEditTable}" />
        <style>
        
.dateOnlyInput .dateFormat {
    display: none;
    position: absolute;
    top: 25px;
    right: 39px;
}

body{
    overflow-y: auto !important;
    
    }
html{
    overflow-y: auto !important;
    }
.bPageBlock {
    display:table;
}    
.forceBackground.desc{
    width: auto;
    float: left;
    padding: 5px;
    margin-right: 10px;
    font-size: 13px;
}
        </style>
        
        
          <script>
       
         


                     function callclose(){
                         window.parent.closeModal();
                }
                


                  
</script>
    </head>

    <body>  
    

    
        <div class="bootstrap-sf1" >
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <apex:form id="frm">        
                             
                        <apex:pageMessages id="messages"/>                          
                            <apex:pageBlock title="Opportunity Details" id="childList">  
                               <apex:outputText escape="false" value="{!jsScript}"> </apex:outputText>
                            <apex:actionFunction name="doconvert" action="{!doconvert}" status="status" />   
                          
                                 <apex:actionstatus id="status">
                                                    <apex:facet name="start">
                                                        <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                                                            &nbsp;
                                                        </div>
                                                        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                                                            <img src="/img/loading32.gif" />
                                                        </div>
                                                    </apex:facet>
                          </apex:actionstatus>                    
                            <div>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th colspan="3" style="text-align:left;" >Opportunity Detail : 
                                            <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Opportunity Details" />   
                                            </th> <th style="text-align:left;">
                                             <apex:inputfield style="color:#000000; font-weight:normal" value="{!Oppty.Name}" /> 
                                        
                                           </th>   
                                        </tr> 
                                        

                                        
                                        
                                        <tr>
                                        <th colspan="3" style="text-align:left;">Opportunity Type : 
                                        <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Type of the Opportunity - Credit or Non Credit" />  
                                        </th> <th style="text-align:left;">
                                        <apex:inputfield style="color:#000000; font-weight:normal" value="{!Oppty.OpportunityTypeForNI__c}" required="true"/>    
                                         
                                      <!--   <apex:selectList value="{!OptType}" id="Opportunity_Type" style="color:#000000; font-weight:normal" required="true"  size="1">
                                         <apex:selectOptions value="{!items}"/>
                            
                                         </apex:selectList> 
            -->
                                        </th>   
                                        </tr>
                                        
                                        
                                         <tr>
                                                    
                                                    <th colspan="3" style="text-align:left;">Expected submit date :
                                                    <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Opportunity's Expected Submit Date" /> 
                                                    </th> <th style="text-align:left;">
                                                    <apex:inputfield style="color:#000000; font-weight:normal" value="{!Oppty.Expected_submit_date__c }" required="true"/>
                                                 
                                                     </th>
                                         </tr>
                                         <tr>
                                                        <th colspan="3" style="text-align:left;">Expected completed date :
                                                        <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Opportunity's Expected Complete Date" /> 
                                                        </th >
                                                        <th style="text-align:left;" > 
                                                        <apex:inputfield style="color:#000000; font-weight:normal" value="{!Oppty.CloseDate}" required="true"/> 
                                                   
                                                        </th>
                                                <th colspan="2" class="text-right bs-component" style="border:none;background-color:white;">
                                                <apex:commandButton value="Convert To Opportunity" styleClass="btn  btn-primary" style="margin-right:45px;" onclick="doconvert();"  rerender="messages,childList"  status="status" /> 
                                                 <!--   <apex:actionSupport event="onchange"  action="{!resetFilter}" rerender="AccntTable" status="ajaxStatus" oncomplete="clearIframe();"/> 
                                                  <apex:actionsupport event="onclick" action="{!doconvert}" oncomplete="callclose();" immediate="false"/>
                                                </apex:commandButton>    -->
                                                <th colspan="4" class="text-left" style="border:none;background-color:white;"></th>    

                                                
                                             </th>
                                           
                                                        
                                                        </tr>
                                        <tr>
                               <th >Selection 
                               <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Opportunity's Expected Complete Date" /> 
                                                     </th>
                                      <!--             <th>Proposed<br /> products<br /> or services      
                                                   </th>
                                                <th >Opportunity Vol.<br />(THB)  
                                                   </th>
                                                   <th>Expected Incremental<br />Vol. (THB)/year  
                                                   </th>
                                                   <th>Type<br /> of NI    
                                                   </th>
                                                   <th>Expected<br /> Nim rate<br /> (%)    
                                                   </th>
                                                   <th>Expected Incremental<br />NI per year <br />(first year)
                                                </th>
                                                <th>Expected Incremental<br />NI per year<br /> (2nd year<br /> onward)
                                                </th>
                                                <th>NI <br />-Start<br /> month
                                                </th>
                                                <th>Type<br /> of <br />Fee
                                                </th>
                                                <th>Expected<br /> fee <br />rate (%)
                                                </th>
                                                <th>Expected Incremental<br />fee income<br /> per year<br /> (first year)
                                                </th>
                                                <th>Expected Incremental<br />fee per<br /> year (2nd year<br /> onward)
                                                </th>
                                                <th>Fee <br />-Start<br /> month
                                                </th>
                                                <th>Deal <br />Probability(%)
                                                </th>       -->
                                                
                                       <!--          <th>Group      
                                                   </th>
                                                <th>Proposed<br /> products<br /> or services      
                                                   </th>
                                                   <th >Opportunity Vol.<br />(THB)  
                                                   </th>
                                                   <th>Expected Incremental<br />Vol. (THB)/year  
                                                   </th>
                                                   <th> </th>
                                                   <th>Type<br /> of NI/Fee    
                                                   </th>
                                                    <th >NI/Fee-Recurring<br /> or One-off    
                                                   </th>
                                                   
                                                   <th>Expected<br /> NIM/Fee rate<br /> (%)    
                                                   </th>
                                                   <th>Expected Incremental<br />NI/Fee per year <br />(first year)
                                                </th>
                                                <th>Expected Incremental<br />NI/Fee per year<br /> (2nd year<br /> onward)
                                                </th>
                                                <th>NI/Fee <br />-Start<br /> month
                                                </th>
                                                <th>Deal <br />Probability(%)
                                                </th>                   
                                   -->
                                   
                                   <th>Group
                                                  <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="Group__c" />      
                                                   </th>
                                                <th>Proposed<br /> product<br /> or service     
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="PropsProductOrServices__c" />  
                                                   </th>
                                            		<th >Expected Vol.<br/>(THB) – Full Deal
                                                   <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Expected Vol./Limit of the selected Product" />    
                                                   </th>
                                                   <th>Expected Incremental<br />Vol. (THB)/year  
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncremental__c" /> 
                                                   </th>
                                                   <th> </th>
                                                   <th>Type<br /> of NI/Fee    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="TypeOfNI__c" /> 
                                                   </th>
                                                    <th >NI/Fee-Recurring<br /> or One-off    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="NIRecuringType__c" /> 
                                                   </th>
                                                   
                                                   <th>Expected<br /> NIM/Fee rate<br /> (%)    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedNimRate__c" /> 
                                                   </th>
                                                   <th>Expected Incremental<br />NI/Fee per year <br />(first year)
                                                  <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncrementalNIPerYear1Year__c" /> 
                                                </th>
                                            	<th>Expected Incremental<br/>NI/Fee - Full Deal
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncrementalNIPerYear2Year__c" />
                                                </th>
                                                <th>NI/Fee <br />-Start<br /> month
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="NIStartMonth__c" />
                                                </th>
                                                <th>Deal <br />Probability(%)
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="DealProbability__c" />
                                                </th>
                                                
                                                
                                              <!--  <th > Unit Price  
                                                   </th> -->
                                                <!-- comment by DA :28Aug2015 <th > &nbsp;
                                                   </th> -->
                                        </tr>
                                    </thead>
                                            
                                    <tbody id="childlistbody">
                                       
                                        
                                     <apex:repeat value="{!NIProjectListNoOpt}" var="crc" >    
                                <tr class="dataRow">
                                   <td style="text-align:center;" rowspan="2">  <apex:inputCheckbox value="{!crc.isConvert__c}" />  </td>
                                              <td style="display:none;" rowspan="2"><apex:inputField value="{!crc.Id    }" required="true" /></td>
                               <!--          <td><apex:outputField value="{!crc.PropsProductOrServices__c}" /></td>
                                                <td><apex:inputfield value="{!crc.UnitPrice__c}" /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedIncremental__c }" /></td>
                                                <td><apex:outputfield value="{!crc.TypeOfNI__c}" /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedNimRate__c}" /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedIncrementalNIPerYear1Year__c }"  /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedIncrementalNIPerYear2Year__c  }" /></td>                        
                                                <td><apex:outputfield value="{!crc.NIStartMonth__c}"/> <apex:outputfield value="{!crc.NIStartYear__c}"/></td>
                                                <td><apex:outputfield value="{!crc.TypeOfFee__c}"  /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedFeeRate__c}"  /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedIncrementalFeePerYear1Year__c}"  /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedIncrementalFeePerYear2Year__c }"  /></td>
                                                <td><apex:outputfield value="{!crc.FeeStartMonth__c}"/> <apex:outputfield value="{!crc.FeeStartYear__c}"/></td>
                                                <td><apex:outputfield value="{!crc.DealProbability__c}" /></td>   -->
                                                
           
                                                <td ><apex:outputField value="{!crc.Group__c}" /></td>
                                                <td><apex:outputfield value="{!crc.PropsProductOrServices__c}" /></td>
                                                <td><apex:inputfield value="{!crc.UnitPrice__c}" /></td>
                                                <td class="text-right"><apex:outputfield value="{!crc.ExpectedIncremental__c }" /></td>
                                                <td><strong>NI</strong></td>
                                                <td><apex:outputfield value="{!crc.TypeOfNI__c}" /></td>
                                                <td ><apex:outputfield value="{!crc.FeeRecuringType__c}" /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedNimRate__c}" /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedIncrementalNIPerYear1Year__c }"  /></td>
                                                <td><apex:outputfield value="{!crc.ExpectedIncrementalNIPerYear2Year__c  }" /></td>                        
                                                <td><apex:outputfield value="{!crc.NIStartMonth__c}"/> <apex:outputfield value="{!crc.NIStartYear__c}"/></td>
                                                
                                                 <td rowspan="2"><apex:outputfield value="{!crc.DealProbability__c}" /></td>
                                           
                                            </tr>
                                            
                                        <tr>
                                        <td colspan="4" style="border:none;text-align:left;">
                                              <!--  <div class="forceBackground desc float-left"><span><b>Strategy :</b></span></div>
                                                <span style="float: left;display: block;width: 60%;"><apex:outputText label="Description" value="{!crc.Description__c}" /></span> -->
                                            </td>
                                            <td><strong>Fee</strong></td>
                                            <td><apex:outputfield value="{!crc.TypeOfFee__c}"  /></td>
                                            <td ><apex:outputfield value="{!crc.FeeRecuringType__c}" /></td>
                                            <td><apex:outputfield value="{!crc.ExpectedFeeRate__c}"  /></td>
                                            <td><apex:outputfield value="{!crc.ExpectedIncrementalFeePerYear1Year__c}"  /></td>
                                            <td><apex:outputfield value="{!crc.ExpectedIncrementalFeePerYear2Year__c }"  /></td>
                                            <td><apex:outputfield value="{!crc.FeeStartMonth__c}"/> <apex:outputfield value="{!crc.FeeStartYear__c}"/></td>
                                            
  
                        
                                </tr>
                                 <tr>
                                             <td colspan="1" style="border:none;text-align:left;min-width: 115px;">
                                                <div class="forceBackground desc float-left"><span><b>Strategy :</b>
                                                <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip"
                                              data-toggle="tooltip"
                                              data-delay='{"show":"0", "hide":"100"}'
                                              data-animation="false"
                                              data-placement="bottom"
                                              title="{!$ObjectType.AcctPlanNIProject__c.Fields.Description__c.inlineHelpText}" />
                                                  
                                              </span></div>
                                            </td> 
                                            <td colspan="11" style="border:none;text-align:left;">
                                                <span style="float:left;display: block;word-wrap: break-word;text-align:left;max-width: 1000px;"><apex:outputText label="Description" value="{!crc.Description__c}" /></span>
                                            </td> 
                                        </tr>
                                    </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                                                      
                                                    
                 </apex:pageBlock>
              
                    </apex:form>            
                </div>              
            </div>
        </div>
 </body> 
    <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
    <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />

<script>
        var $j = jQuery.noConflict();           
                // Ready Event  
               $j(document).ready( function () {
                        
                    $j('[data-toggle="tooltip"]').tooltip(); 
                    
                    
                    });   

</script>
      
</apex:page>