<apex:page extensions="editNIProjectionCtrl" standardController="AcctPlanNIProject__c" docType="html-5.0" showChat="false" showHeader="false" sidebar="false"
    applyBodyTag="false" applyHtmlTag="true" standardStylesheets="true">
<head>
        <title></title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Static Resource -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
          <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
        <![endif]-->        
        
        <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>
        <apex:stylesheet value="{!URLFOR($Resource.AccountPlanEditTable)}"/>
        <style>
        
.dateOnlyInput .dateFormat {
    display: none;
    position: absolute;
    top: 25px;
    right: 39px;
}
.bPageBlock {
    diaplay:table;
}

.forceBackground.desc{
    width: auto;
    float: left;
    padding: 5px;
    margin-right: 10px;
    font-size: 13px;
}
.mainsection{
    /*background-color: #eee !important;*/
    border-top: 2px solid #dadee2 !important;
}
        </style>
    </head>

    <body>  
        <div class="bootstrap-sf1" >
            <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <apex:form >        

                        <apex:pageMessages id="messages"/>                          
                            <apex:pageBlock title="Edit NI Projections" id="childList" >    
                            
                            <apex:actionFunction name="dosave" action="{!dosave}" status="status" />
                                 <apex:actionstatus id="status">
                                                    <apex:facet name="start">
                                                        <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                                                            &nbsp;
                                                        </div>
                                                        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                                                            <img src="/img/loading32.gif" />
                                                        </div>
                                                    </apex:facet>
                          </apex:actionstatus>           
                            
                                                
                            <div>
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                           <th colspan="16" class="text-right bs-component" style="border:none;background-color:white;">
                                                <apex:commandButton value="Save" styleClass="btn  btn-primary" style="margin-right:45px;"  onclick="dosave();"  rerender="messages,childList" status="status"  />
                                                 </th>                       
                                        </tr>
                                        <tr>
                                
                                                

                                                   
                                                   <th>Group
                                                  <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="Group__c" />      
                                                   </th>
                                                <th>Proposed<br /> product<br /> or service     
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="PropsProductOrServices__c" />  
                                                   </th>
                                                   <th>Expected Incremental<br />Vol. (THB)/year  
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncremental__c" /> 
                                                   </th>
                                                   <th> </th>
                                                   <th>Type<br /> of NI/Fee    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="TypeOfNI__c" /> 
                                                   </th>
                                                    <th >NI/Fee-Recurring<br /> or One-off    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="NIRecuringType__c" /> 
                                                   </th>
                                                   
                                                   <th>Expected<br /> NIM/Fee rate<br /> (%)    
                                                   <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedNimRate__c" /> 
                                                   </th>
                                                   <th>Expected Incremental<br />NI/Fee per year <br />(first year)
                                                  <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncrementalNIPerYear1Year__c" /> 
                                                </th>
                                                <th>Expected Incremental<br/>NI/Fee - Full Deal
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="ExpectedIncrementalNIPerYear2Year__c" />
                                                </th>
                                                <th>NI/Fee <br />-Start<br /> month
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="NIStartMonth__c" />
                                                </th>
                                                <th>Deal <br />Probability(%)
                                                <c:II_Helptext SobjectName="AcctPlanNIProject__c" FieldApiName="DealProbability__c" />
                                                </th>
                                                <th></th>
                                                
                                        </tr>
                                    </thead>
                                            
                                    <tbody id="childlistbody">
                                       
                                        <apex:variable var="rowNum" value="{!ZERO}" />
                                     <apex:repeat value="{!children}" var="crc">    
                                <tr class="dataRow">
                                    
                                      
                                    
                                                <td class="mainsection"><apex:inputfield value="{!crc.Group__c}" /></td>
                                                 <td class="mainsection"><div style="width: 80px;">{!crc.PropsProductOrServices__c}</div></td>
                                                <td class="mainsection text-right"><apex:inputfield value="{!crc.ExpectedIncremental__c }" style="width: 90px;"/></td>
                                                <td class="mainsection"><strong>NI</strong></td>
                                                <td class="mainsection"><apex:inputfield value="{!crc.TypeOfNI__c}" style="width:75px;"/></td>
                                                <td class="mainsection"><apex:inputfield value="{!crc.NIRecuringType__c}" /></td>
                                                <td class="mainsection"><apex:inputfield value="{!crc.ExpectedNimRate__c}" style="width: 75px;"/></td>
                                                <td class="mainsection"><apex:inputfield value="{!crc.ExpectedIncrementalNIPerYear1Year__c }"  style="width: 90px;"/></td>
                                                <td class="mainsection"><apex:inputfield value="{!crc.ExpectedIncrementalNIPerYear2Year__c  }" style="width: 90px;"/></td>                        
                                                <td class="mainsection"><apex:inputfield value="{!crc.NIStartMonth__c}" style="width: 80px;" /><br/>
                                              
                                              <apex:selectList value="{!crc.NIStartYear__c}" multiselect="false" size="1" style="width: 80px;">
                                                    <apex:selectOptions value="{!fiscalYear}" />
                                                 </apex:selectList>
                                                </td>
                                                
                                                <td rowspan="2" class="mainsection"><apex:inputfield value="{!crc.DealProbability__c}" style="width:75px;"/></td>
                                            <td rowspan="2" class="mainsection">
                                                    <apex:variable var="rowNum" value="{!rowNum + 1}" />  
                                                    <apex:commandLink value="Delete" action="{!removeFromList}" onclick="if(!confirm('Are you sure you want to delete this item?')) return false;" status="status" styleClass="btn btn-danger" rerender="childList, messages" immediate="true" rendered="{!if(crc.Opportunity__c=='',true,false)}">
                                                      <apex:param name="removeIndex" assignTo="{!removeIndex}" value="{!rowNum}" />
                                                    </apex:commandLink>
                                                </td>
                                            </tr>
                                            
                                        <tr>
                                            <td colspan="3" style="border:none;">
                                                &nbsp;</td>
                                            <td><strong>Fee</strong></td>
                                            <td><apex:inputfield value="{!crc.TypeOfFee__c}"   style="width: 75px;"/></td>
                                            <td ><apex:inputfield value="{!crc.FeeRecuringType__c}" /></td>
                                            <td><apex:inputfield value="{!crc.ExpectedFeeRate__c}"  style="width: 75px;"/></td>
                                            <td><apex:inputfield value="{!crc.ExpectedIncrementalFeePerYear1Year__c}"  style="width: 90px;"/></td>
                                            <td><apex:inputfield value="{!crc.ExpectedIncrementalFeePerYear2Year__c }"  style="width: 90px;"/></td>
                                            <td><apex:inputfield value="{!crc.FeeStartMonth__c}" style="width: 80px;"/><br/>
                                             <!--<apex:inputfield value="{!crc.FeeStartYear__c}"/>-->
                                             <apex:selectList value="{!crc.FeeStartYear__c}" multiselect="false" size="1" style="width: 80px;">
                                                    <apex:selectOptions value="{!fiscalYear}" />
                                                 </apex:selectList>
                                             </td>
                                            
                                         
                                    
                                    
                                </tr>
                                                                           <tr> 
                                           <td colspan="11" style="border:none;">
                                                <div class="forceBackground desc"><span><b>Strategy :</b>
                                                  <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip"
                                              data-toggle="tooltip"
                                              data-delay='{"show":"0", "hide":"100"}'
                                              data-animation="false"
                                              data-placement="bottom"
                                              title="{!$ObjectType.AcctPlanNIProject__c.Fields.Description__c.inlineHelpText}" />
                                                </span></div>
                                                <apex:inputTextarea label="Description" style="resize:vertical ;" value="{!crc.Description__c}" cols="120" rows="4" />
                                            </td>
                                                                           
                                                                           </tr>                                        
                                    </apex:repeat>
                                    </tbody>
                                </table>
                            </div>
                                                      
                                                    
                        </apex:pageBlock>
                    </apex:form>            
                </div>              
            </div>
        </div>
 </body> 
    <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
    <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />

        <apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>

<apex:includeScript value="/support/console/22.0/integration.js"/>
        <script>
        var $j = jQuery.noConflict();
        
        $j(document).ready( function () {   
                $j('[data-toggle="tooltip"]').tooltip(); 
         });       

                    function callclose(){
                    window.parent.closeModal();
                    
                    }
</script>
</apex:page>