<apex:page standardcontroller="Contact" extensions="ContactUpdateExtensionV3" title="Update Contact" applyBodyTag="false" 
tabStyle="Contact" sidebar="false" standardstylesheets="true" id="thePage" 
doctype="html-5.0" showHeader="false">
    <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Piyawat Pitakpawatkul" />
         <!-- Include -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
        <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
        <apex:includeScript value="/support/console/34.0/integration.js"/>
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>
        <!-- fix for sf1 mobile font like native -->
        <style type="text/css">
            /*
            .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1800;
            }
            .loader {
            background: url('/img/loading32.gif') scroll no-repeat 0 0;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 50%;
            }
            */
            .red-label {
            list-style: none;
            color: #f00;
            }
            
            @font-face {
            font-family: 'ProximaNovaSoft-Regular';
            font-weight: normal;
            font-style: normal;
            
            src: url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.eot')}');
            src: url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.eot')}?#iefix') format('embedded-opentype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.woff')}') format('woff'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.ttf')}') format('truetype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.svg')}#proxima_nova_softregular') format('svg');
            }
            @font-face {
            font-family: 'ProximaNovaSoft-Medium';
            font-weight: normal;
            font-style: normal;
            src: url('../fonts/proximanovasoft-regular.eot');
            src: url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.eot')}?#iefix') format('embedded-opentype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.woff')}') format('woff'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.ttf')}') format('truetype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.svg')}#proxima_nova_softmedium') format('svg');
            }
            @font-face {
            font-family: 'icomoon';        
            src: url('{!URLFOR($Resource.fonts, 'icon-utility.eot')}');
            }      
            @font-face {
            font-family: 'icomoon';
            src: url("{!URLFOR($Resource.fonts, 'icon-utility.eot')}?#iefix") format("embedded-opentype"), url("{!URLFOR($Resource.fonts, 'icon-utility.woff')}") format("woff"), url("{!URLFOR($Resource.fonts, 'icon-utility.ttf')}") format("truetype"), url("{!URLFOR($Resource.fonts, 'icon-utility.svg')}#icomoon") format("svg");
            font-weight: normal;
            font-style: normal;
            }
            
        </style>
        <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>  
        <!-- Mobile fix -->
        <style type="text/css">
            @media (max-width: 500px) {
            
            .bootstrap-sf1 .form-horizontal .form-group {
            margin-left: -10px;
            margin-right: -10px;
            }
            .dateOnlyInput .dateFormat {
            
            top: 25px;
            
            }
            input[type="checkbox"], input[type="radio"] {
            
            height: 30px;
            width: 50px;
            }
            .bootstrap-sf1 .form-horizontal .checkbox{
            margin-bottom: 5px;
            }
            .bootstrap-sf1 .radio label, .bootstrap-sf1 .checkbox label {
            padding-left: 40px;
            }
            .bootstrap-sf1 .radio input[type="radio"], .bootstrap-sf1 .radio-inline input[type="radio"], .bootstrap-sf1 .checkbox input[type="checkbox"], .bootstrap-sf1 .checkbox-inline input[type="checkbox"] {
            position: absolute;
            margin-left: -45px;
            top:-5px;
            }
            
            .bootstrap-sf1{
            overflow: hidden;
            }
            .bootstrap-sf1 .container{
            padding-left :0px;
            padding-right:0px;
            }
            .bootstrap-sf1 .page-header[class*="context-"] {
                position: relative;
                padding-top: 14px;
                margin: -15px -15px 10px -15px;
            }
            
            
            }
            .bootstrap-sf1{
            background-color: #FFF;
            
            }
            
            /*<!-- Loading style -->*/
            
            
        </style>
        
        <!-- svg loader style -->
        <style>
            .Indicator{
            /*position : relative;*/
            }
            .Indicator.hidden {
            display: none;
            }
            .Indicator .modal-glass {
            background-color: #000000;
            bottom: 0;
            display: block;
            left: 0;
            margin-left: 0px;
            opacity: 0.3;
            position: fixed;
            right: 0;
            top: 0;
            height : 100%;
            z-index: 1999;
            
            }            
            .Indicator .hideEl {
            display: none;
            }
            .Indicator .indicatorContainer {
            background: none repeat scroll 0 0 #354452;
            border-radius: 5px;
            color: #FFFFFF;
            display: block;
            height: 82px;
            left: 0;
            margin: -65px auto;
            opacity: 0.9;
            padding-top: 22px;
            position: fixed;
            right: 0;
            text-align: center;
            top: 250px;
            width: 110px;
            z-index: 2000;
            }
            
            /*
            Set the color of the icon
            */
            svg path,
            svg rect {
            fill: #2A94D6;
            }
            
        </style>
              

    </head>
    
    <body>
        <!-- div id="load_scrl" class="loadingBox loader" style="display:none"></div>
        <div class="loadingBox overlay"></div --> 
        
           <div class="bootstrap-sf1"> 
             <div class="container">    
                <!--apex:sectionHeader title="Edit Contact"/-->
                <div class="page-header page-header-anchor context-contact">
                    <div class="container">
                        <h1>Edit Contact</h1>
                    </div>
                </div>
                
                <!-- apex:actionStatus onstart="startLoading('Updating...');" id="Status1" / -->
                
                <apex:Form onkeypress="return noenter(event);" id="theForm" styleClass="form-horizontal">  
            
                <!-- <apex:actionFunction action="{!save}" Rerender="statusMessage" status="Status1" name="doSave" oncomplete="if({!isUpdateSuccess}) {callviewContact(); }else{  loadComplete();}" /> -->
                    <apex:actionFunction action="{!saveSF1}" Rerender="statusMessage" status="Status1" name="doSave" oncomplete="if({!isUpdateSuccess}) {sforce.one.navigateToSObject('{!contact.Id}'); }else{  loadComplete();}"  />
                <!--    <apex:actionFunction action="{!viewContact}" name="viewContact"  /> -->
                <apex:actionFunction name="selectProvince" action="{!Provinceselected}" reRender="district" onComplete="loadComplete();" />
                <apex:actionFunction name="selectDistrict" action="{!DistrictSelected}" reRender="subdis" onComplete="loadComplete();" /> 
                <apex:actionFunction name="selectSubDistrict" action="{!SubDistrictSelected}" reRender="postcode" onComplete="loadComplete();" />
                <apex:actionFunction name="CountryChange" action="{!CheckCountry}" reRender="PhoneAddress" onComplete="loadComplete();" /> 
                <!-- apex:actionFunction name="selectProvince" action="{!Provinceselected}" reRender="district"  onComplete="endLoading();" />
                <apex:actionFunction name="selectDistrict" action="{!DistrictSelected}" reRender="subdis"  onComplete="endLoading();" /> 
                <apex:actionFunction name="selectSubDistrict" action="{!SubDistrictSelected}" reRender="postcode"  onComplete="endLoading();" />
                <apex:actionFunction name="CountryChange" action="{!CheckCountry}" reRender="PhoneAddress"  onComplete="endLoading();"  / --> 
            
                <!-- apex:PageBlock mode="edit" id="theBlock" -->
                <apex:outputPanel id="statusMessage">
                    <apex:pageMessages ></apex:pageMessages>
                </apex:outputPanel>            
                   
            <div class="text-center" style="margin-bottom:10px">
            <apex:commandButton value="Save" onclick="save();return false;" tabindex="370" styleClass="btn-lg btn-default" rendered="{!IsNotCoreBank}"/>
            <!-- apex:commandButton value="Save" action="{!save}" tabindex="370" styleClass="btn-lg btn-default" rendered="{!!IsNotCoreBank}" Rerender="statusMessage" status="Status1"/ -->
            <apex:commandButton value="Save" onclick="doSave();return false;" tabindex="370" styleClass="btn-lg btn-default" rendered="{!!IsNotCoreBank}" Rerender="statusMessage" status="Status1"/>
            &nbsp;<apex:commandButton value="Cancel" onclick="loadProcess('Loading ...');sforce.one.navigateToSObject('{!contact.ID}');return false;" tabindex="380" styleClass="btn-lg btn-default" />
            <!-- &nbsp;<apex:commandButton value="Cancel" action="{!cancel}" tabindex="380" styleClass="btn-lg btn-default" onClick="loadProcess('Loading ...');"/> -->
            </div>

            <header class="navbar navbar-default navbar-static-top navbar-branded" role="banner">
                <div class="container panel-heading">
                    <div class="navbar-header ">
                        <a data-toggle="collapse" aria-expanded="true" href="#collapse1" class="navbar-brand navbar-foundation-logo">
                            Contact Information
                        </a>
                    </div>
                </div>
            </header>

            <!--<apex:outputPanel rendered="{!isNotCoreBank}">-->
            <div class="card collapse in panel-collapse" id="collapse1" >
                <div class="card-detail">
                    <div class="row">
                        <apex:outputPanel rendered="{!isNotCoreBank}">
                        <!-- Salutation -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Salutation </label>
                                <apex:inputfield styleclass="form-control" value="{!contact.Salutation }" />
                            </div>
                        </div>

                        <!-- First Name -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">First Name <span class="red-label" id="namereddot">*</span></label>
                                <apex:inputfield styleclass="form-control" value="{!contact.FirstName }" />
                            </div>
                        </div>


                        <!-- Last name -->
                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Last name
                                <span class="red-label" id="namereddot">*</span></label>
                                <apex:inputfield styleclass="form-control" value="{!contact.Last_Name__c }" />
                            </div>
                        </div>



                        <!-- Date of Birth -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Date of Birth</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                                    </apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Date_of_Birth__c }" />
                                    </apex:outputPanel>
                            </div>
                        </div>
                        </apex:outputPanel>

                        <apex:outputPanel rendered="{!!isNotCoreBank}">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Name
                                <span class="red-label" id="namereddot">&emsp;</span></label>
                                <apex:outputField value="{!contact.Name }"  label="Customer Name/Company(TH)" /> 
                            </div>
                        </div>
                        </apex:outputPanel>
                    
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Customer Name
                                <span class="red-label" id="namereddot">*</span></label>
                                <apex:outputField value="{!contact.Account__c }"  label="Customer Name/Company(TH)" /> 
                            </div>
                        </div>
                        
                     
                        <!-- /.col-lg-6 -->
                        <!-- ID Type -->
                        <apex:outputPanel rendered="{!isNotCoreBank}">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">ID Type </label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                                    </apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                            <apex:inputfield styleclass="form-control" value="{!contact.ID_Type_PE__c }" />
                                    </apex:outputPanel>
                            </div>
                        </div>

                        <!-- ID number -->
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">ID number </label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                                    </apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.ID_Number_PE__c }" id="idNum"/>
                                    </apex:outputPanel>
                            </div>
                        </div>

                        <!-- Position -->
                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Position</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                                </apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Position__c }" />
                                </apex:outputPanel>
                            </div>
                        </div>

                        <!-- Authorized person of signature -->
                        <div class="col-md-12">
                            <!-- div class="form-group" -->
                            <apex:outputPanel rendered="{!!isVisible}">
                            <div class="checkbox">
                                <label>
                                    <apex:inputCheckbox value="{!hiddenText}" disabled="true" />
                                    Authorized person of signature
                                </label>
                            </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!isVisible}">
                            <div class="checkbox">
                                <label>
                                    <apex:inputCheckbox value="{!contact.Authorized_person_of_signature__c}" />
                                    Authorized person of signature
                                </label>
                            </div>
                            </apex:outputPanel>
                            
                        </div>
                        </apex:outputPanel>
                        <!-- Main contact -->
                        <div class="col-md-12">
                            <!-- div class="form-group" -->
                            <apex:outputPanel rendered="{!!isVisible}">
                            <div class="checkbox">
                                <label>
                                    <apex:inputCheckbox value="{!hiddenText}" disabled="true" />
                                    Main contact
                                </label>
                            </div>
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!isVisible}">
                            <div class="checkbox">
                                <label>
                                    <apex:inputCheckbox value="{!contact.Main_contact__c }" />
                                    Main contact
                                </label>
                            </div>                
                            </apex:outputPanel>
                            
                        </div>
                                               <!-- Contact Photo -->
                        <div class="col-md-12 depend" >
                    <!-- div class="form-group" -->
                            <div class="form-group">
                                <br><label class="control-label" for="focusedInput">Contact Photo</label></br>
                            <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            </apex:outputPanel>
                            <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputField styleclass="form-control" value="{!contact.Photo__c }"  />
                            </apex:outputPanel>
                            </div>
                        </div>

                    </div><!-- /.row -->

                </div>
            </div>
            <!--</apex:outputPanel>-->
            <!-- Section Contact Information for Corebank -->
            <!-- <apex:outputPanel rendered="{!!isNotCoreBank}">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="focusedInput">Name
                        <span class="red-label" id="namereddot">&emsp;</span></label>
                        <apex:outputField value="{!contact.Name }"  label="Customer Name" /> 
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label" for="focusedInput">Customer Name
                        <span class="red-label" id="namereddot">*</span></label>
                        <apex:outputField value="{!contact.Account__c }"  label="Customer Name" /> 
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <apex:inputfield value="{!contact.Main_contact__c }" />
                            Main contact
                        </label>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <br><label class="control-label" for="focusedInput">Contact Photo</label></br>
                        <apex:inputField styleclass="form-control" value="{!contact.Photo__c }" />
                    </div>
                </div>
            </apex:outputPanel> -->
            <!-- End Section Contact Information for Corebank -->

            <!--  Section Phone and Address -->

            <apex:outputPanel rendered="{!isNotCoreBank}">
            <header class="navbar navbar-default navbar-static-top navbar-branded" role="banner">
                <div class="container panel-heading">
                    <div class="navbar-header">
                        <a data-toggle="collapse" aria-expanded="false"
                           href="#collapse2" class="navbar-brand navbar-foundation-logo collapsed">
                            Phone &amp; Address
                        </a>
                    </div>
                </div>
            </header>
            <div class="card collapse " id="collapse2">
                <div class="card-detail">
                    <div class="row">

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Mobile No.</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputText maxlength="18" styleclass="form-control" value="{!contact.MobilePhone }" />
                                </apex:outputPanel>
                            </div>
                        </div>


                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Office No.</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputText maxlength="18" styleclass="form-control" value="{!contact.Phone }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Ext.</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputText maxlength="10" styleclass="form-control" value="{!contact.Primary_Phone_Ext_PE__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>


                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Fax No.</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputText maxlength="18" styleclass="form-control" value="{!contact.Fax }" />
                            	</apex:outputPanel>
                            </div>
                        </div>


                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Email</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Email}" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <!-- Start 
                            Edit By: I&I Narathip 
                            Date: 26-10-2018
                            CR: Commercial Campaign to PD & Failed Pre-screen
                        -->

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">{!$ObjectType.Contact.Fields.Facebook_ID__c.label}</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                    <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                    <apex:inputfield styleclass="form-control" value="{!contact.Facebook_ID__c}" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">{!$ObjectType.Contact.Fields.Line_ID__c.label}</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                    <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                    <apex:inputfield styleclass="form-control" value="{!contact.Line_ID__c}" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <!-- End 
                            Edit By: I&I Narathip 
                            Date: 26-10-2018
                            CR: Commercial Campaign to PD & Failed Pre-screen
                        -->


                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Address No</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.C_AddressLine1_PE__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>


                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Soi</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.C_AddressLine3_PE__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Street</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.C_AddressLine2_PE__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>
                        
                        <apex:outputPanel id="PhoneAddress">
                            <!-- Province -->
                            <div class="col-md-12 depend">
                                <div class="form-group">
                                    <label class="control-label" for="focusedInput">Province </label>
                                    <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                    <apex:outputPanel rendered="{!isVisible}">
                                        <apex:outputPanel rendered="{!IsCountryAsTH}">
                                        <apex:selectlist value="{!selectedProvince}" multiselect="false" size="1" id="province" onchange="provinceReset();" tabindex="140" styleClass="form-control">
                                            <apex:selectoptions value="{!ProvinceOptionList}"></apex:selectoptions>
                                        </apex:selectlist>
                                    </apex:outputPanel>
                                    <apex:inputField value="{!contact.C_Province_PE__c}" styleClass="form-control" rendered="{!IsOtherCountry}" taborderhint="17" />
                                
                            	</apex:outputPanel>
                                    </div>
                            </div>
    
                            <!-- District -->
                            <div class="col-md-12 depend">
                                <div class="form-group">
                                    <label class="control-label" for="focusedInput">District </label>
                                    <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                    <apex:outputPanel rendered="{!isVisible}">
                                        <apex:outputPanel rendered="{!IsCountryAsTH}">
                                        <apex:selectlist value="{!selectedDistrict}" multiselect="false" size="1" id="district" onchange="districtReset();" tabindex="140" styleClass="form-control">
                                            <apex:selectoptions value="{!DistrictOptionList}"></apex:selectoptions>
                                        </apex:selectlist>
                                    </apex:outputPanel>
                                    <apex:inputField value="{!contact.C_AddressLine5_PE__c}" styleClass="form-control" rendered="{!IsOtherCountry}" taborderhint="18" />
                                </apex:outputPanel>
                                    </div>
                            </div>
    
                            <!-- Sub District -->
                            <div class="col-md-12 depend">
                                <div class="form-group">
                                    <label class="control-label" for="focusedInput">Sub District </label>
                                     <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                     <apex:outputPanel rendered="{!isVisible}">
                                    <apex:outputPanel rendered="{!IsCountryAsTH}">
                                        <apex:selectlist value="{!selectedSubDistrict}" multiselect="false" size="1" id="subdis" onchange="subdisReset();" tabindex="140" styleClass="form-control">
                                            <apex:selectoptions value="{!SubDistrictOptionList}"></apex:selectoptions>
                                        </apex:selectlist>
                                    </apex:outputPanel>
                                    <apex:inputField value="{!contact.C_AddressLine4_PE__c}" styleClass="form-control" rendered="{!IsOtherCountry}" taborderhint="19" />
                                
                                    </apex:outputPanel>
                                </div>
                            </div>
    
                            <!-- Postal Code -->
                            <div class="col-md-12 depend">
                                <div class="form-group">
                                    <label class="control-label" for="focusedInput">Postal Code </label>
                                    <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                    <apex:outputPanel rendered="{!isVisible}">
                                    <apex:outputPanel rendered="{!IsCountryAsTH}">
                                        <apex:selectlist value="{!selectedPostcode}" multiselect="false" size="1" id="postcode" tabindex="140" styleClass="form-control">
                                            <apex:selectoptions value="{!PostcodeOptionList}"></apex:selectoptions>
                                        </apex:selectlist>
                                    </apex:outputPanel>
                                    <apex:inputField label="Postal Code" value="{!contact.C_Zipcode_PE__c}" styleClass="form-control" rendered="{!IsOtherCountry}" taborderhint="20"  />
                                </apex:outputPanel>
                                </div>
                            </div>
    
                            <!-- Country -->
                            <div class="col-md-12 depend">
                                <div class="form-group">
                                    <label class="control-label" for="focusedInput">Country </label>
                                    <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                    <apex:outputPanel rendered="{!isVisible}">
                                    <apex:selectlist value="{!selectedCountry}" multiselect="false" size="1" id="country" onchange="countryReset();" tabindex="140" styleClass="form-control">
                                        <apex:selectoptions value="{!CountriesOptionList}"></apex:selectoptions>
                                    </apex:selectlist>
                                </apex:outputPanel>
                                </div>
                            </div>
                        </apex:outputPanel>


                    </div><!-- /.row -->

                </div>
            </div>
            </apex:outputPanel>
            <!-- End Section Phone and Address -->
            <!--  Section Support Information -->
            <header class="navbar navbar-default navbar-static-top navbar-branded" role="banner">
                <div class="container panel-heading">
                    <div class="navbar-header">
                        <a data-toggle="collapse" aria-expanded="false"
                           href="#collapse3" class="navbar-brand navbar-foundation-logo collapsed">
                            Support Information
                        </a>
                    </div>
                </div>
            </header>
            <div class="card collapse" id="collapse3">
                <div class="card-detail">
                    <div class="row">

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Value Style</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Value_Style__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Difficult to deal</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Difficult_to_deal__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Decision Map 1</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Decision_Map__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Product Decision 1</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Product_Decision__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Decision Map 2</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Decision_Map2__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Product Decision 2</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Product_Decision_2_2__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Decision Map 3</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Decision_Map3__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>

                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Product Decision 3</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputfield styleclass="form-control" value="{!contact.Product_Decision_3_2__c }" />
                            	</apex:outputPanel>
                            </div>
                        </div>



                        <div class="col-md-12 depend">
                            <div class="form-group">
                                <label class="control-label" for="focusedInput">Description</label>
                                <apex:outputPanel rendered="{!!isVisible}">
                                            <apex:outputText styleclass="form-control" style="background-color:#DCDCDC" value="{!hiddenText}" />
                            	</apex:outputPanel>
                                <apex:outputPanel rendered="{!isVisible}">
                                <apex:inputTextarea styleclass="form-control" value="{!contact.Description2__c }" rows="3"/>
                            	</apex:outputPanel>
                            </div>
                        </div>


                    </div><!-- /.row -->

                </div>
            </div>
            <!-- End Section Support Information -->

            <br/> 
            <div class="text-center" style="margin-bottom:10px">
            <apex:commandButton value="Save" onclick="save();return false;" tabindex="370" styleClass="btn-lg btn-default" rendered="{!IsNotCoreBank}"/>
            <apex:commandButton value="Save" onclick="doSave();return false;" tabindex="370" styleClass="btn-lg btn-default" rendered="{!!IsNotCoreBank}" Rerender="statusMessage" status="Status1"/>
            <!-- apex:commandButton value="Save" action="{!save}" tabindex="370" styleClass="btn-lg btn-default" rendered="{!!IsNotCoreBank}" Rerender="statusMessage" status="Status1"/ -->
            &nbsp;<apex:commandButton value="Cancel" onclick="loadProcess('Loading ...');sforce.one.navigateToSObject('{!contact.ID}');return false;" tabindex="380" styleClass="btn-lg btn-default"/>
            <!-- &nbsp;<apex:commandButton value="Cancel" action="{!cancel}" tabindex="380" styleClass="btn-lg btn-default" onClick="loadProcess('Loading ...');"/>-->
            </div>
       <!-- /apex:PageBlock -->   
        <apex:inputHidden value="{!isIDValid}" id="isIDValid"  />  
        </apex:form>
          </div>
        </div>
        
        <!-- /Loadding ajax -->
        <div id="loadingImage" class="Indicator">
            <div class="modal-glass">&nbsp;</div>
            <div class="indicatorContainer" role="alert">
                <div class="loader" title="0">
                    <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="40px" height="40px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                        <path opacity="0.2" fill="#000" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
                                                           s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
                                                           c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z">
                        </path>
                        <path fill="#000" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
                                             C22.32,8.481,24.301,9.057,26.013,10.047z">
                            <animateTransform attributeType="xml" attributeName="transform" type="rotate" from="0 20 20" to="360 20 20" dur="0.5s" repeatCount="indefinite">
                            </animateTransform>
                        </path>
                    </svg>
                </div>
                <div id="Indicator-message">Loading ...</div>
            </div>
        </div>
        <!-- Loadding ajax -->
        
       <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> 
        <script type="text/javascript">
            $j = jQuery.noConflict();
            $j(document).ready(function () {
                $j("[id$=cust]").attr('disabled', 'disabled');
                setTimeout(function(){ sfView.onComplete()}, 1000);
            });

            var sfView = (function() {
                var indicator =  $j("#loadingImage");
                var msg = $j("#Indicator-message");
                // All functions now have direct access to each other
                var onProcess = function(strmessage) { 
                    msg.text(strmessage);
                    indicator.removeClass('hidden');
                };
                var onComplete = function() {
                    indicator.addClass('hidden');
                };      
                // Return the object that is assigned to Module
                return {
                    onProcess: onProcess,
                    onComplete: onComplete
                };
            }());
            /*
            function startLoading(text){
                $j('#load_scrl').css('top', $(document).scrollTop() + 200).html(text);
                $j('.loadingBox').show();
            }
            function endLoading(){
                $j('.loadingBox').hide();
            }
            */
            function noenter(ev)  {
                if (window.event && window.event.keyCode == 13 || ev.which == 13) {
                    save();
                    return false;
                } else {
                    return true;
                }
            }
            
            function save(){
                loadProcess('Updating ...');
                checkID();
                doSave();
            }
            
            function checkID()
            {
                var isValid = $j("[id$=isIDValid]");
                var id = $j("[id$=idNum]").val();
                if(id.length != 13) {
                    isValid.val(false);
                    
                    return false;
                }
                for(i=0, sum=0; i < 12; i++){
                    sum += parseFloat(id.charAt(i))*(13-i); 
                }
                
                if((11-sum%11)%10!=parseFloat(id.charAt(12))){
                    isValid.val(false);
                    return false;
                }
                isValid.val(true);  
                return true;
            }
            
            function loadProcess(msg){
                sfView.onProcess(msg);
            }
            function loadComplete(){
                sfView.onComplete();
            }
            /*
            function callinsertCallout(){
                loadProcess('Calling Webservice ...');
                insertCallout();
            }
            */
            function callviewContact(){
                loadComplete();
                window.setTimeout(viewContact,3000);
            }
            
            function provinceReset(){
                //$j('.loadingBox').show();
                loadProcess('Loading Data !!!');
                selectProvince();
                $j('[id$=district] option[value!=""]').remove();
                $j('[id$=subdis] option[value!=""]').remove();
                $j('[id$=postcode] option[value!=""]').remove();
                
                //document.getElementById('thePage:theForm:district').selectedIndex = 0;
                //var x = document.getElementById("thePage:theForm:district");
                //for(i=1;i<=x.length;i++) {
                //    x.remove();
                //}
                /* 
                document.getElementById('thePage:theForm:subdis').selectedIndex = 0;
                x = document.getElementById("thePage:theForm:subdis");
                for(i=1;i<=x.length;i++) {
                    x.remove();
                } 
                document.getElementById('thePage:theForm:postcode').selectedIndex = 0;
                x = document.getElementById("thePage:theForm:postcode");
                for(i=1;i<=x.length;i++) {
                    x.remove();
                } 
                */
            }
            function districtReset(){
                //$j('.loadingBox').show();
                loadProcess('Loading Data !!!');
                selectDistrict();
                $j('[id$=subdis] option[value!=""]').remove();
                $j('[id$=postcode] option[value!=""]').remove();
                /*
                document.getElementById('thePage:theForm:subdis').selectedIndex = 0;
                var x = document.getElementById("thePage:theForm:subdis");
                for(i=1;i<=x.length;i++) {
                    x.remove(i);
                } 
                document.getElementById('thePage:theForm:postcode').selectedIndex = 0;
                x = document.getElementById("thePage:theForm:postcode");
                for(i=1;i<=x.length;i++) {
                    x.remove(i);
                } 
                */
            }
            function subdisReset(){
                //$j('.loadingBox').show();
                loadProcess('Loading Data !!!');
                selectSubDistrict();
                $j('[id$=postcode] option[value!=""]').remove();
                /*
                document.getElementById('thePage:theForm:postcode').selectedIndex = 0;
                var x = document.getElementById("thePage:theForm:postcode");
                for(i=1;i<=x.length;i++) {
                    x.remove(i);
                } 
                */
            }
            function countryReset(){
                loadProcess('Loading Data !!!');
                CountryChange();
                //$j('.loadingBox').show();
            }
        
        
        </script>  
        

    </body>
</apex:page>