<apex:page standardController="Executive_Summary__c"  extensions="ExecutiveSummaryPDFCtrl" showHeader="false" sidebar="false" docType="html-5.0" id="thePage"  title="Executive Summary" action="{!SavePDF}" rendered="true">
<head>
    <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
    <apex:includeScript value="/support/console/28.0/integration.js"/>
    <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />

    <script type="text/javascript">
        $(document).ready(function(){
             if( (typeof sforce.one != 'undefined') && (sforce.one != null) ) {
                        console.log('SF1Mode');
                        //alert('{!pdfID}');
                        //savePDFfnc();
                        sforce.one.navigateToSObject('{!pdfID}');
                        //sforce.one.navigateToURL('../servlet/servlet.FileDownload?file={!pdfID}');

                    }else if(sforce.console.isInConsole()){
                        console.log('ConsoleMode');
                        sforce.console.setTabTitle('Executive Summary');
                        //savePDFfnc();
                    }else{
                        console.log('DesktopMode');
                        //savePDFfnc();
                    }
        });

        // function savePDFfnc(){
        //  savePDF();
        // }

    </script>

</head>
<body>
    <!-- <apex:outputPanel id="reIsDone">
        <apex:outputPanel rendered="{!isDone}">
            <script type="text/javascript">
                //sforce.one.navigateToURL('/{!a.Id}');
                        sforce.console.generateConsoleUrl('/apex/ExecutiveSummaryPDF?id={!ExecutiveSummaryID}');

            </script>
        </apex:outputPanel>
    </apex:outputPanel>
    <apex:form id="theForm">
        <apex:actionFunction name="savePDF" action="{!SavePDF}" reRender="reIsDone"/>
    </apex:form> -->
</body>
</apex:page>