<apex:page standardcontroller="Account" standardstylesheets="true" tabstyle="Account">
    <apex:sectionheader title="Account Create" subtitle="New Customer" />
    <apex:form >
        <apex:pageblock title="Account Detail">
            <apex:outputpanel id="statusMessage">
                <apex:outputText >You are not authorized!</apex:outputText>
              
            </apex:outputpanel>
           
        </apex:pageblock>
    </apex:form>
</apex:page>