<apex:page docType="html-5.0" showChat="false" 
    showHeader="false" sidebar="false" applyBodyTag="false" 
    applyHtmlTag="true"  standardStylesheets="true"
    standardController="AcctPlanGroupProfile__c" extensions="RevenueContributionEditatble"

    >
    <!-- Header -->
    <head>
    <title>Revenue / EBITDA Contribution</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Keattisak Chinburarat" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <!-- Static Resource -->
        <!--<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap.min.css')}"/>  -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
        <style>pre code { background: transparent; }</style>
        <!--[if lt IE 9]><script src="../dist/js/ie8-responsive-file-warning.js"></script><![endif]-->
        
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <apex:includeScript value="{!$Resource.AccountPlan_HTML5shiv}"/>
          <apex:includeScript value="{!$Resource.AccountPlan_Respond}"/>
        <![endif]-->        
        
        <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>
        <apex:stylesheet value="{!URLFOR($Resource.AccountPlanEditTable)}"/>
        <style>
            .tooltip-inner {
    white-space:pre-wrap;
}
 
	</style>
    </head>

    <body>  
        <div class="bootstrap-sf1" >
                <div class="row" >
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <apex:form >    
                        <apex:actionstatus id="status">
                                                    <apex:facet name="start">
                                                        <div class='overlay' style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; opacity: 0.75; z-index: 1000; background-color: #ededed;">
                                                            &nbsp;
                                                        </div>
                                                        <div style="position: fixed; left: 0; top: 0; bottom: 0; right: 0; z-index: 1001; margin: 15% 50%">
                                                            <img src="/img/loading32.gif" />
                                                        </div>
                                                    </apex:facet>
                          </apex:actionstatus>
                        
                        <apex:pageMessages id="messages"/>                          
                            <apex:pageBlock title="Edit Revenue / EBITDA Contribution" id="childList">                        
                            <div>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr style="display:{!IF(GroupID !=null || CompanyID !=null,'cell','none')};">
                                            <td colspan="">
                                                <apex:commandButton styleClass="btn  btn-success" value="Add New" action="{!addToList}" status="status" rerender="childList, messages" />
                                            </td>
                                            <td colspan="6" class="text-right bs-component">
                                                <apex:commandButton value="Save" styleClass="btn  btn-primary" style="" action="{!insertRecord}"  rerender="messages,childList" status="status" />
                                                
                                            </td>                           
                                        </tr>
                                        <tr>                                
                                            <th style="display:{!IF(GroupID !=null,'block','none')};">
                                                
                                                Group's Revenue Contribution Type /<br/>Revenue Contribution Type 
                                                <span class="glyphicon glyphicon-question-sign"
                                                     data-toggle="tooltip" 
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="{!$ObjectType.AcctPlanContribution__c .Fields.RevenueContributionType__c.inlineHelpText}" />       
												 
                                                </th>
                                            <th style="display:{!IF(GroupID !=null,'none','block')};">
                                                
                                                 
                                                     Customer's Revenue Contribution Type
                                                     
                                                     <span class="glyphicon glyphicon-question-sign" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="{!$ObjectType.AcctPlanContribution__c .Fields.RevenueContributionType__c.inlineHelpText}" />       
												 
                                                
                                                </th>
                                            <th>Item Name
                                            
                                             <span class="glyphicon glyphicon-question-sign" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="Item of Business Unit" />
                                            
                                            </th>
                                            <th>Revenue Contribution (%)
                                                 <span class="glyphicon glyphicon-question-sign" id="bootstrap-tooltip" 
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="{!$ObjectType.AcctPlanContribution__c.Fields.RevenueContributionPercent__c.inlineHelpText}" />       
                                                                    
                                                                      
                                                                      
                                                                      </th>
                                            <th>EBITDA Contribution (%)
                                             <span class="glyphicon glyphicon-question-sign"
                                                     data-toggle="tooltip"
                                                     data-delay='{"show":"0", "hide":"100"}'
                                                     data-animation="false"
                                                     data-placement="bottom" 
                                                     title="{!$ObjectType.AcctPlanContribution__c.Fields.EBITDAContributionPercent__c.inlineHelpText}" />       
												 
                                            
                                            </th>
                                            <th>
                                                     </th>
                                        </tr>
                                    </thead>
                                    <tbody id="childlistbody">
                                        <apex:variable var="rowNum" value="{!ZERO}" />
                                        <apex:repeat value="{!children}" var="crc">
                                           
                                            <tr>
                                            
                                                <td><apex:inputField value="{!crc.RevenueContributionType__c }" required="true" /></td>
                                                <td><apex:inputField value="{!crc.Name }" required="true" /></td>
                                                <td><apex:inputField value="{!crc.RevenueContributionPercent__c }" required="true" /></td>
                                                <td><apex:inputField value="{!crc.EBITDAContributionPercent__c }"  /></td>
                                                <td>
                                                    <apex:variable var="rowNum" value="{!rowNum + 1}" />
                                                    <apex:commandLink value="Delete" onclick="if(!confirm('Are you sure you want to delete this item?')) return false;" action="{!removeFromList}" status="status" styleClass="btn btn-danger" rerender="childList, messages" immediate="true">
                                                      <apex:param name="removeIndex" assignTo="{!removeIndex}" value="{!rowNum}" />
                                                    </apex:commandLink>
                                                </td>
                                                                                            
                                            </tr>
                                        </apex:repeat>
                                    </tbody>
                                </table>
                            </div>                      
                        </apex:pageBlock>
                    </apex:form>            
                </div>              
            </div>
        </div>                                  
            <apex:includeScript value="{!$Resource.AccountPlan_JqueryScript}"/>
            
            <apex:includeScript value="{!$Resource.AccountPlan_Bootstrap}"/>
            
            <apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>
            
            <apex:includeScript value="/support/console/22.0/integration.js"/>
            <script type="text/javascript">
                
                // Prevent Config
                var $j = jQuery.noConflict();

                    $j(document).ready(function(){
                         $j('[data-toggle="tooltip"]').tooltip();  
                    });
</script>
    </body>    
    </apex:page>