<apex:page showHeader="false" sidebar="false" cache="false" standardController="CampaignMember" 
tabStyle="CampaignMember" extensions="RTL_CampaignMemberExtension" standardStylesheets="true">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
<head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Import the Design System style sheet -->
        <apex:slds />
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />

        <!-- Includes Js -->
        <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
        <apex:actionstatus onstart="startLoading('Loading External Data ...');" id="status" onstop="endLoading();" />
        <!-- Salesconsole JS API -->
        <apex:includescript value="/support/console/39.0/integration.js" /> 
        
        <!-- Style for Ajax Request -->
        <style>
            .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
            }
            
            .loader {
            background: url('/img/loading32.gif') scroll no-repeat 50% 0;
            /* width: 32px;*/
            height: 32px;
            position: absolute;
            left: 48%;
            }
            
            .red-label {
            list-style: none;
            color: #f00;
            }
            .bootstrap-sf1{
            overflow: hidden;
            }
            .bootstrap-sf1 .paddingline{
            /*padding-top :5px;*/
            }
            .bootstrap-sf1{
            background-color: #FFF;
            
            }
            .bootstrap-sf1 .btn-block {
            display: block;
            width: 100%;
            text-align: center;
            }
            .bootstrap-sf1 .padding-label {
                padding-right: 20px;
                float: left; 
                width: 40%; 
                text-align: right;
            }
            .bootstrap-sf1 .padding-values {
                float: right; 
                text-align: left; 
                width: 60%;
              background-color: rgb(255, 255, 255);
                color: rgb(22, 50, 92) !important;
                transition: border .1s linear,background-color .1s linear;
                min-height: 1.875rem;
            }
            
            .bootstrap-sf1 .output-label{
                  display: inline-block;
                    color: rgb(112, 110, 107);
                    font-size: 0.79rem;
                    line-height: 1.5;
                    margin-right: .75rem;
                    margin-bottom: .125rem;
                font-weight: normal !important;
            }
            
            
          .slds-button-block{
              text-align: center;
              margin : 10px;
          }
          .slds-scope table{
            width: auto;
          }
           /*@media (min-width: 768px) {
          .bootstrap-sf1 .row {
                   min-width:1122px;
              }
            }*/
           @media (max-width: 767px) {
              .bootstrap-sf1 .row {
                   min-width:50%;
              }
            } 
          .slds-scope .slds-text-title--caps, .slds-scope .slds-text-title_caps {
            font-size: .79rem !important;
          }
          body .lookupHoverDetail.individualPalette>div>.bPageBlock{
            width: 395px !important;
          }

          .messageText{
            padding-bottom: -5px;
          }

          .messageCell .messageText br{
            display: none;
          }
            
        </style>
        <apex:outputpanel id="scriptPanel">     
            <script type="text/javascript">
                function fireSaveEvent(){   

                    console.log('Before Fire');
                    // Fire event only when save is success 
                    //(this will relocate focus to Call List Navigation tab)
                    sforce.console.fireEvent('saveCamMem', 'Refresh Call List after Save Campaign Member',  function afterEvent(){
                       console.log('Before Close');
                       sforce.console.getEnclosingTabId(closeSubtab);
                    } );
                }
                
            </script>
        </apex:outputpanel>  
    </head>
<body style="background-color: #FFF">

    
    <div id="load_scrl" class="loadingBox loader" style="display:none"></div>
    <div class="loadingBox overlay"></div>

    <!-- // End Ajax Request -->

    <!-- REQUIRED SLDS WRAPPER -->
    <div class="slds-scope">

                <!-- PAGE HEADER -->
        <div class="slds-page-header">

          <!-- LAYOUT GRID -->
          <div class="slds-grid">

            <!-- GRID COL -->
            <div class="slds-col slds-has-flexi-truncate">
                <!-- HEADING AREA -->
                <!-- MEDIA OBJECT = FIGURE + BODY -->
                <div class="slds-media slds-no-space slds-grow">
                  <div class="slds-media__figure">
                  
                    <!--svg aria-hidden="true" class="slds-icon slds-icon-standard-contact">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#campaign')}"></use>
                    </svg--> 
                    <!--
                    <div class="sfdcBody">
                        <div class="campaignmemberTab">
                            <img src="/img/s.gif" alt="Campaigns" class="pageTitleIcon" title="Campaign Member" />
                        </div>
                    </div> -->
                      
                        <span class="slds-icon_container slds-icon-standard-campaign" style="width:32px;height:32px;" >
                             <span aria-hidden="true" class="slds-icon slds-icon_medium">
                          <img src="/apexpages/slds/latest/assets/icons/standard/campaign_members.svg"
                               style="width:100%;"
                               class="pageTitleIcon" title="Campaign Member" />
                            </span>
                        </span>
                      
                      
                      
              </div>
                  <div class="slds-media__body">
                    <!--<p class="slds-breadcrumb__item">{!$Label.RTL_Campaign_Member_History_Title}</p> -->
                     <nav>
                        <ol class="slds-breadcrumb slds-line-height_reset">
                          <li class="slds-breadcrumb__item">
                            <span>{!$Label.RTL_Campaign_Member_History_Title}</span>
                          </li>
                        </ol>
                      </nav> 
                    <h1 class="slds-page-header__title slds-m-right_small slds-align-middle slds-wrapper" title="CampaignMember">
                       <apex:outputPanel id="header_title" >
                        <apex:outputPanel rendered="{!if(currentObject.ContactId != null,'true','false')}">
                            {!currentObject.Contact.account.name+' ('+currentObject.campaign.Name+')'}
                         </apex:outputPanel>
                         <apex:outputPanel rendered="{!if(currentObject.ContactId == null,'true','false')}">
                            {!objLead.Name+' ('+currentObject.campaign.Name+')'}
                         </apex:outputPanel>
                      </apex:outputPanel>
                        
                    </h1>
                  </div>
                    
                </div>
                <!-- / MEDIA OBJECT -->
                <!-- /HEADING AREA -->
            </div>

          </div>
          <!-- / LAYOUT GRID -->
        </div>
        <!-- / PAGE HEADER -->

        <!-- PRIMARY CONTENT WRAPPER -->
        <div>

            <!-- Main form -->
            <apex:form >  
            <apex:actionFunction name="redirect" action="{!closeWithSalesApp}"  status="loadStatus" />
            <apex:actionFunction name="sf1Close" action="{!close}"  status="loadStatus" />
            <!--<apex:actionFunction name="isActiveCampaignForEdit" action="{!isActiveCampaignForEdit}" /action="{!isActiveCampaignForEdit}"-->

                <apex:outputPanel id="statusMessage">
                    <apex:pageMessages escape="false" ></apex:pageMessages>
                </apex:outputPanel>

                <div class="slds-form-element slds-button-block">   
                    <apex:commandButton id="editButton"  value="{!$Label.Edit}" styleClass="saveButtonId slds-button slds-button_brand" rendered="{!isRetailUser}" action="{!editCampaignMemberButton}" disabled="{!!isCampaignActive}"/>
                    <apex:outputPanel rendered="{!IF(currentObject.id==NULL,false,true)}">
                      <apex:commandButton value="{!$Label.RTL_CampaignMemberEdit_ViewHistory}" styleclass="slds-button slds-button--neutral" immediate="true"
                      onclick="openSubTab('/apex/RTL_CampaignMemberHistory?id={!currentObject.Id}&retURL={!currentObject.Id}','Campaign Member History','Campaign Member History',true);return false;" />
                    </apex:outputPanel>
                    <apex:commandButton value="{!$Label.RTL_Campaign_Member_History_Close_Btn}" styleClass="slds-button slds-button--neutral" onclick="fireSaveEvent();CloseCurrentTab(); return false;"/>
                </div>

                <!-- Campaign Member Information  -->
                <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small slds-truncate">{!$Label.RTL_CampaignMemberEdit_SecInformation}</h3> 
                </div>
                <apex:outputPanel id="section1" >
                <div class="bootstrap-sf1">
                    <div class="row " style="margin: 10px;max-width:100% !important;">
                        
                        <!-- Row 1 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline"  style="padding-bottom:5px;">
                       
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_CampaignNameTH}" /></span>
                          <div class="padding-values">
                          <a href="javascript:openSubTab('/{!currentObject.CampaignId}','{!currentObject.campaign.Name}','{!currentObject.campaign.Name}',true);"
                                id="lookup{!currentObject.campaign.id}" style="position:absolute;"
                                onmouseover="LookupHoverDetail.getHover(this.id, '/{!currentObject.campaign.id}/m?retURL=/{!currentObject.campaign.id}&isAjaxRequest=1').show();"
                                onfocus="LookupHoverDetail.getHover(this.id, '/{!currentObject.campaign.id}/m?retURL=/{!currentObject.campaign.id}&isAjaxRequest=1').show();"
                                onmouseout="LookupHoverDetail.getHover(this.id).hide();"
                                onblur="LookupHoverDetail.getHover(this.id).hide();">
                                {!currentObject.campaign.Name}
                            </a>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:5px;">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_CreatedDateRegisterDate}" /></span>
                          <div class="padding-values"><apex:outputField value="{!currentObject.CreatedDate}"/>
                          </div>
                        </div>

                         <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                         </div>

                        <!-- Row 2 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                            <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_CustomerName}" /></span>
                            <div class="padding-values">
                            <apex:outputPanel rendered="{!if(currentObject.ContactId != null,'true','false')}">
                                <a href="javascript:openSubTab('/{!currentObject.Contact.accountId}','{!currentObject.Contact.account.name}','{!currentObject.Contact.account.name}',true);"
                                    id="lookup{!currentObject.Contact.accountId}"
                                    onmouseover="LookupHoverDetail.getHover(this.id, '/{!currentObject.Contact.accountId}/m?retURL=/{!currentObject.Contact.accountId}&isAjaxRequest=1').show();"
                                    onfocus="LookupHoverDetail.getHover(this.id, '/{!currentObject.Contact.accountId}/m?retURL=/{!currentObject.Contact.accountId}&isAjaxRequest=1').show();"
                                    onmouseout="LookupHoverDetail.getHover(this.id).hide();"
                                    onblur="LookupHoverDetail.getHover(this.id).hide();">
                                    {!currentObject.Contact.account.name}
                                </a>  
                            </apex:outputPanel>

                            <apex:outputPanel rendered="{!if(currentObject.ContactId == null,'true','false')}">
                                <a href="javascript:openSubTab('/{!currentObject.LeadId}','{!objLead.Name}','{!objLead.Name}',true);"
                                    id="lookup{!currentObject.LeadId}"
                                    onmouseover="LookupHoverDetail.getHover(this.id, '/{!currentObject.LeadId}/m?retURL=/{!currentObject.LeadId}&isAjaxRequest=1').show();"
                                    onfocus="LookupHoverDetail.getHover(this.id, '/{!currentObject.LeadId}/m?retURL=/{!currentObject.LeadId}&isAjaxRequest=1').show();"
                                    onmouseout="LookupHoverDetail.getHover(this.id).hide();"
                                    onblur="LookupHoverDetail.getHover(this.id).hide();">
                                    {!objLead.Name}
                                </a>
                            </apex:outputPanel>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_CampHis_Phone__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_CampHis_Phone__c}" /></div>
                        </div>

                        <!-- Row 3 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Age__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Age__c}" /></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Last_Contact_Status__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!lastContactStatus}" /></div>
                        </div>

                        <!-- Row 4 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Income__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Income__c}" /></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Contact_Status__c.Label}" /></span>
                          <div class="padding-values">
                            <apex:outputfield value="{!currentObject.RTL_Contact_Status__c}" rendered="{!if(currentObject.RTL_Contact_Status__c !=null,true,false)}"/>
                            <apex:outputtext value="-" rendered="{!if(currentObject.RTL_Contact_Status__c ==null,true,false)}"/>
                             <span> / </span>
                            <apex:outputtext value="{!campaignMemberResponse.resultcontact}" rendered="{!if(campaignMemberResponse.resultcontact !=null,true,false)}"/>
                            <apex:outputfield value="{!currentObject.RTL_Contact_Status_CC__c}" rendered="{!if(campaignMemberResponse.resultcontact ==null && currentObject.RTL_Contact_Status_CC__c !=null,true,false)}"/>
                            <apex:outputtext value="-" rendered="{!if(campaignMemberResponse.resultcontact ==null && currentObject.RTL_Contact_Status_CC__c ==null,true,false)}"/>
                          </div>
                        </div>

                        <!-- Row 5 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Occupation__c.Label}" /></span>
                          <div class="padding-values"><apex:outputText value="{!currentObject.RTL_Occupation__c}"  style="position:absolute;"/></div>
                        </div>
                         <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Reason__c.Label}" /></span>
                          <div class="padding-values">
                          <p style="position:absolute;">
                            <apex:outputfield value="{!currentObject.RTL_Reason__c}" rendered="{!if(currentObject.RTL_Reason__c !=null,true,false)}"/>
                            <apex:outputtext value="-" rendered="{!if(currentObject.RTL_Reason__c ==null,true,false)}"/>
                             <span> / </span>
                            <apex:outputtext value="{!campaignMemberResponse.reason}" rendered="{!if(campaignMemberResponse.reason !=null,true,false)}"/>
                            <apex:outputfield value="{!currentObject.RTL_Reason_CC__c}" rendered="{!if(campaignMemberResponse.reason ==null && currentObject.RTL_Reason_CC__c !=null,true,false)}"/>
                            <apex:outputtext value="-" rendered="{!if(campaignMemberResponse.reason ==null && currentObject.RTL_Reason_CC__c ==null,true,false)}"/>
                          </p>
                          </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                         </div>
                         <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                         </div>

                        <!-- Row 6 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Campaign_Channel_formula__c.Label}" /></span>
                          <!--<div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Campaign_Channel_formula__c}"/></div>-->
                          <div class="padding-values"><apex:outputtext value="{!campaignChannelFormula}"/></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Offer_Result__c.Label}" /></span>
                          <div class="padding-values">
                            <apex:outputfield value="{!currentObject.RTL_Offer_Result__c}" rendered="{!if(currentObject.RTL_Offer_Result__c !=null,true,false)}"/>
                            <apex:outputtext value="-" rendered="{!if(currentObject.RTL_Offer_Result__c ==null,true,false)}"/>
                             <span> / </span>
                            <apex:outputtext value="{!campaignMemberResponse.offerresult}" rendered="{!if(campaignMemberResponse.offerresult !=null,true,false)}"/>
                            <apex:outputtext value="{!if(currentObject.RTL_Offer_Result_CC__c !=null,currentObject.RTL_Offer_Result_CC__c,'-')}" rendered="{!if(campaignMemberResponse.offerresult ==null,true,false)}"/>
                          </div>
                        </div>
                       

                        <!-- Row 7 -->
                        <!--div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                        </div-->
                        
                    </div>
                </div>
                </apex:outputPanel>

                <!-- Segmentation / Promotion / Product Feature -->
                <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small slds-truncate">{!$Label.RTL_CampaignMemberEdit_SecSegmentation}</h3> 
                </div>

                <apex:outputPanel id="section2" >
                <div class="bootstrap-sf1">
                    <div class="row" style="margin: 10px;">
                        
                        <!-- Row 1 -->
                        <div class="slds-grid slds-wrap slds-grid_pull-padded">
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Segmentation__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Segmentation__c}" /></div>
                        </div>

                        
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Promotion__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Promotion__c}" /></div>
                        </div>
                        </div>

                        <!-- Row 2 -->
                        <!--CR RTL_Personalized_Message__c-->

                        <div class="slds-grid slds-wrap slds-grid_pull-padded">
                           <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                            <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Product_Feature__c.Label}" /></span>
                            <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Product_Feature__c}" style="width:100%;height:100%;"/></div>
                          </div>
                           <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                            <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Personalized_Message__c.Label}" /></span>
                            <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Personalized_Message__c}" style="width:100%;height:100%;"/></div>
                          </div>
                        </div>

                        <!-- Row 3 -->
                        <div class="slds-grid slds-wrap slds-grid_pull-padded">
                          <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                          </div>
                          <div class="col-xs-12 col-sm-6 col-md-6 paddingline" style="padding-bottom:10px;">
                            <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Remark__c.Label}" /></span>
                            <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Remark__c}" style="width:100%;height:100%;"/></div>
                          </div>
                        </div>

                        <!--END CR RTL_Personalized_Message__c-->
                    </div>
                </div>
                </apex:outputPanel>

                 <!-- Contact Result Information: Branch Channel -->
                 <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small slds-truncate">{!$Label.RTL_ViewCampaignMember_ContactResult}</h3> 
                </div>

                <apex:outputPanel id="section3" >
                <div class="bootstrap-sf1">
                    <div class="row slds-m-around--medium">

                        <!-- Row 1 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Invitation_Status__c.Label}" /></span>
                          <div class="padding-values"><apex:outputfield value="{!currentObject.RTL_Invitation_Status__c}"/></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Attendant_Status__c.Label}" /></span>
                          <div class="padding-values"><apex:outputfield value="{!currentObject.RTL_Attendant_Status__c}"/></div>
                        </div>

                        <!-- Row 2 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Contact_Date_Time__c.Label}" /></span>
                          <div class="padding-values"><apex:outputField value="{!currentObject.RTL_Contact_Date_Time__c}"/>
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Contact_Branch_Team_Name_Code__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Contact_Branch_Team_Name_Code__c}"/></div>
                        </div>

                        <!-- Row 3 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Contact_Staff_ID__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Contact_Staff_ID__c}"/></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Contact_Zone_Group__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Contact_Zone_Group__c}"/></div>
                        </div>

                        <!-- Row 4 -->
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Contact_Staff_Name__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Contact_Staff_Name__r.Name}"/></div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.RTL_Contact_Region_Group_Head__c.Label}" /></span>
                          <div class="padding-values"><apex:outputtext value="{!currentObject.RTL_Contact_Region_Group_Head__c}"/></div>
                        </div>

                    </div>
                </div>
                </apex:outputPanel>

                <!-- Response Section-->
                <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small">{!$Label.RTL_ViewCampaignMember_ResponseInfo}</h3> 
                   
                </div>
                <!--apex:outputPanel id="section4_0" >
                  <apex:outputPanel rendered="{!if(CampaignMemberResponse != null,'false','true')}">
                  <div class="slds-p-around_x-small slds-border_bottom slds-border_top" >
                  <span style="font-size: 12px;margin: 20px;">
                          <apex:outputText value="{!$Label.RTL_No_Record_Display}" ></apex:outputText>
                          </span>
                  </div>
                  </apex:outputPanel>
                </apex:outputPanel-->

                <apex:outputPanel id="section4_1">
                  <div class="slds-form-element slds-m-around--medium">
                      
                     <!--apex:outputPanel rendered="{!if(CampaignMemberResponse != null,'true','false')}"--> 
                  <div class="bootstrap-sf1">
                    <div class="row" style="margin: 10px;">

                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_OutboundResult}"/>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_ResultBusiness}" /></span>
                              <div class="padding-values"><apex:outputtext escape="false"  value="{!campaignMemberResponse.resultbusinessWebText}"/></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_ResultDetail}" /></span>
                              <div class="padding-values"><apex:outputtext escape="false" value="{!campaignMemberResponse.resultdetailWebText}"/></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_OutboundContactDateTime}" /></span>
                              <div class="padding-values">
                                 <!--apex:outputtext value="{0,date,d/M/yyy h:mm a}" >
                                  <apex:param value="{!campaignMemberResponse.contactdate}" />
                                </apex:outputtext--> 
                                  <apex:outputtext value="{!campaignMemberResponse.contactdateFormatted}" />
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_Outbound_Contact_Staff}" /></span>
                              <div class="padding-values"><apex:outputtext value="{!if(userOutbound.name != null,userOutbound.name,campaignMemberResponse.agentid)}"/></div>
                            </div>
                        </div>
     
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_SMSRegistration}"/>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_SMSMessage}" /></span>
                              <div class="padding-values"><apex:outputtext escape="false" value="{!campaignMemberResponse.smsmessageWebText}"/></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_SMSContent}" /></span>
                              <div class="padding-values"><apex:outputtext escape="false" value="{!campaignMemberResponse.smscontentWebText}"/></div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_RegisterDateTime}" /></span>
                              <div class="padding-values">
                                <!-- <apex:outputtext value="{0,date,d/M/yyy h:mm a}" >
                                  <apex:param value="{!campaignMemberResponse.registerdate}" />
                                </apex:outputtext> -->
                                <apex:outputtext value="{!campaignMemberResponse.registerdateFormatted}" />
                              </div>
                               <div class="padding-values"></div>
                            </div>

                        </div>


                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_MIBResponse}"/>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_DisplayFlag}" /></span>
                              <div class="padding-values">
                              <apex:outputtext value="{!campaignMemberResponse.displayflagText}"/>
                              <!--img src="/auraFW/resources/aura/images/smallcheck{!IF(campaignMemberResponse.displayflag, '-checked', '')}.png" alt="False"/-->
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_DisplayDateTime}" /></span>
                              <div class="padding-values">
                                <apex:outputtext value="{0,date,d/M/yyy}" >
                                  <apex:param value="{!campaignMemberResponse.displaydate}" />
                                </apex:outputtext>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_ClickFlag}" /></span>
                              <div class="padding-values">
                              <apex:outputtext value="{!campaignMemberResponse.clickflagText}"/>
                              <!-- src="/auraFW/resources/aura/images/smallcheck{!IF(campaignMemberResponse.clickflag, '-checked', '')}.png" alt="False"/-->
                              </div>
                            </div> 
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_ClickDateTime}" /></span>
                              <div class="padding-values">
                                <apex:outputtext value="{0,date,d/M/yyy}" >
                                  <apex:param value="{!campaignMemberResponse.clickdate}" />
                                </apex:outputtext>
                              </div>
                            </div>
                        </div>

        
                        <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                          <apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_EmailResponse}"/>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_SentDate}" /></span>
                              <div class="padding-values">
                                <apex:outputtext value="{0,date,d/M/yyy}" >
                                  <apex:param value="{!campaignMemberResponse.emailsenddate}" />
                                </apex:outputtext>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_RejectDate}" /></span>
                              <div class="padding-values">
                                <apex:outputtext value="{0,date,d/M/yyy}" >
                                  <apex:param value="{!campaignMemberResponse.emailrejectdate}" />
                                </apex:outputtext>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_OpenFlag}" /></span>
                              <div class="padding-values">
                              <apex:outputtext value="{!campaignMemberResponse.emailopenflagText}"/>
                              <!--img src="/auraFW/resources/aura/images/smallcheck{!IF(campaignMemberResponse.emailopenflag, '-checked', '')}.png" alt="False"/-->
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_OpenDateTime}" /></span>
                              <div class="padding-values">
                                <apex:outputtext value="{0,date,d/M/yyy}" >
                                  <apex:param value="{!campaignMemberResponse.emailopendate}" />
                                </apex:outputtext>
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_ClickFlag}" /></span>
                              <div class="padding-values">
                               <apex:outputtext value="{!campaignMemberResponse.emailclickflagText}"/>
                              <!--img src="/auraFW/resources/aura/images/smallcheck{!IF(campaignMemberResponse.emailclickflag, '-checked', '')}.png" alt="False"/-->
                              </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 paddingline">
                              <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_ViewCampaignMember_ClickDateTime}" /></span>
                              <div class="padding-values">
                                <apex:outputtext value="{0,date,d/M/yyy}" >
                                  <apex:param value="{!campaignMemberResponse.emailclickdate}" />
                                </apex:outputtext>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End INT06 /apex:outputPanel-->
                   </div>
                </apex:outputPanel>

                

                <!-- Campaign Product Information -->
                <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small slds-truncate">{!$Label.RTL_ViewCampaignMember_CampaignProduct}</h3> 
                </div>
              <apex:outputPanel id="productList">
                <apex:outputPanel rendered="{!ISNULL(CampaignProduct)|| CampaignProduct.size == 0}" >
                  <div class="slds-p-around_x-small slds-border_bottom slds-border_top">
                    <span style="font-size: 12px;margin-left: 20px;">
                      <apex:outputText value="{!$Label.RTL_No_Record_Display}" ></apex:outputText>
                    </span>
                  </div>
                  <div class="slds-m-around--medium">
                  </div>
                </apex:outputPanel>

                <apex:outputPanel rendered="{!(!ISNULL(CampaignProduct) && CampaignProduct.size > 0)}" >
                <apex:outputPanel id="section5" >
                <div class="slds-form-element slds-m-around--medium"  id="responsive" >
                    <apex:outputPanel id="section00" >
                        <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-max-medium-table--stacked-horizontal" style="text-align: center;font-size: 12px; width: 100%;">
                            <thead>
                            <tr class="slds-text-title--caps section-header-title slds-p-horizontal--small slds-truncate"> 
                                <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColNo} </th>
                                <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColProductGroup} </th>
                                <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColProductSubGroup}</th>
                                <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColProductName} </th>
                                <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColOfferResult} </th>
                                <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColReason} </th>
                                <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColOpportunity} </th>
                            </tr>
                            </thead>
                            <tbody>
                              <apex:repeat value="{!CampaignProduct}" var="each">
                                  <tr class="dataRow">
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColNo}"> 
                                          <apex:outputText value="{!each.rowNum}"  />   
                                      </td>
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColProductGroup}"> 
                                          <apex:outputText value="{!currentObject[each.apiProductGroup]}" />
                                      </td>
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColProductSubGroup}"> 
                                          <apex:outputText value="{!currentObject[each.apiProductSubGroup]}"/>
                                      </td>
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColProductName}"> 
                                          <apex:outputText value="{!currentObject[each.apiProductName]}"/>
                                      </td>
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColOfferResult}"> 
                                          <apex:outputfield value="{!currentObject[each.apiOfferResult]}" />
                                      </td>
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColReason}"> 
                                          <apex:outputfield value="{!currentObject[each.apiReason]}" />
                                      </td>
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColOpportunity} "> 
                                         <apex:outputField value="{!currentObject[each.apiOpportunity]}"/>
                                      </td>
                                  </tr>
                              </apex:repeat>
                            
                            </tbody>
                        </table>
                      </apex:outputPanel>
                   </div>
                  </apex:outputPanel>
                </apex:outputPanel>
            </apex:outputPanel>

                <!-- Campaign Member Fulfillment Phase2-->
                
                <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small slds-truncate">{!$Label.RTL_ViewCampaignMember_FulfillmentInfo}</h3> 
                </div>

                <apex:outputPanel id="section6" >
                  <!--apex:outputPanel rendered="{!ISNULL(fulfillmentList)|| fulfillmentList.size == 0}" >
                    <div class="slds-p-around_x-small slds-border_bottom slds-border_top">
                      <span style="font-size: 12px;margin-left: 20px;">
                        <apex:outputText value="{!$Label.RTL_No_Record_Display}" ></apex:outputText>
                      </span>
                    </div>
                    <div class="slds-m-around--medium">
                    </div>
                  </apex:outputPanel-->
                  
                    <div class="bootstrap-sf1">
                        <div class="row" style="margin-top: 10px;">

                          <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                            <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.CampaignMember.fields.Fulfillment_Status__c.Label}" /></span>
                              <div class="padding-values"><apex:outputfield value="{!currentObject.Fulfillment_Status__c}"/></div>
      
                          </div>
                        </div>
                    </div>
                    <apex:outputPanel rendered="{!(!ISNULL(fulfillmentList) && fulfillmentList.size > 0)}">

                    <div class="slds-form-element slds-m-around--medium slds-m-top--large" style="margin-top: 5px"  id="responsive" >
                      <apex:outputPanel id="section01" >
                          <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-max-medium-table--stacked-horizontal" style="text-align: center;font-size: 12px; width: 100%;">
                              <thead>
                              <tr class="slds-text-title--caps section-header-title slds-p-horizontal--small slds-truncate"> 
                                  <th scope="col"> {!$Label.RTL_CampaignMemberEdit_ColNo} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_PROCESSDATE} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_CAMPAIGNCODE} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_CAMPAIGNNAME} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_FULFILLMENTTYPE} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_DESCRIPTION} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_ACCOUNTID} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_CARDNO} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_AMOUNT} </th>
                                  <th scope="col"> {!$Label.RTL_ViewCampaignMember_STATUS} </th>
                              </tr>
                              </thead>
                              <tbody>
                                <apex:repeat value="{!fulfillmentList}" var="f">
                                  <tr class="dataRow">
                                      <td data-label="{!$Label.RTL_CampaignMemberEdit_ColNo}"> 
                                          <apex:outputtext value="{!f.rowNum}"  />   
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_PROCESSDATE}"> 
                                          <apex:outputtext value="{0,date,d/M/yyy}" >
                                            <apex:param value="{!f.apiProcessDate}" />
                                          </apex:outputtext>
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_CAMPAIGNCODE}"> 
                                          <apex:outputtext value="{!f.apiCampaignCode}"/>
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_CAMPAIGNNAME}"> 
                                        <div class="slds-cell-wrap">
                                          <apex:outputText value="{!f.apiCampaignName}"/>
                                        </div>
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_FULFILLMENTTYPE}"> 
                                          <apex:outputtext value="{!f.apiFulfillmentType}"/>
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_DESCRIPTION}"> 
                                        <div class="slds-cell-wrap">
                                          <apex:outputtext value="{!f.apiDescription}" />
                                        </div>
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_ACCOUNTID}"> 
                                          <apex:outputText value="{!f.apiAccountId}" />
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_CARDNO}"> 
                                          <apex:outputtext value="{!f.apiCardNo}" />
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_AMOUNT}"> 
                                         <apex:outputtext value="{!f.apiAmount}" />
                                      </td>
                                      <td data-label="{!$Label.RTL_ViewCampaignMember_STATUS}"> 
                                        <div class="slds-cell-wrap">
                                            <apex:outputtext value="{!f.apiStatus}" />
                                        </div>
                                      </td>
                                  </tr>
                                </apex:repeat>
                              </tbody>
                          </table>
                        </apex:outputPanel>

                        <div class="slds-m-top_small">
                         <div class="slds-grid">
                             <div class="slds-align_absolute-center">
                                  <div class="slds-grid slds-grid_vertical-align-start">
                                     <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
                                         <apex:commandLink action="{!previousFulfillment}" rendered="{! !disablePreviousfulfillment}" value="{!$Label.RTL_Campaign_History_Previous}" status="loadStatus" reRender="section6" /> 
                                         <apex:outputText value="{!$Label.RTL_Campaign_History_Previous}" rendered="{! disablePreviousfulfillment}" />  
                                     </div>
                                      <apex:repeat value="{!listItem}" var="page">
                                           <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
                                              <apex:commandLink rendered="{! If(page!=fulfillmentPage,true,false) }" 
                                              value="{!If(page==-1,'',page)}" status="loadStatus" reRender="section6" 
                                              onclick="navigateFulfillment({!page})"
                                              /> 
                                              <apex:outputText value="{!page}" rendered="{! If(page!=fulfillmentPage,false,true) }" />
                                              <apex:outputText value="{!If(page==-1,'...',page)}" rendered="{! If(page!=-1,false,true) }" /> 
                                          </div>
                                      </apex:repeat>

                                      <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
                                       <apex:commandLink action="{!nextFulfillment}" rendered="{! !disableNextfulfillment}" value="{!$Label.RTL_Campaign_History_Next}" status="loadStatus" reRender="section6" />
                                       <apex:outputText value="{!$Label.RTL_Campaign_History_Next}" rendered="{! disableNextfulfillment}" />   
                                      </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                      </div>
                  </apex:outputPanel>
                </apex:outputPanel>


                <apex:actionFunction name="navigateFulfillment" action="{!navigateFulfillment}" reRender="section6">
                  <apex:param name="pageNo" assignTo="{!fulfillmentPage}" value=""/>
                </apex:actionFunction>
                <!-- End Campaign Member Fulfillment Phase2-->

                <div class="slds-form-element slds-button-block">   
                   <apex:commandButton id="editButton2"  value="{!$Label.Edit}" styleClass="saveButtonId slds-button slds-button_brand" rendered="{!isRetailUser}" action="{!editCampaignMemberButton}" disabled="{!!isCampaignActive}"/>
                    <apex:outputPanel rendered="{!IF(currentObject.id==NULL,false,true)}">
                      <apex:commandButton value="{!$Label.RTL_CampaignMemberEdit_ViewHistory}" styleclass="slds-button slds-button--neutral" immediate="true"
                      onclick="openSubTab('/apex/RTL_CampaignMemberHistory?id={!currentObject.Id}&retURL={!currentObject.Id}','Campaign Member History','Campaign Member History',true);" />
                    </apex:outputPanel>
                    <apex:commandButton value="{!$Label.RTL_Campaign_Member_History_Close_Btn}" styleClass="slds-button slds-button--neutral" onclick="fireSaveEvent();CloseCurrentTab(); return false;"/>
                </div>
                
                <apex:actionFunction action="{!requestCampaignData}" name="requestData" 
                  reRender="header_title,section1,section2,section3,productList,section4_0,section4_1,section6,statusMessage,editButton,editButton2" 
                  status="loadRequestStatus" 
                  oncomplete="setTabName('{!IF(currentObject.Contact.id != null,currentObject.Contact.account.name,objLead.Name)}','{!CampaingNameEscaped}')" />
                
                <!-- <apex:actionStatus id="loadRequestStatus" onstart="showLoading()" onstop="showResult()" /> -->
                <apex:actionstatus id="loadRequestStatus">
                    <apex:facet name="start">
                        <div class="demo-only demo--inverse" style="height: 6rem;">
                          <div class="slds-spinner_container slds-is-fixed">
                            <div role="status" class="slds-spinner slds-spinner_medium">
                              <span class="slds-assistive-text">{$Label.RTL_Campaign_Reassign_Loading}</span>
                              <div class="slds-spinner__dot-a"></div>
                              <div class="slds-spinner__dot-b"></div>
                            </div>
                          </div>
                        </div>
                    </apex:facet>
                </apex:actionstatus>
                
                

            </apex:form>
        </div>
        <!-- / PRIMARY CONTENT WRAPPER -->

    </div>

  </body>

<script type="text/javascript">
    var $j = jQuery.noConflict();
    var inconsole = sforce.console.isInConsole();
    var _maintab;
    var _subtab;


    //Sets the title of the current tab 
    function setTitle() {

        var contactid = '{!currentObject.ContactId}';

        var name = '';
        //var campaignName = '{!currentObject.campaign.name}';
        var campaignName = '{!CampaingNameEscaped}'; 
        var cmpName = campaignName.replace(/'/g, "\\'");
        
        if(contactid != null && contactid != ''){
            name = '{!currentObject.Contact.account.name}';
        }else{
            name = '{!objLead.Name}';
        }

        setTabName(name,cmpName);
        
        sforce.console.setTabIcon("{!URLFOR($Resource.RTL_Campaignmember_Logo)}", null);
        //sforce.console.setTabIcon("{!URLFOR($Resource.RTL_Campaignmember_Logo)}", null, checkResult);
        sforce.console.getEnclosingPrimaryTabId(function(result) {
            if( result.id != 'null' )
            {
                sforce.console.setTabIcon("{!URLFOR($Resource.RTL_Campaignmember_Logo)}", result.id);
            }
           
        });
    }  
        
    function setTabName(name,campaignName)
    {
        var tabname = name+'('+campaignName+')';
        sforce.console.setTabTitle(tabname);
    }

    $j(document).ready(function(){ 

        requestData();

        if(inconsole ){
            _maintab = sforce.console.getEnclosingPrimaryTabId(mainTab);
            setTitle();
        }
        
    });

    function openSubTab(url,label,name,openimmediately) {
        sforce.console.getEnclosingPrimaryTabId(function(primarytab){
            sforce.console.openSubtab(primarytab.id , url, openimmediately, label, null, function(result){
                // do any processing here if passes or fails, use result.success (boolean)
            }, name);
        });
    }    

    function CloseCurrentTab() {
            //First find the ID of the current tab to close it

            if (inconsole) {
                sforce.console.getEnclosingTabId(closeSubtab);
            }else{
              
              if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
                sf1Close();
              }
              else
              {
                redirect();
              }
            }
    }

    function refreshPrimaryTabById() {
            if (sforce.console.isInConsole()) { 
                sforce.console.refreshPrimaryTabById(_maintab,true,closeSubtab);
            }                  
    }


        
    var closeSubtab = function closeSubtab(result) {
            //Now that we have the tab ID, we can close it
            var tabId = result.id;
            sforce.console.closeTab(tabId);

    };



    var subtab = function subtab(result) {
                //Now that we have the primary tab ID, we can close it
                _subtab = result.id;                               
            };


    var mainTab = function mainTab(result) {
                //Now that we have the primary tab ID, we can close it
                _maintab = result.id;                               
    };

    //overwrite hyperlink lookup function
    var _navigateToUrl = window.navigateToUrl;  
    var navigateToUrl = function(url,data1,data2)
    {
        if(sforce.console.isInConsole())
        {

            tabName = '';
            sforce.console.getEnclosingPrimaryTabId(function(result) {
                if( result.id == 'null' )
                {
                    sforce.console.openPrimaryTab(null, url , true,tabName, null, 'salesforceTab');
                }
                else
                {
                    sforce.console.openSubtab(result.id, url , true, tabName, null);
                }
            });
        }
        else
        {
            _navigateToUrl(url,data1,data2);
        }
    }

    $j("a[id^=lookup]").on('click',function(event){
        if(sforce.console.isInConsole())
        {
            event.preventDefault();
            var objId = this.id.substring(6,21);
            //console.log('objId'+objId);
            var tabName = '';
            openTab(objId,'/',tabName);
        }

    });

    function openTab(recid,url, tabName)
    {
        if(!sforce.console.isInConsole())
        {
            //window.parent.location.replace(url+recid);
            sforce.one.navigateToURL(url+recid);
        }
        else
        {
            sforce.console.getEnclosingPrimaryTabId(function(result) {
                if( result.id == 'null' )
                {
                    sforce.console.openPrimaryTab(null, url+recid, true,tabName, null, 'salesforceTab');
                }
                else
                {
                    sforce.console.openSubtab(result.id, url+recid , true, tabName, null);
                }
            });
        }
    }
    //End overwrite hyperlink lookup function

    // Fix output field error in console when rendered
    var srcUp = function srcUp(url)
    {
      if(sforce.console.isInConsole())
      {
          var tabName = '';
          openTab('',url,tabName);
      }
    }


    function refreshTab()
    {
      //location.reload();
      requestData();
        //alert();
    }
    
    function showLoading()
    {
      // $('#loadingPanel').show();
      // $('#ResultPanel').hide();
      //console.log('start');
    }

    function showResult()
    {
      // $('#loadingPanel').hide();
      // $('#ResultPanel').show();
      //console.log('stop');
    }


</script>

</html>

</apex:page>