<apex:page standardController="RTL_NBO_History_Product__c" extensions="RTL_NBOProductCtrl" showchat="false" sidebar="false"  showheader="false"
           standardstylesheets="true">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Import the Design System style sheet -->
        <apex:slds />
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />

        <!-- Includes Js -->
        <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
        <apex:actionstatus onstart="startLoading('Loading External Data ...');" id="status" onstop="endLoading();" />
        <!-- Salesconsole JS API -->
        <apex:includescript value="/support/console/39.0/integration.js" />
        
        
        <!-- Style for Ajax Request -->
        <style>
            .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
            }
            
            .loader {
            background: url('/img/loading32.gif') scroll no-repeat 50% 0;
            /* width: 32px;*/
            height: 32px;
            position: absolute;
            left: 48%;
            }
            
            .red-label {
            list-style: none;
            color: #f00;
            }
            .bootstrap-sf1{
            overflow: hidden;
            }
            .bootstrap-sf1 .paddingline{
                /*padding-top :5px;*/
            }
            .bootstrap-sf1{
            background-color: #FFF;
            
            }
            .bootstrap-sf1 .btn-block {
            display: block;
            width: 100%;
            text-align: center;
            }
            .bootstrap-sf1 .padding-label {
                padding-right: 20px;
                float: left; 
                width: 40%; 
                text-align: right;
            }
            .bootstrap-sf1 .padding-values {
                float: right; 
                text-align: left; 
                width: 60%;
                background-color: rgb(255, 255, 255);
                color: rgb(22, 50, 92) !important;
                transition: border .1s linear,background-color .1s linear;
                min-height: 1.875rem;
            }
            
            .bootstrap-sf1 .output-label{
                    display: inline-block;
                    color: rgb(112, 110, 107);
                    font-size: 0.79rem;
                    line-height: 1.5;
                    margin-right: .75rem;
                    margin-bottom: .125rem;
                    font-weight: normal !important;
            }
            .slds-scope table{
            width: auto;
          }
          /*.bootstrap-sf1 .row {
               min-width:1122px;
          }*/
          .slds-scope .slds-text-title--caps, .slds-scope .slds-text-title_caps {
            font-size: .79rem !important;
          }
            .slds-button-block{
                text-align: center;
                margin : 10px;
            }
        </style>



    </head>
<body style="background-color: #FFF;">

    
    <div id="load_scrl" class="loadingBox loader" style="display:none"></div>
    <div class="loadingBox overlay"></div>

    <!-- // End Ajax Request -->

    <!-- REQUIRED SLDS WRAPPER -->
    <div class="slds-scope">

                <!-- PAGE HEADER -->
        <div class="slds-page-header">

          <!-- LAYOUT GRID -->
          <div class="slds-grid">

            <!-- GRID COL -->
            <div class="slds-col slds-has-flexi-truncate">
                <!-- HEADING AREA -->
                <!-- MEDIA OBJECT = FIGURE + BODY -->
                <div class="slds-media slds-no-space slds-grow">
                  <div class="slds-media__figure">
                    <span class="slds-icon_container slds-icon-custom-custom11" style="width:32px;height:32px;" >
                         <span aria-hidden="true" class="slds-icon slds-icon_medium">
                      <img src="/apexpages/slds/latest/assets/icons/custom/custom11.svg"
                           style="width:100%;"
                           class="pageTitleIcon" title="NBO" />
                        </span>
                    </span>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-text-title--caps slds-line-height--reset">{!$Label.RTL_NBO_Product}</p>
                    <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="NBO">
                        {!nboProduct.RTL_Related_NBO__r.Name}
                    </h1>
                  </div>
                </div>
                <!-- / MEDIA OBJECT -->
                <!-- /HEADING AREA -->
            </div>

          </div>
          <!-- / LAYOUT GRID -->
        </div>
        <!-- / PAGE HEADER -->

        <!-- PRIMARY CONTENT WRAPPER -->
        <div >
            <!-- Main form -->
            <apex:form onkeypress="return noenter(event)" id="theform">
            <apex:actionFunction name="save" action="{!saveNBOProduct}" reRender="block" oncomplete="redirectPage();" />
            <apex:actionFunction name="cancel" action="{!cancel}" reRender="block" />
            <apex:outputpanel id="statusMessage">
                <apex:pagemessages escape="false"></apex:pagemessages>
            </apex:outputpanel>


            <!-- NBO Product Information  -->
                <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small slds-truncate">{!$Label.RTL_NBO_Product_Information}</h3>
                </div>
                
                <apex:outputPanel id="section1" >
                <div class="bootstrap-sf1">
                <div class="row" style="margin: 10px;">
                    
                    <!-- Row 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                    
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.Name.Label}"/></span>
                      <div class="padding-values"><apex:outputfield value="{!nboProduct.Name}"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Status__c.Label}" /></span>
                      <div class="padding-values"><apex:outputfield value="{!nboProduct.RTL_Status__c}"/></div>
                    </div>


                    <!-- Row 2 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product_Group__c.Label}" /></span>
                      <div class="padding-values"><apex:outputtext value="{!nboProduct.RTL_Product_Group__c }" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Reject_Reason__c.Label}" /></span>
                      <div class="padding-values"><apex:outputfield value="{!nboProduct.RTL_Reject_Reason__c}"/></div>
                    </div>


                    <!-- Row 3 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product_SubGroup__c.Label}" /></span>
                      <div class="padding-values"><apex:outputText value="{!nboProduct.RTL_Product_SubGroup__c }" ></apex:outputText></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Opportunity__c.Label}" /></span>
                      <div class="padding-values"><apex:outputfield value="{!nboProduct.RTL_Opportunity__c  }" /></div>
                    </div>

                    <!-- Row 4 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product__c.Label}" /></span>
                      <div class="padding-values"><apex:outputtext value="{!nboProduct.RTL_Product__c  }" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                    <apex:outputpanel rendered="{!ISBLANK(nboProduct.RTL_Product_Smart_Info__c)}">
                        <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_Selling_Tips}"/></span>
                        <div class="padding-values"><apex:outputfield value="{!nboProduct.RTL_Product_Smart_Info__c}"/></div>
                    </apex:outputpanel>
                    <apex:outputpanel rendered="{!NOT(ISBLANK(nboProduct.RTL_Product_Smart_Info__c))}">
                        <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$Label.RTL_Selling_Tips}"/></span>
                        <div class="padding-values"><apex:outputLink onclick="redirectExternalURL('{!nboProduct.RTL_Product_Smart_Info__c}','{!$Label.RTL_Selling_Tips}');return false;" >{!$Label.RTL_Selling_Tips}</apex:outputLink></div>
                    </apex:outputpanel>
                    </div>
                </div>
                </div>
                </apex:outputPanel>
            <!--/NBO Product Information  -->

            <!-- Offering Usr Information  -->
                <div class="slds-section__title slds-theme--shade primaryPaletteBorder">
                    <h3 class="section-header-title slds-p-horizontal--small slds-truncate">{!$Label.RTL_Offerring_User_Information}</h3>
                </div>
                
                <apex:outputPanel id="section2" >
                <div class="bootstrap-sf1">
                <div class="row" style="margin: 10px;">
                    
                    <!-- Row 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                    
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_User_Region__c.Label}"/></span>
                      <div class="padding-values"><apex:outputfield value="{!nboProduct.RTL_User_Region__c}"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_User_Zone__c.Label}" /></span>
                      <div class="padding-values"><apex:outputtext value="{!nboProduct.RTL_User_Zone__c}"/></div>
                    </div>


                    <!-- Row 2 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_User_Branch__c.Label}" /></span>
                      <div class="padding-values"><apex:outputtext value="{!nboProduct.RTL_User_Branch__c }" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel styleclass="output-label"  value="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Offering_Channel__c.Label}" /></span>
                      <div class="padding-values"><apex:outputtext value="{!nboProduct.RTL_Offering_Channel__c}"/></div>
                    </div>
                    
                </div>
                </div>
                </apex:outputPanel>
            <!--/Offering Usr Information -->

            <div class="bootstrap-sf1">
                <div class="row">
                <c:RTL_GenericHistoryComponent recordLimits="10" mysObject="{!nboProduct}"/>
                </div>
            </div>


            </apex:form>
        </div>
        <!-- / PRIMARY CONTENT WRAPPER -->

    </div>

  </body>   

  <!-- JAVASCRIPT -->
    <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" /> 

    <script>
    // Global variable
    var _isInConsole = false;
    var _isInSF1 = false;
    var _primaryTabId ='';
    var _customername ='{!nboProduct.RTL_Product_Group__c}';
    var _tabid;

    function startLoading(text){
        $('#load_scrl').css('top', $(document).scrollTop() + 200).html(text);
        $('.loadingBox').show();
    }
    function endLoading(){
        $('.loadingBox').hide();
        hideNormalLink();
    }
    /*-------------------------------------------------------------------------
            Salesforce :  Sale Console Js
        ---------------------------------------------------------------------------*/
    function IsInConsole() {
        if (sforce.console.isInConsole()) {
            _isInConsole = true;
            _isInSF1 = false;
            // Then get primary tab id
            sforce.console.getEnclosingPrimaryTabId(MainTabId);
            sforce.console.setTabTitle(_customername);
            sforce.console.getEnclosingTabId(setTabId);
            sforce.console.setTabIcon("{!URLFOR($Resource.RTL_NBO_Logo)}", null);

        }
        // Ref. https://developer.salesforce.com/docs/atlas.en-us.salesforce1.meta/salesforce1/vf_dev_best_practices_pages_multipurpose.htm
        else if( (typeof sforce != 'undefined') && sforce && (!!sforce.one) ) {
            _isInConsole = false;
            _isInSF1 = true;

        }
        else {
            _isInConsole = false;
            _isInSF1 = false;
        }

        console.log('_isInConsole = ' +  _isInConsole);
        console.log('_isInSF1 = ' +  _isInSF1);


    }
    function OpenTabPage(url,pagename){
        // Open new sub tab
        sforce.console.openSubtab(_primaryTabId , url, true, pagename, null, openSuccess,_tabid);
    }
    var MainTabId = function getMainTabId(result  /* primary tab info */) {
        //Now that we have the primary tab ID, we can open a new subtab in it
        _primaryTabId = result.id;
    };
    var openSuccess = function openSuccess(result) {
        //Report whether we succeeded in opening the subtab
        if (result.success == true) {

        } else {

        }
    };
    
     function redirectExternalURL(url,pageName){
         if(_isInConsole){
             // In Sales Console
             //OpenTabPage(url,pageName);
             //the external URL must be whitelisted domain in "retail sales console"  
             //use null (_primaryTabId) to open a new primary tab
             //sforce.console.openPrimaryTab(null , url, true, pageName,openSuccess);
             window.open(url, pageName);
         }else if(_isInSF1){
             //In Salesforce1
             sforce.one.navigateToURL(url);
         }else{
             //Desktop Version
             //window.location.href = url;
             window.open(url, pageName);
         }
     } 
             
    function closeTabBySubtabId(subtabId) {
        //Set the name of the tab by using the openSubtab method
        //This value is for example purposes only
        //alert(subtabId);
        sforce.console.closeTab(subtabId);
    }
    
     //The callback function that closeTab will call once it has the ID for its tab
        var callCloseTab= function callCloseTab(result) {
            sforce.console.closeTab(result.id);
        }
        
         var setTabId= function callCloseTab(result) {
            _tabid = result.id
        }
        //This JS function is to control cancel URL for each Application
        function cancelCreation() {
            if(_isInConsole){
                //In Sales Console
                sforce.console.getEnclosingTabId(callCloseTab);
            }else if(_isInSF1){
                //In Salesforce1
                sforce.one.navigateToURL('/apex/RTL_NBODetailView?p={!nboProduct.RTL_Related_NBO__r.RTL_NBO_ID__c}');
            }else{
                // Normal web
                cancel();
            }
        }

        //overwrite hyperlink lookup function
    var _navigateToUrl = window.navigateToUrl;  
    var navigateToUrl = function(url,data1,data2)
    {
        if(sforce.console.isInConsole())
        {

            tabName = '';
            sforce.console.getEnclosingPrimaryTabId(function(result) {
                if( result.id == 'null' )
                {
                    sforce.console.openPrimaryTab(null, url , true,tabName, null, 'salesforceTab');
                }
                else
                {
                    sforce.console.openSubtab(result.id, url , true, tabName, null);
                }
            });
        }
        else
        {
            _navigateToUrl(url,data1,data2);
        }
    }

    $("a[id^=lookup]").on('click',function(event){
        if(sforce.console.isInConsole())
        {
            event.preventDefault();
            var objId = this.id.substring(6,21);
            //console.log('objId'+objId);
            var tabName = '';
            openTab(objId,'/',tabName);
        }

    });

    function openTab(recid,url, tabName)
    {
        if(!sforce.console.isInConsole())
        {
            window.parent.location.replace(url+recid);
        }
        else
        {
            sforce.console.getEnclosingPrimaryTabId(function(result) {
                if( result.id == 'null' )
                {
                    sforce.console.openPrimaryTab(null, url+recid, true,tabName, null, 'salesforceTab');
                }
                else
                {
                    sforce.console.openSubtab(result.id, url+recid , true, tabName, null);
                }
            });
        }
    }
    //End overwrite hyperlink lookup function

    /*-------------------------------------------------------------------------
            Salesforce :  Main Function
        ---------------------------------------------------------------------------*/
    $(document).ready(function () {
        //Check Application
        IsInConsole();
        

    });
    </script> 

    <!-- / JAVASCRIPT -->
    </html>
</apex:page>