<apex:page standardController="Account" extensions="RTL_CampaignHistoryExtension" showHeader="false" sidebar="false">
<style>
.error_text{
    color:red;
}
</style>

    <script type="text/javascript">
        $( document ).ready(function() {
            //init call out after page load completed
            showResult();
            requestData();
        });

        function showLoading()
        {
            $('#loadingPanel').show();
            $('#ResultPanel').hide();
            //console.log('start');
        }

        function showResult()
        {
            $('#loadingPanel').hide();
            $('#ResultPanel').show();
            //console.log('stop');
        }

    </script>

    <apex:form >

        <apex:actionFunction action="{!requestInt06}" name="requestData" reRender="excluiveData" status="loadRequestStatus" />
        <apex:actionFunction action="{!requestInt06}" name="navigateExclusive" reRender="excluiveData" status="loadRequestStatus">
            <apex:param name="pageNo" assignTo="{!exclusiveCampaignPage}" value=""/>
        </apex:actionFunction>

        <apex:actionStatus id="loadRequestStatus" onstart="showLoading()" onstop="showResult()" />
    

    </apex:form>


    <apex:form >

        <apex:outputPanel id="excluiveData" >
            <div class="slds-form-element slds-m-around_small"  id="responsive" >

                <div class="slds-m-top_xxx-small">
                    <div class="slds-text-heading_x-small">{!$Label.RTL_Campaign_History_Campaing_Exclusive}</div>
                </div>

                <div id="loadingPanel">
                    <div class="slds-m-top_xxx-small slds-p-around_x-small slds-border_top slds-border_bottom">
                        <apex:outputText value="{!$Label.RTL_Campaign_History_Loading}"  styleClass="noRowsHeader" />
                    </div>
                </div>

                <div id="ResultPanel">

                    <apex:outputPanel rendered="{!(ISNULL(cmWrapperList) || cmWrapperList.size == 0)&& exclusiveCalloutSuccess }" >
                        <div class="slds-m-top_xxx-small slds-p-around_x-small slds-border_top slds-border_bottom">
                            <apex:outputText value="{!$Label.RTL_No_Record_Display}"  styleClass="noRowsHeader" />
                        </div>
                    </apex:outputPanel>
                    <!-- <apex:outputPanel rendered="{!(ISNULL(exclusiveCampaign) || exclusiveCampaign.size == 0)}" >
<div class="slds-m-top_xxx-small slds-p-around_x-small slds-border_top slds-border_bottom">
<apex:outputText value="{!$Label.RTL_No_Record_Display}"  styleClass="noRowsHeader" />
</div>
</apex:outputPanel> -->

                    <apex:outputPanel rendered="{! !exclusiveCalloutSuccess }" >
                        <div class="slds-m-top_xxx-small slds-p-around_x-small slds-border_top slds-border_bottom error_text">
                            <!-- <apex:outputText value="{!exclusiveCalloutError} : {!exclusiveCalloutErrorDesc}"  styleClass="noRowsHeader" /> -->
                            {!$Label.RTL_Campaign_History_ErrorMessage1}<br />
                            {!$Label.RTL_Campaign_History_ErrorMessage2}&nbsp;
                           <apex:commandLink action="{!requestInt06}" value="{!$Label.RTL_Campaign_History_ErrorMessage3}" reRender="excluiveData" status="loadRequestStatus" /> 
                           {!$Label.RTL_Campaign_History_ErrorMessage4}
                        </div>
                    </apex:outputPanel>

                    <!-- <apex:outputPanel id="excTable" rendered="{! (!ISNULL(exclusiveCampaign) && exclusiveCampaign.size > 0)}" >    -->
                    <apex:outputPanel id="excTable" rendered="{! (!ISNULL(cmWrapperList) && cmWrapperList.size > 0)}" >
                        <div class="slds-m-top_xxx-small">
                            <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-max-medium-table--stacked-horizontal slds-table_fixed-layout" style="text-align: center;font-size: 12px; width: 100%;">
                                <thead>
                                    <tr class="slds-text-title--caps slds-section-title--divider">
                                        <th class="slds-size_1-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignMemberLinkHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignMemberLinkHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_1-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignCodeHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignCodeHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_3-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignNameHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignNameHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_1-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignStartDateHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignStartDateHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_1-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignEndDateHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignEndDateHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_1-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignStatusHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignStatusHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_1-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignChannelHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignChannelHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_1-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignOfferResultCRMHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignOfferResultCRMHeader}
                                            </div>
                                        </th>
                                        <th class="slds-size_2-of-12" scope="col"> 
                                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignOfferResultCTHeader}">
                                                {!$Label.RTL_Campaign_History_CampaignOfferResultCTHeader}
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <apex:repeat value="{!cmData}" var="cmW" >

                                        <tr class="dataRow">


                                            <td data-label="{!$label.RTL_Campaign_History_CampaignCodeHeader}" > 
                                                <div class="slds-cell-wrap" title="">
                                                    <!-- <apex:outputLink value="RTL_ViewCampaignMemberExclusive?mcode={!cmW.MarketingCode}" onClick="openTab('?mcode={!cmW.MarketingCode}','/apex/RTL_ViewCampaignMemberExclusive','Campaign Member');return false" >{!$Label.RTL_Campaign_History_ViewDetail}</apex:outputLink> -->
                                                    <apex:outputPanel rendered="{!IF(cmW.camMemResObj.CampaignSalseforceId==null&&cmW.camObj.Name!=null,true,false)}">
                                                        <apex:outputLink value="RTl_viewCampaignmember?mcode={!cmW.camMemResObj.MarketingCode}&tmbid={!accountObj.TMB_Customer_ID_PE__c}" 
                                                            onClick="openTab('?mcode={!cmW.camMemResObj.MarketingCode}&tmbid={!accountObj.TMB_Customer_ID_PE__c}','/apex/RTl_viewCampaignmember','Campaign Member');return false" >
                                                             {!$Label.RTL_Campaign_History_ViewDetail}
                                                        </apex:outputLink>
                                                    </apex:outputPanel>
                                                    <apex:outputPanel rendered="{!IF(cmW.camMemResObj.CampaignSalseforceId!=null,true,false)}">
                                                        <apex:outputLink value="RTl_viewCampaignmember?id={!cmW.camMemResObj.CampaignSalseforceId}" 
                                                            onClick="openTab('?id={!cmW.camMemResObj.CampaignSalseforceId}','/apex/RTl_viewCampaignmember','Campaign Member');return false" >
                                                            {!$Label.RTL_Campaign_History_ViewDetail}
                                                        </apex:outputLink>
                                                    </apex:outputPanel>
                                                    
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignCodeHeader}" > 
                                                <div class="slds-cell-wrap" title="{!cmW.camMemResObj.CampaignCode}">
                                                    <apex:outputText value="{!cmW.camMemResObj.CampaignCode}" />  
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignNameHeader}" > 
                                                <div class="slds-cell-wrap" title="{!cmW.camObj.Name}">
                                                    <!-- <apex:outputText value="{!cmW.camObj.Name}" /> -->
                                                    <apex:outputField value="{!cmW.cam.CampaignId}" />
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignStartDateHeader}" > 
                                                <div class="slds-cell-wrap" title="{!cmW.camObj.StartDate}">
                                                    <apex:outputText value="{0,date, dd/MM/yyyy}"> 
                                                <apex:param value="{!cmW.camObj.StartDate}" /> 
                                    </apex:outputText>
                                                    <!--   <apex:outputText value="{0,date, dd MMMM yyyy}"> 
<apex:param value="{!lcm.Campaign.StartDate}" /> 
</apex:outputText> -->
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignEndDateHeader}" > 
                                                <div class="slds-cell-wrap" title="{!cmW.camObj.EndDate}">
                                                    <apex:outputText value="{0,date, dd/MM/yyyy}"> 
                                                <apex:param value="{!cmW.camObj.EndDate}" /> 
                                    </apex:outputText>
                                                    <!-- <apex:outputText value="{0,date, dd MMMM yyyy}"> 
<apex:param value="{!lcm.Campaign.EndDate}" /> 
</apex:outputText>   -->
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignStatusHeader}" > 
                                                <div class="slds-cell-wrap" title="{!cmW.camObj.status}">
                                                    <apex:outputfield value="{!cmW.camObj.status}" />  
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignChannelHeader}" > 
                                                <div class="slds-cell-wrap" title="{!cmW.camMemResObj.CampaignChannel}">
                                                    <apex:outputText value="{!cmW.camMemResObj.CampaignChannel}" />  
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignOfferResultCRMHeader}" > 
                                                <div class="slds-cell-wrap" title="">
                                                    <apex:outputText value="{!cmW.camMemResObj.camMemObject.RTL_Offer_Result__c}" />  
                                                </div>
                                            </td>

                                            <td data-label="{!$label.RTL_Campaign_History_CampaignOfferResultCTHeader}" > 
                                                <div class="slds-cell-wrap" title="{!cmW.camMemResObj.OfferResult}">
                                                    <apex:outputText value="{!cmW.camMemResObj.OfferResult}" rendered="{! IF( cmW.camMemResObj.OfferResult !=null && cmW.camMemResObj.OfferResult != '' ,true,false ) }" />  
                                                    <apex:outputText value="{!cmW.camMemResObj.camMemObject.RTL_Offer_Result_CC__c }" rendered="{! IF( cmW.camMemResObj.OfferResult !=null && cmW.camMemResObj.OfferResult != '' ,false,true ) }" />  
                                                </div>
                                            </td>


                                        </tr>
                                        <!-- <apex:variable var="rowNum" value="{!rowNum + 1}" /> -->
                                    </apex:repeat>

                                    <!-- /////////tae/////////// -->

                                    <!-- <apex:repeat value="{!exclusiveCampaign}" var="lcm" >

<tr class="dataRow">

<td data-label="{!$label.RTL_Campaign_History_CampaignMemberLinkHeader}" > 
<div class="slds-cell-wrap" title="">
<apex:outputLink value="/{!lcm.id}" onClick="openTab('?id={!lcm.id}','/apex/RTl_viewCampaignmember','Campaign Member');return false" >{!$Label.RTL_Campaign_History_ViewDetail}</apex:outputLink>
</div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignCodeHeader}" > 
<div class="slds-cell-wrap" title="{!lcm.Campaign.RTL_Campaign_Code_10_digits__c}">
<apex:outputText value="{!lcm.Campaign.RTL_Campaign_Code_10_digits__c}" />  
</div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignNameHeader}" > 
<div class="slds-cell-wrap" title="{!lcm.Campaign.Name}">
<apex:outputField value="{!lcm.CampaignId}" />
</div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignStartDateHeader}" > 
<div class="slds-cell-wrap" title="">
<apex:outputField value="{!lcm.Campaign.StartDate}"/>
<!--   <apex:outputText value="{0,date, dd MMMM yyyy}"> 
<apex:param value="{!lcm.Campaign.StartDate}" /> 
</apex:outputText> -->
                                    <!-- </div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignEndDateHeader}" > 
<div class="slds-cell-wrap" title="">
<apex:outputField value="{!lcm.Campaign.EndDate}"/> -->
                                    <!-- <apex:outputText value="{0,date, dd MMMM yyyy}"> 
<apex:param value="{!lcm.Campaign.EndDate}" /> 
</apex:outputText>   -->
                                    <!-- </div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignStatusHeader}" > 
<div class="slds-cell-wrap" title="{!lcm.Campaign.status}">
<apex:outputField value="{!lcm.Campaign.status}" />  
</div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignChannelHeader}" > 
<div class="slds-cell-wrap" title="{!lcm.Campaign.RTL_Campaign_Channel_formula__c}">
<apex:outputField value="{!lcm.Campaign.RTL_Campaign_Channel_formula__c}" />  
</div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignOfferResultCRMHeader}" > 
<div class="slds-cell-wrap" title="{!lcm.RTL_Offer_Result__c}">
<apex:outputField value="{!lcm.RTL_Offer_Result__c}" />  
</div>
</td>

<td data-label="{!$label.RTL_Campaign_History_CampaignOfferResultCTHeader}" > 
</td>

</tr>
<!-- <apex:variable var="rowNum" value="{!rowNum + 1}" /> -->
                                    <!-- </apex:repeat> -->
                                </tbody>
                            </table>
                        </div>
                        <div class="slds-m-top_small">
                            <div class="slds-grid">
                                <div class="slds-align_absolute-center">
                                    <div class="slds-grid slds-grid_vertical-align-start">
                                        <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
                                            <apex:commandLink action="{!previousExclusive}" rendered="{! !disablePreviousExclusive}" value="{!$Label.RTL_Campaign_History_Previous}" status="loadRequestStatus" reRender="excTable" /> 
                                            <apex:outputText value="{!$Label.RTL_Campaign_History_Previous}" rendered="{! disablePreviousExclusive}" />  
                                        </div>

                                        <!-- <apex:repeat value="{!exclusivePageList}" var="page">
                                            <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
                                                <apex:commandLink action="{!requestInt06}" rendered="{! If(page!=exclusiveCampaignPage,true,false) }" 
                                                                  value="{!page}" reRender="excTable" 
                                                                  onclick="navigateExclusive({!page});return false;"
                                                                  /> 
                                                <apex:outputText value="{!page}" rendered="{! If(page!=exclusiveCampaignPage,false,true) }" />
                                            </div>
                                        </apex:repeat> -->
                                        <apex:repeat value="{!exclusivePagination}" var="page">
                                            <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
                                                <apex:commandLink action="{!requestInt06}" rendered="{! If(page!=exclusiveCampaignPage,true,false) }" 
                                                                  value="{!If(page==-1,'',page)}" reRender="excTable" 
                                                                  onclick="navigateExclusive({!page});return false;"
                                                                  /> 
                                                <apex:outputText value="{!page}" rendered="{! If(page!=exclusiveCampaignPage,false,true) }" />
                                                <apex:outputText value="{!If(page==-1,'...',page)}" rendered="{! If(page!=-1,false,true) }" /> 
                                            </div>
                                        </apex:repeat>

                                        <!-- <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
{!exclusiveCampaignPage}disableNextExclusive
</div> -->

                                        <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
                                            <apex:commandLink action="{!nextExclusive}" rendered="{! !disableNextExclusive}" value="{!$Label.RTL_Campaign_History_Next}"  status="loadRequestStatus" reRender="excTable" />
                                            <apex:outputText value="{!$Label.RTL_Campaign_History_Next}" rendered="{! disableNextExclusive}" />   
                                        </div>


                                    </div>


                                </div>
                                <div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-col_bump-left">
                                    {!$Label.RTL_Campaign_History_Page} {!exclusiveCampaignPage} {!$Label.RTL_Campaign_History_Of} {!exclusiveExCampaignTotalPage}
                                </div>
                            </div>
                        </div>
                    </apex:outputPanel>
                </div>
            </div> 



        </apex:outputPanel>

    </apex:form>

</apex:page>