<apex:page docType="html-5.0" showChat="false" 
           sidebar="false" applyBodyTag="false" 
           applyHtmlTag="true"  standardStylesheets="true" controller="SLOSPrescreenController2" >
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w4.org/1999/xlink">
        
        <head>
            <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
            <apex:stylesheet value="{!URLFOR($Resource.sfLightningVF, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
            
            <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>
            <apex:stylesheet value="{!URLFOR($Resource.AccountPlanEditTable)}"/>
            <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
            <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />
            <apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>
            <apex:includeScript value="/support/console/22.0/integration.js"/>
             <apex:stylesheet value="{!URLFOR($Resource.SLOS)}"/>
            <style>
               
                .slds-form-element__control{
                    height: 30px;
                }
                .slds img{
                    max-width: none;
                }
            </style>
        </head>
        
        <body>
            
            <apex:form styleclass="slds-form--stacked" id="frm">
                <!-- Ajax  -->
                <apex:actionStatus id="status" onstart="ShowSpin()" onstop="HideSpin()"> </apex:actionStatus>
                <apex:actionFunction action="{!showProduct}" name="showProduct" rerender="sfproductPanel" status="status">
                    <apex:param name="opplineindex" assignTo="{!opplineindex}" value=""/>
                </apex:actionFunction>
                <apex:actionFunction name="loading" status="status" rerender="nothing"/>
                
                <div class="slds"> 
                    <!-- spin -->
                    <div id="spin" style="display:none;" class="slds-spinner_container">
                        <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div> 
                    <!--HEADER-->
                    <div class="slds-page-header" role="banner">
                        <div class="slds-grid">
                            <div class="slds-col">
                                <div class="slds-media">
                                    
                                    <div class="slds-media__figure">
                                        <span class="slds-icon__container slds-icon__container--circle slds-icon-standard-related-list">
                                            <span class="bootstrap-sf1">
                                                     <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                </span>
                                        </span>
                                    </div>
                                    
                                    <div class="slds-media__body">
                                        <p class="slds-text-heading--label">Result</p>
                                        <h1 class="slds-text-heading--small">
                                            Submit to Host {!if(host=='SLS','SLS','Excel')}
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--END HEADER-->
                    <!--CONTAINER-->
                    <div class="slds-grid--align-center slds-m-around--medium ">
                       
                        <apex:outputPanel id="message">
                        
                            <apex:pageMessages escape="false" ></apex:pageMessages>
                        
                    </apex:outputPanel>
                        <div class="slds-size--2-of-2">
                            
                            <div class="slds-box--x-small slds-m-around--x-small">
                                <fieldset class="slds-theme--default ">
                                    
                                    <apex:actionFunction action="{!cancel}" name="cancelDesktop"/>
                                    <div class="slds-text-align--center" >
                                        <div class="slds-form-element" >
                                            <apex:commandButton value="Back To Opportunity" onclick="cancel();" styleClass="slds-button slds-button--brand" oncomplete="HideSpin()"/></div>
                                    </div>
                                    
                                </fieldset>
                            </div>
                        </div>
                         <div class="slds-size--1-of-2 slds-m-around--medium" style="margin: 0 auto;">
                            
                            <div class="slds-box--x-small slds-m-around--x-small">
                                <fieldset class="slds-box slds-theme--default ">
                                    <legend id="Submit" class=" slds-p-vertical--small slds-text-heading--label">
                                        <apex:outputPanel >{!if(host=='SLS','App Reference No','CRM ID')}</apex:outputPanel>
                                    </legend>
                                    
                                   <div class="slds-panel__section slds-text-align--center">
                                    <span class="slds-form-element__static slds-text-align--center slds-text-heading--small">
                                    {!if(host=='SLS',oppty.App_Ref_Number__c,oppty.CAID__c)}
                                    
                                    </span>
                                       <br/> <span class="slds-form-element__static">
                                     Please use this ID to update information on {!if(host=='SLS','SLS','CRS')}
                                     <br/>โปรดใช้หมายเลขอ้างอิงนี้ในการค้นหา CA บนระบบ {!if(host=='SLS','SLS','CRS')}
                                </span>
                                </div>
                                 
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <!--END CONTAINER-->
                    
                </div>
            </apex:form>
            
            <apex:includeScript value="/support/console/36.0/integration.js"/>
            <script>
             var $j = jQuery.noConflict();  
            var _maintab;
            function ShowSpin(){
                $('#spin').show();
            }
            function HideSpin(){
                $('#spin').hide();          
            }     
            //Sets the title of the current tab to "Case Transactions Detail"
            window.onload = function setTitleConsole(){
                setTitle();
            }
            //Sets the title of the current tab to "Case Transactions Detail"
            function setTitle() {
                sforce.console.setTabTitle('Submit For Approval');
            }  
            function closeTab() {
                //First find the ID of the current tab to close it
                sforce.console.getEnclosingTabId(closeSubtab);
                return false;
            }            
            var closeSubtab = function closeSubtab(result) {
                //Now that we have the tab ID, we can close it
                var tabId = result.id;
                sforce.console.closeTab(tabId); 
            };   
            
           
            $j(document).ready( function () {
                setTitle();
            });
             function cancel() {
                ShowSpin();
                //First find the ID of the current tab to close it
                if ((typeof sforce.one != 'undefined') && (sforce.one != null) ){
                    sforce.one.navigateToSObject('{!oppty.Id}' );
                }else{
                 if(sforce.console.isInConsole()){
                         sforce.console.setTabTitle("{!oppty.name}");
                    }
                    cancelDesktop();
                }
            }  
            </script>
        </body>
    </html>
</apex:page>