<apex:page showHeader="false" sidebar="false" lightningStylesheets="true">
    <style>
        .middle-button{
            position: absolute;
            top: 50%;
        }
        .height-button{
            height: 50px;
        }
    </style>
    <apex:form >
        <apex:slds />   

        <!-- Action Status : Loader-->
        <apex:actionStatus id="status" rendered="true" onstart="showSpinner();" onstop="hideSpinner();">
            <apex:facet name="start">
                <div class="slds-spinner_container slds-hide">
                    <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                        <div class="slds-spinner__dot-a"></div>
                        <div class="slds-spinner__dot-b"></div>
                    </div>
                </div>
            </apex:facet>
        </apex:actionStatus>

        <div class="slds-grid slds-grid_vertical slds-grid--align-spread">
                <div class="slds-align-middle slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 middle-button" style="margin-top: -75px;">
                    <apex:commandButton styleClass="slds-button slds-button_neutral slds-button_stretch height-button" value="My Lead" onclick="gotoMyLead(); return false;"/>      
                </div>
                <div class="slds-align-middle slds-col--padded slds-size--1-of-1 slds-medium-size--1-of-2 slds-large-size--1-of-3 middle-button" >
                    <apex:commandButton styleClass="slds-button slds-button_neutral slds-button_stretch height-button" value="My Customer" onclick="gotoMyCustomer(); return false;"/>   
                </div>
        </div>
    </apex:form>
    
    <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />      
    <script type="text/javascript">
        function showSpinner() {
            $('.slds-spinner_container').removeClass('slds-hide');
            $('.slds-spinner_container').addClass('slds-show');
        }

        function hideSpinner() {
            $('.slds-spinner_container').removeClass('slds-show');
            $('.slds-spinner_container').addClass('slds-hide');
        }

        function showSpinnerJS() {
            $("[id$=start]").show();
            showSpinner();
        }

        function hideSpinnerJS() {
            $("[id$=start]").hide();
            hideSpinner();
        }

        function gotoMyLead() {
            showSpinnerJS();
            window.location ='/apex/BDM_Lead_list_mobile?isdtp=p1';
        }
        function gotoMyCustomer() {
            showSpinnerJS();
            window.location = '/apex/BDM_Customer_list_mobile?isdtp=p1';
        }
    </script>
</apex:page>