<apex:page controller="TaskEventHomeController" standardStylesheets="true">
<apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />
    
        <head>
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Piyawat Pitakpawatkul" />
         <!-- Include -->
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
    
        <!-- fix for sf1 mobile font like native -->
        <style type="text/css">
            /*
            .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1800;
            }
            .loader {
            background: url('/img/loading32.gif') scroll no-repeat 0 0;
            width: 32px;
            height: 32px;
            position: absolute;
            left: 50%;
            }
            */
            .red-label {
            list-style: none;
            color: #f00;
            }
            
            @font-face {
            font-family: 'ProximaNovaSoft-Regular';
            font-weight: normal;
            font-style: normal;
            
            src: url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.eot')}');
            src: url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.eot')}?#iefix') format('embedded-opentype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.woff')}') format('woff'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.ttf')}') format('truetype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.svg')}#proxima_nova_softregular') format('svg');
            }
            @font-face {
            font-family: 'ProximaNovaSoft-Medium';
            font-weight: normal;
            font-style: normal;
            src: url('../fonts/proximanovasoft-regular.eot');
            src: url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.eot')}?#iefix') format('embedded-opentype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.woff')}') format('woff'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.ttf')}') format('truetype'), url('{!URLFOR($Resource.fonts, 'proximanovasoft-regular.svg')}#proxima_nova_softmedium') format('svg');
            }
            @font-face {
            font-family: 'icomoon';        
            src: url('{!URLFOR($Resource.fonts, 'icon-utility.eot')}');
            }      
            @font-face {
            font-family: 'icomoon';
            src: url("{!URLFOR($Resource.fonts, 'icon-utility.eot')}?#iefix") format("embedded-opentype"), url("{!URLFOR($Resource.fonts, 'icon-utility.woff')}") format("woff"), url("{!URLFOR($Resource.fonts, 'icon-utility.ttf')}") format("truetype"), url("{!URLFOR($Resource.fonts, 'icon-utility.svg')}#icomoon") format("svg");
            font-weight: normal;
            font-style: normal;
            }
            
        </style>
        <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>  
        <!-- Mobile fix -->
        <style type="text/css">
            @media (max-width: 500px) {
            
            .bootstrap-sf1 .form-horizontal .form-group {
            margin-left: -10px;
            margin-right: -10px;
            }
            .dateOnlyInput .dateFormat {
            
            top: 25px;
            
            }
            input[type="checkbox"], input[type="radio"] {
            
            height: 30px;
            width: 50px;
            }
            .bootstrap-sf1 .form-horizontal .checkbox{
            margin-bottom: 5px;
            }
            .bootstrap-sf1 .radio label, .bootstrap-sf1 .checkbox label {
            padding-left: 40px;
            }
            .bootstrap-sf1 .radio input[type="radio"], .bootstrap-sf1 .radio-inline input[type="radio"], .bootstrap-sf1 .checkbox input[type="checkbox"], .bootstrap-sf1 .checkbox-inline input[type="checkbox"] {
            position: absolute;
            margin-left: -45px;
            top:-5px;
            }
            
            .bootstrap-sf1{
            overflow: hidden;
            }
            .bootstrap-sf1 .container{
            padding-left :0px;
            padding-right:0px;
            }
            .bootstrap-sf1 .page-header[class*="context-"] {
                position: relative;
                padding-top: 14px;
                margin: -15px -15px 10px -15px;
            }
            
            
            }
            .bootstrap-sf1{
            background-color: #FFF;
            
            }
            
            /*<!-- Loading style -->*/
            
            
        </style>
        
        <!-- svg loader style -->
        <style>
            .Indicator{
            /*position : relative;*/
            }
            .Indicator.hidden {
            display: none;
            }
            .Indicator .modal-glass {
            background-color: #000000;
            bottom: 0;
            display: block;
            left: 0;
            margin-left: 0px;
            opacity: 0.3;
            position: fixed;
            right: 0;
            top: 0;
            height : 100%;
            z-index: 1999;
            
            }            
            .Indicator .hideEl {
            display: none;
            }
            .Indicator .indicatorContainer {
            background: none repeat scroll 0 0 #354452;
            border-radius: 5px;
            color: #FFFFFF;
            display: block;
            height: 82px;
            left: 0;
            margin: -65px auto;
            opacity: 0.9;
            padding-top: 22px;
            position: fixed;
            right: 0;
            text-align: center;
            top: 250px;
            width: 110px;
            z-index: 2000;
            }
            
            /*
            Set the color of the icon
            */
            svg path,
            svg rect {
            fill: #2A94D6;
            }
            
            
        </style>
              

    </head>
    <body>
        
    <div class="bootstrap-sf1 ">
    <div class='container' >
            <!-- Account -->
            <div class="page-header page-header-anchor context-recent">
                <div class="container">
                    <h1>Home</h1>
                </div></div>
            </div>    

<apex:form >  
               <apex:outputPanel id="tasklistPanel" >
               <div class="bMyCalendar" id="homeCalendarSection">
                   <div class="bPageBlock brandSecondaryBrd secondaryPalette">
                        <div class="pbHeader" >
                            
                            <tr style="text-align: left;" >
                                <td style="border-color: #f90;border-style: solid;border-width: 2px;" >
                                
                                    <div style="float:left;">
                                        <div class="bootstrap-sf1"   >
                                           
                                           <div style="padding:10px;float:left;"></div>
                                           <div style="margin-left:30px;float:left;font-weight:bolder;"></div> 
                                           
                                           <div style="float:left;padding-top:5px;">
                                            <apex:outputPanel rendered="{!isShowReferral}">
                                               <a href="" onclick="navigateto('{!reportPageReferral}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon-calendar" style="margin-right:5px;text-align:left" ></span>Pending Referral
                                                    <apex:outputPanel rendered="{!if(countNewReferral > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countNewReferral}</span>
                                                    </apex:outputPanel>
                                                </a>
                                               </apex:outputPanel>
                                               
                                               <apex:outputPanel rendered="{!isShowLead}">
                                                <a href="" onclick="navigateto('{!reportPageLead}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon-calendar" style="margin-right:5px;text-align:left" ></span>New Lead
                                                    <apex:outputPanel rendered="{!if(countNewLead > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countNewLead}</span>
                                                    </apex:outputPanel>
                                                </a>
                                               </apex:outputPanel>
                                                  
                                               <apex:outputPanel rendered="{!reportPageProductDue}">
                                                <a href="" onclick="navigateto('{!reportPageOverdue}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon-calendar" style="margin-right:5px;text-align:left" ></span>Overdue Activity
                                                    <apex:outputPanel rendered="{!if(countOverdue > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countOverdue}</span>
                                                    </apex:outputPanel>
                                                </a>
                                               </apex:outputPanel>
                                               
                                               <apex:outputPanel rendered="{!isShowAnnual}">
                                                <a href="" onclick="navigateto('{!reportPageAnnual}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon-list-alt" style="margin-right:5px;" ></span>Annual Review 
                                                    <apex:outputPanel rendered="{!if(countAcctAnnualReview > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countAcctAnnualReview}</span>
                                                    </apex:outputPanel>
                                                </a>
                                               </apex:outputPanel>
                                               
                                                <apex:outputPanel rendered="{!isShowPageProductDue}">
                                                <a href="" onclick="navigateto('{!reportPageProductDue}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon-exclamation-sign" style="margin-right:5px;" ></span>Product Due Date
                                                    <apex:outputPanel rendered="{!if(countProductDue > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countProductDue}</span>
                                                    </apex:outputPanel>
                                                </a>
                                               </apex:outputPanel>
                                               
                                               <apex:outputPanel rendered="{!isShowDPD}">
                                                <a href="" onclick="navigateto('{!reportPageDPD}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon-warning-sign" style="margin-right:5px;" ></span>DPD Alert
                                                    <apex:outputPanel rendered="{!if(countDPD > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countDPD}</span>
                                                    </apex:outputPanel>
                                                </a>
                                               </apex:outputPanel>
                                                <!--
                                                <a href="" onclick="navigateto('{!reportPageComplaint}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon glyphicon-thumbs-down" style="margin-right:5px;" ></span>Customer Complaint
                                                    <apex:outputPanel rendered="{!if(countAcctComplaint > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countAcctComplaint}</span>
                                                    </apex:outputPanel>
                                                </a> 
                                               -->
                                               <apex:outputPanel rendered="{!isShowCase}">
                                                 <a href="" onclick="navigateto('{!reportPageCase}')" class="btn btn-default" style="padding-right:20px;width:220px;text-align:left">
                                                    <span class="glyphicon glyphicon-calendar" style="margin-right:5px;" ></span>Open Case
                                                    <apex:outputPanel rendered="{!if(countCaseNumber > 0,'true','false')}">
                                                        <span class="badge" style="margin-left:5px;background-color:red;">{!countCaseNumber}</span>
                                                    </apex:outputPanel>
                                                </a>   
                                               </apex:outputPanel>
                                               
                                            </div> 
                                        </div>
                                    </div> 
                                
                                </td>
                            </tr>
                        
                        </div>
                       <br/>
                       <div class="pbBody" style="padding-top:5px;max-height:100%;width:98%;float:left;overflow:auto">
                      
                        <table style="float:left;width:98%" >
                        <tr>
                            <td style="padding-right:5px;">
                                <div class="miniTab secondaryPalette">
                                    <ul class="miniTabList" style="text-align:left">
                                        <li class="currentTab">
                                            <a href="/home/home.jsp">This Week Activities</a>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <apex:outputPanel id="activityTable">

                                    <table class="list " border="0" cellpadding="0" cellspacing="0" style="margin:10px;width:98%;">
                                    <tr class="headerRow">
                                        <th class="headerRow"> Date / Subject </th>
                                        <th class="headerRow"> Type </th>
                                        <th class="headerRow"> Related to</th>
                                    </tr>
                                    <tr >
                                        <td class="dataCell" colspan="3"></td>
                                    </tr>
                                    
                                    <apex:repeat value="{!DateSet}" var="datevalue">
                                    <tr class="dataRow">
                                        <td class="dataHeader" style="padding-left:30px;text-align:left">
                                            <b><apex:outputText value="{!datevalue}"></apex:outputText></b>
                                        </td>
                                        <td class="dataHeader" colspan="2"></td>
                                    </tr>
                                    <apex:repeat value="{!taskANDeventMap[datevalue]}" var="cld">
                                    <tr class="dataRow" >
                                        <td class="dataCell" style="color:{!if(!cld.isTask,'#289AFF','black')};text-align:left" > 
                                            
                                            <apex:outputPanel rendered="{! !cld.isTask}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</apex:outputPanel>
                                            <apex:outputText value="{!cld.EventRecord.Visit_Plan_Report__r.Start_Visit_Time__c }"/>
                                            <apex:outputText value=" - "  rendered="{! !cld.isTask && cld.EventRecord.Visit_Plan_Report__r.Start_Visit_Time__c !=null && cld.EventRecord.Visit_Plan_Report__r.End_Visit_Time__c !=null   }"  />
                                            <apex:outputText value=" {!cld.EventRecord.Visit_Plan_Report__r.End_Visit_Time__c  }"/>
                                            <table>
                                            <tr>
                                                <td rowspan="2" style="vertical-align:top">
                                                <div class="bootstrap-sf1"  
                                                     style="background-color:white;float:left;margin-right:5px;vertical-align:top" >
                                                  <span class="glyphicon glyphicon-star" aria-hidden="true" style="color:#EEB422;display:{!if(cld.isTask,'grid','none')};"></span>
                                                  <span class="glyphicon glyphicon-home" aria-hidden="true" style="color:#B0C4DE;display:{!if(!cld.isTask,'grid','none')};"></span>
                                                </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align:left">
                                                        <apex:outputPanel onclick="sforce.one.navigateToSObject('{!cld.TaskRecord.id}');" rendered="{!cld.isTask}" style="color:{!if(!cld.isTask,'#289AFF','black')};">
                                                            {!if(len(cld.TaskRecord.Subject) < 30,cld.TaskRecord.Subject,left(cld.TaskRecord.Subject,29)+'...')}
                                                        </apex:outputPanel>

                                                        <apex:outputPanel onclick="sforce.one.navigateToSObject('{!cld.EventRecord.Visit_Plan_Report__r.id}');" rendered="{! !cld.isTask}" style="color:{!if(!cld.isTask,'#289AFF','black')};">
                                                            {!if(len(cld.EventRecord.Subject) < 30,cld.EventRecord.Subject,left(cld.EventRecord.Subject,29)+'...')}
                                                        </apex:outputPanel>
                                                </td>
                                            </tr>
                                            </table>
                                        </td>
                                        <td class="dataCell" style="color:{!if(!cld.isTask,'#289AFF','black')};vertical-align:top" > 
                                            <apex:outputText value="Task" rendered="{!cld.isTask}" />
                                            <apex:outputText value="Visit" rendered="{! !cld.isTask}" />
                                        </td>
                                        <td class="dataCell" style="color:{!if(!cld.isTask,'#289AFF','black')};vertical-align:top;text-align:left" > 
                                            <apex:outputPanel onclick="sforce.one.navigateToSObject('{!cld.TaskRecord.WhatID}')" rendered="{!cld.isTask}" style="color:{!if(!cld.isTask,'#289AFF','black')};">
                                                    {!if(len(cld.TaskRecord.What.name) < 30,cld.TaskRecord.What.name,left(cld.TaskRecord.What.name,29)+'...')}
                                                </apex:outputPanel>
                                             <apex:outputPanel onclick="sforce.one.navigateToSObject('{!cld.EventRecord.Visit_Plan_Report__c}')" rendered="{! !cld.isTask}" style="color:{!if(!cld.isTask,'#289AFF','black')};">
                                                    {!if(len(cld.EventRecord.Visit_Plan_Report__r.Customer_Name__r.name) < 30,cld.EventRecord.Visit_Plan_Report__r.Customer_Name__r.name,left(cld.EventRecord.Visit_Plan_Report__r.Customer_Name__r.name,29)+'...')}
                                                </apex:outputPanel>
                                        
                                        </td>
                                    </tr>
                                    <tr class="dataRow" style="display:{! if(cld.TaskRecord.Status !=null ||  cld.EventRecord.Visit_Status__c !=null,'grid','none')}" >
                                        <td colspan="3" style="padding-left:30px;vertical-align:top;text-align:left;border-bottom:none;color:{!if(!cld.isTask,'#289AFF','black')};">
                                            
                                            <apex:outputPanel rendered="{!((cld.isTask && (cld.TaskRecord.Main_Task__c !=null || cld.TaskRecord.Sub_Task__c!=null)) || (!cld.isTask && (cld.EventRecord.Visit_Plan_Report__r.Main_purpose__c != null || cld.EventRecord.Visit_Plan_Report__r.Sub_purpose__c !=null )))}">
                                            
                                                <apex:outputText value=" Main Task :" style="font-weight:bolder;" rendered="{!cld.isTask && cld.TaskRecord.Main_Task__c !=null}"  />
                                                <apex:outputText value=" Main Purpose :" style="font-weight:bolder;" rendered="{! !cld.isTask && cld.EventRecord.Visit_Plan_Report__r.Main_purpose__c !=null}"  />
                                                &nbsp;&nbsp; 
                                                <apex:outputfield value="{!cld.TaskRecord.Main_Task__c}" rendered="{!cld.isTask && cld.TaskRecord.Main_Task__c !=null}" />
                                                <apex:outputfield value="{!cld.EventRecord.Visit_Plan_Report__r.Main_purpose__c}" rendered="{! !cld.isTask && cld.EventRecord.Visit_Plan_Report__r.Main_purpose__c !=null}" />
                                            
                                                 <apex:outputPanel rendered="{!(cld.isTask && cld.TaskRecord.Sub_Task__c!=null)}"><br/>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;</apex:outputPanel>
                                                
                                                <apex:outputText value=" Sub Task :" style="font-weight:bolder;" rendered="{!cld.isTask && cld.TaskRecord.Sub_Task__c!=null }"   />
                                                &nbsp;&nbsp;
                                                <apex:outputText rendered="{!cld.isTask && cld.TaskRecord.Sub_Task__c!=null}">
                                                    {!if(len(cld.TaskRecord.Sub_Task__c) < 30,cld.TaskRecord.Sub_Task__c,left(cld.TaskRecord.Sub_Task__c,29)+'...')}
                                                </apex:outputText>

                                            </apex:outputPanel>

                                            <apex:outputPanel rendered="{!cld.isTask}">
                                                <apex:outputPanel rendered="{!(cld.TaskRecord.Main_Task__c !=null || cld.TaskRecord.Sub_Task__c != null)}"><br/></apex:outputPanel>
                                            <apex:outputText value=" Status :" style="font-weight:bolder;"/>
                                            <apex:outputfield value="{!cld.TaskRecord.Status}" rendered="{!cld.isTask}" />
                                            </apex:outputPanel>
                                            
                                            <apex:outputPanel rendered="{! !cld.isTask}">
                                                <apex:outputPanel rendered="{!(cld.EventRecord.Visit_Plan_Report__r.Main_purpose__c !=null || cld.Visit_Plan_Report__r.Sub_purpose__c!= null)}"><br/></apex:outputPanel>
                                            <apex:outputText value=" Status :" style="font-weight:bolder;"/>
                                            <apex:outputfield value="{!cld.EventRecord.Visit_Status__c }" rendered="{! !cld.isTask}" />
                                            </apex:outputPanel>
                                            
                                        </td>
                                    </tr>
                                    <tr class="dataRow">
                                        <td colspan="3" style="border-top:1px solid #e5e5e5"></td>
                                    </tr>
                                    </apex:repeat> 
                                    <tr >
                                        <td class="dataCell" colspan="3" style="border:none;height:15px"></td>
                                    </tr>
                                    </apex:repeat>
                                    </table>
                                    
                                    </apex:outputPanel>
                                     
                                    <apex:panelGrid columns="7" id="paginggrid" style="float:right;" >
                                    
                                    <apex:commandLink action="{!previous}" status="status" rendered="{!hasPrevious}" reRender="activityTable,paginggrid">Previous</apex:commandlink>&nbsp;&nbsp;
                                    <apex:commandLink action="{!next}"  status="status" rendered="{!hasNext}" reRender="activityTable,paginggrid">Next</apex:commandlink>&nbsp;&nbsp;
                                    <apex:outputText rendered="{!if(MaxpageNumber>0,true,false)}" value="{!pageNumber+1} / {!MaxpageNumber} " />
                                    
                                    </apex:panelGrid>
                                    
                                    <br/>
                                    
                                    <apex:panelGrid columns="7"  style="float:left;" >
                                    <apex:commandButton value="New Task" onclick="sforce.one.createRecord('Task','{!TaskRecordType}')"/>
                                    </apex:panelGrid>
                                    
                                    
                                </div>
                            </td>
                        </tr> 
                        </table> 
                        
 
                               
      <div class="mCalendar" style="float:left;" >
      
          <div class="body" >
              <apex:outputPanel id="calPanel" style="border-radius: 10px;
                                                  float:left;background-color:#FBFBFB;
                                                  margin-bottom:15px;
                                                  border: 1px solid #d6d6d6;">
                <div id="cal-legend" >
                    <ul>
                        <li style="margin-top:10px;" class="fc-fontstyle">
                            <span class="calendar-task"></span>My Tasks
                        </li>
                        <li style="margin-top:10px;margin-right:5px;" class="fc-fontstyle">
                            <span class="calendar-event"></span>My Events
                        </li>
                    </ul>
                    <div style="clear:both;"><!--fix floats--></div>
                </div>
                <div style="clear:both;"><!--fix floats--></div>
                <div  id="container">
                    <div id="calendar" ></div>
                </div>
                </apex:outputPanel>
          </div>
      </div>
                               
                               
                               
 </div>
                       <div class="pbFooter secondaryPalette"><div class="bg"></div></div></div></div>
    
               </apex:outputPanel>

</apex:form>    
   
 
    <style type="text/css">
      
       #cal-options {float:left;}
        #cal-legend { float:center;}
        #cal-legend ul {margin:0;padding:0;list-style:none;}
        #cal-legend ul li {margin:0;padding:5px;float:left;}
        #cal-legend ul li span {display:block; height:16px; width:16px; margin-right:4px; float:left; border-radius:4px;}
        #calendar {margin-top:20px;}
        #calendar a:hover {color:#fff !important;}
         
        .fc-event-inner {padding:3px;}
        .fc-unthemed .fc-today {
            background-color: #6495ED;
        }
        .fc-day-grid-container {height:240px !important;}
        .calendar-task {background:#B0C4DE;border-color:#B0C4DE;color:black}
        .calendar-event {background:#EEB422;border-color:#EEB422;color:black}
        
        .event { margin-left:15px;}
        .dataHeader {border-bottom-color:black !important;}
        .dataCell {border-bottom:none !important;}
        .fc-day-header {
            
            background: #e0e3e5; /* fallback for old browsers */
            background: -webkit-linear-gradient(to bottom, #F2F3F3 , #F2F3F4); /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to bottom, #F2F3F3 , #F2F3F4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    
        }
        li
            {
            list-style-type: none;
            }

        
        #calendar {
    width: 300px; 
    margin: 0 auto;
    padding: 20px;
    font-size: 10px;
}
        
.fc-header-title h2 {
    font-size: .9em;
    white-space: normal !important;
}
.fc-view-month .fc-event, .fc-view-agendaWeek .fc-event {
    font-size: 0;
    overflow: hidden;
    height: 2px;
}
        
    .msgIcon {
    background-image: url(/img/msg_icons/warning24.png);
    background-position: 0 0;
    width: 24px;
    height: 24px;
}

    .fc-bg{
        border-bottom: 1px solid #ececec;
    }
    
    .fc-center{
        font-family: Arial,Helvetica,sans-serif;
        color: #5c7995;
        border: 0;
        font-size: 14px;
    
    }
    
    .fc-fontstyle{
     font-family: Arial,Helvetica,sans-serif;
        color: #5c7995;
    font-weight:500;
    }

    .calendar-event{background-color : #EEB422 !important}
    .calendar-event{border-color : #EEB422 !important}
    .calendar-event{color : black !important}
    .calendar-task{background-color : #B0C4DE !important}
    .calendar-task{border-color : #B0C4DE !important}
    .calendar-task{color : black !important}
    .fc-more{color : black !important}    
        
    </style>
    
    <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
    <apex:includeScript value="{!$Resource.AccountPlan_Bootstrap}"/>
    <apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>
    <apex:includeScript value="{!$Resource.momentJS}"/>
    <apex:includeScript value="{!$Resource.SFScript}"  />   
    <apex:stylesheet value="{!$Resource.fullCalendarCSS}" />
    <apex:includeScript value="/support/console/34.0/integration.js"/>
    <apex:includeScript value="{!$Resource.fullCalendarMinJS}"/>
        
    
    <script type="text/javascript">
         var $j = jQuery.noConflict();
 //We need to wrap everything in a doc.ready function so that the code fires after the DOM is loaded
 $j(document).ready(function() {  
    var events_array = [

                    //At run time, this APEX Repeat will reneder the array elements for the events array

                    <apex:repeat value="{!events}" var="e">

                        {
                    
                            title: "{!e.title}",

                            start: '{!e.startString}',

                            end: '{!e.endString}',

                            id: '{!e.url}',
                            
                            url: '',

                            allDay: {!e.allDay},

                            className: '{!e.className}',

                        },

                    </apex:repeat>

                ];
   
   
  //Call the fullCallendar method. You can replace the '#calendar' with the ID of the dom element where you want the calendar to go. 
  $j('#calendar').fullCalendar({
   header: {
      left: 'prev',
      center: 'title',
      right: 'next'
    },
   editable: false,
   timeFormat: ' ',
   fixedWeekCount : false,
   events:events_array,
   theme : false,
           eventLimit: true, // for all non-agenda views
    views: {
        agenda: {
            eventLimit: 2 // adjust to 6 only for agendaWeek/agendaDay
        }
    },
   eventClick: function(calEvent, jsEvent, view){
             sforce.one.navigateToSObject(calEvent.id.substring(1));
   }
  });
  
  
    $j(".fc-popover").hide();
    $j(".fc-more-popover").hide();
    $j(".fc-more").show(); 
    
    
 });
 
function navigateto(a)
{

    if (a!='')
        sforce.one.navigateToSObject(a);
}     
 
</script>
    
    </div>
    </body>
</apex:page>