@font-face{
    font-family:"Noto Sans Thai Regular";
    src:url("https://mfcatomov01dsea.blob.core.windows.net/mlthwp/2018/12/NotoSansThaiNewAllNotoSansThai-Regular-5c09f87babeb3.woff") format("woff"),
    url("https://mfcatomov01dsea.blob.core.windows.net/mlthwp/2018/12/Noto-Sans-Thai-New-All_NotoSansThai-Regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}
html, body, .page1, .contDiv {
    margin: 0;
    padding : 0;
    /*font-family: "DBHelvethaicaX";*/
    color: #313131;
    font-family: "Noto Sans Thai Regular";
}
*{
    font-family: "Noto Sans Thai Regular";
}
h1{
    font-family: "Noto Sans Thai Regular";
}

.center{
    text-align: center;
}
.row{
    background-color: #eee;
    padding: 1.5rem 0;
    border-radius: 5px; 
    border: 1px solid #d4d4d4;
    font-family: "Noto Sans Thai Regular";
}
.nextButton{
    margin: 2rem 0;
}
.backButton{
    margin: 0 2rem;
}
hr{
    border-top: 1.5rem  solid #FFF;
    margin: 1rem 0 2rem 0;
}
.containner{
    height: 300px;
    margin: 0 2rem;
    font-size: 110%;
}

/* .border{
    border: 1px solid black;
    border-radius: 10px;
    min-height: 40px;
    vertical-align: middle;
    line-height: 40px;
} */

.template3-warp{
    overflow-x: auto;
    white-space: nowrap;
    text-align: center;
    width: 100%;
}

.template3-warp div{
    display: inline-block;
    width: 15%;
    height: 150px;
    line-height: 150px;
}

.font-white{
    font-weight: 600;
    color: #fff !important;
    margin: 0 2rem;
}

.header{
    font-size: 35px;
    font-weight: 600;
    margin: 2rem;
}

.template2 div{
    width:60%;
    margin:10px auto;
}

.fullbutton{
    width: 100% !important;
}

button.fullbutton{
    min-height: 50px;
    padding: 1rem;
}

.active{
    background-color: #03A9F4;
    border-color: gray; 
    color: white;
}

.btnScroll, .btnNext{
    padding: 5px 30px;
    font-size: 15px;
    font-weight: bold;
    border-radius: 20px;
}
.event-none {
    pointer-events: none;
    display: block;
    margin-left: auto;
    margin-right: auto;    
}
.hideLoading{
    display: none;
}
.showLoading{
    display: block;
}