/*----  Lookup field override ----*/
pre code {
    background: transparent;
}
.bootstrap-sf1 .lookupInput a.form-control {
    /*display: inline;
    position: absolute;
    top: 0px;*/
}

.bootstrap-sf1 .lookupInput img {
    /*float: right;*/
}

.bootstrap-sf1 span.lookupInput {
    position: relative;
    display: inherit;
}

.bootstrap-sf1 .lookupInput a,.bootstrap-sf1 .lookupInput a {
    border: none !important;
    background: none;
}

/* dateOnlyInput overide */
.dateOnlyInput .dateFormat {
    display: inline;
    position: absolute;
    top: 5px;
    right: 15px;
}

.bootstrap-sf1 {
    padding: 5px;
}

<!-- Table Style -->
.bootstrap-sf1 .forceBackground {
    background-color: #006DCC;
    color: white;
}

.bootstrap-sf1 .table tbody tr td.forceBackground {
    background-color: #006DCC;
    color: white;
}
.bootstrap-sf1 .forceBackground {
    background-color: #006DCC;
    color: white;
}
.bootstrap-sf1 .table tbody tr th.forceBackground {
    background-color: #006DCC;
    color: white;
    text-align: center;
}

.bootstrap-sf1 thead th {
    background-color: #006DCC;
    color: white;
    text-align: center;
    vertical-align: middle !important;
}
.bootstrap-sf1 thead th.forceBackground {
    background-color: #006DCC;
    color: white;
    text-align: center;
}
.bootstrap-sf1 div.forceBackground{
    background-color: #006DCC;
    color: white;
}
.bootstrap-sf1 .table tbody tr td.forceBackground {
    background-color: #006DCC;
    color: white;
}

.bootstrap-sf1 .forceBackgroundFomula {
    background-color: #B1A0C7;
    color: white;
}

.bootstrap-sf1 .table thead tr th.forceRemoveBackground {
    background-color: white;
    color: black;
    text-align: center;
}

.bootstrap-sf1 .table tbody tr.endRow {
    border-bottom: 1px solid #dadee2;
}
.bootstrap-sf1 .table tbody td.leftCol {
    border-left-style:solid;
}
.bootstrap-sf1 .table tbody td.rightCol {
    border-right-style:solid
}
<!-- modify byDA -->
.bootstrap-sf1 thead th {
    text-align: center;
}

.bootstrap-sf1 tbody td {
    text-align: center;
}

.outputText {
    padding-top: 7px;
}

<!-- Custom On Page -->
div.depend select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 14px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cfd0d2;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow
        ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
        .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap-sf1 header {
    border-radius: 4px;
    margin-top: 3px;
}

.bootstrap-sf1 .panel-heading {
    padding: 0px;
}

.bootstrap-sf1 .panel-heading [data-toggle="collapse"]:before {
    font-family: 'Glyphicons Halflings';
    content: "\25BC";
    float: left;
    padding-right: 10px;
    padding-left: 5px;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 18px;
}

.bootstrap-sf1 .panel-heading [data-toggle="collapse"].collapsed:before
{
    content: "\25B6";
}

.bootstrap-sf1 .card .card-detail {
    padding-top: 10px;
}

.bootstrap-sf1 .navbar-brand {
    font-weight: normal;
    font-size: 18px;
    height: 35px !important;
    padding-top: 5px;
}

.bootstrap-sf1 .navbar-default {
    height: 35px !important;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -o-box-sizing: content-box;
    -ms-box-sizing: content-box;
}

.bootstrap-sf1 .navbar {
    position: relative;
    min-height: 35px !important;;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.bootstrap-sf1 .HeadInLine{
    display:inline;
}

.bootstrap-sf1 .form-control-ex-30{
    
    width: 30px !important;
}
.bootstrap-sf1 .vertical-alignMiddle {
    vertical-align: middle;
}

.bootstrap-sf1 .table thead  tr th.alignMiddleAndCenter,.bootstrap-sf1 .table thead  tr td.alignMiddleAndCenter,.bootstrap-sf1 .table tbody  tr th.alignMiddleAndCenter,.bootstrap-sf1 .table tbody  tr td.alignMiddleAndCenter
{
    vertical-align: middle;
    text-align: center;
}

.bootstrap-sf1 .table thead tr th.leftLine {
    border-left: 2px;
    border-left-color: white;
    border-left-style: solid;
}

.bootstrap-sf1 .table thead tr td.leftLine,.bootstrap-sf1 .table tbody tr td.leftLine
{
    border-left: 2px;
    border-left-color: gray;
    border-left-style: solid;
}

.bootstrap-sf1 .endRow {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
.bootstrap-sf1 .table tbody tr th.forceColor {
    background-color: #006DCC;
    color:white;
}
.bootstrap-sf1 .fillin {
    background-color: #c5d9f1;
}
.bootstrap-sf1 .success {
    /*background-color: #ddede3;*/
    background-color: #c5d9f1;
}
.bootstrap-sf1 .warning {
    background-color: #fefaf5;
}
.bootstrap-sf1 .danger {
    background-color: #f7e7e7;
}
.bootstrap-sf1 .info {
    background-color: #d9edf2;
}
.display-none{
    display: none;
}
.display-block{
    display: table-row;
}
.padding15{
    padding: 15px 10px !important;
}
.padding20{
    padding: 20px 10px !important;
}
.font-bold{
    font-weight: bold;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear-both{
    clear: both;   
}
.bootstrap-sf1 .text-alignLeft{
    text-align: left;
}

.bootstrap-sf1 .nav > li.disabled > a{
    color: #3c3d3e;
}
.disablespan{
    margin-top:10px;
}
.bootstrap-sf1 .oddrow {
    background-color: #F9F9F9;
}

.bootstrap-sf1 .evenrow {
    background-color: #FFF;    
}
/*---Modal---*/
.modal {
  margin: 15px auto !important;  
}
.modal-dialog{
    width: 99% !important;
    height: auto !important;
    margin: 0px auto !important;
}
.modal-content{
    height: 100% !important;
}
.modal-header{
    padding: 10px 15px !important;
    border: none !important;
}
.modal-title{
    display:none !important;
}
.modal-body{
    padding: 10px 15px !important;
    clear: both !important;
}
.modal-body iframe{
    height: 390px !important;
}
.modal-footer {
    padding: 10px 20px !important;
}
/*----- Portfolio ------*/
a.disabled {
    pointer-events: none;
    cursor: default;
    color: black;
    text-decoration: none;
}
.bootstrap-sf1 .form-control.notfillin {
    background-color: #ffffff; /*#7f7f7f*/
}

.bootstrap-sf1 .form-control.calculate {
    background-color: #ffffff; /*#b2a1c7*/
}

.bootstrap-sf1 .form-control.calculate-blue {
    background-color: #006DCC;
}

.bootstrap-sf1 .form-control.fillin {
    background-color: #c5d9f1;
}

.bootstrap-sf1 .form-control.input120 {
    width: 120px;
}

.bootstrap-sf1 .form-control.fillin-input90 {
    background-color: #c5d9f1;
    /*width: 100px;*/
    width: 90px;
    padding: 1px;
}

.bootstrap-sf1 .form-control.fillin-input70 {
    background-color: #c5d9f1;
    width: 70px;
}

.bootstrap-sf1 .form-control.calculateBlue-input70 {
    background-color: #006DCC;
    width: 70px;
}

.bootstrap-sf1 .form-control.calculate-input70 {
    background-color: #ffffff; /*#b2a1c7*/
    width: 70px;
}

.bootstrap-sf1 .customSelectWidth {
    width: auto;
    padding: 1px;
}

.ahide {
    display: none;
}
.message li{
 	float: left !important;   
    clear: both;
}
header.navbar{
	z-index: 0 !important;
}
/*------ Tooltip Help Text -----*/
th{
	white-space: normal ;
}
.bootstrap-sf1 .tooltip,.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0)
}
.bootstrap-sf1 .tooltip.in,.tooltip.in{
    /*opacity:.8;
    filter:alpha(opacity=80)*/
    opacity:1;
    filter:alpha(opacity=100)
}
.bootstrap-sf1 .tooltip.top,.tooltip.top{
    margin-top:-2px
}
.bootstrap-sf1 .tooltip.right,.tooltip.right{
    margin-left:2px
}
.bootstrap-sf1 .tooltip.bottom,.tooltip.bottom{
    margin-top:2px
}
.bootstrap-sf1 .tooltip.left,.tooltip.left{
    margin-left:-2px
}
.bootstrap-sf1 .tooltip.top .tooltip-arrow,.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    /*border-top:5px solid #000;*/
    border-top:5px solid orange !important;
}
.bootstrap-sf1 .tooltip.left .tooltip-arrow,.tooltip.left .tooltip-arrow{
    top:50%;
    right:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    /*border-left:5px solid #000;*/
    border-left:5px solid orange !important;
}
.bootstrap-sf1 .tooltip.bottom .tooltip-arrow, .tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    /*border-bottom:5px solid #000;*/
    border-bottom:5px solid orange !important;
}
.bootstrap-sf1 .tooltip.right .tooltip-arrow,.tooltip.right .tooltip-arrow{
    top:50%;
    left:0;
    margin-top:-5px;
    border-top:5px solid transparent;
    border-bottom:5px solid transparent;
    /*border-right:5px solid #000;*/
    border-right:5px solid orange !important;
}
.bootstrap-sf1 .tooltip-inner,.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#000 !important;
    text-align:left;
    text-decoration:none;
    /*background-color:#000;*/
    background-color: #fefdb9 !important;
    /*-webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;*/
    -webkit-border-radius:0px !important;
    -moz-border-radius:0px !important;
    border-radius:0px !important;
    font-size: 12px;
    font-weight: normal;
    border: 1px solid orange !important;
    word-wrap: break-word;
}
.bootstrap-sf1 .tooltip-arrow,.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}
.helpText{
    font-size: 12px;
}
.bootstrap-sf1 .glyphicon-question-sign{
    color: #FDD49F;
    font-size: 12px;
}
.bootstrap-sf1 .glyphicon-question-sign:hover{
    color: orange;
}
.tooltipInputField{
    width: 94% !important;
    float:left;
}
.tooltipSpan{
    vertical-align:middle;
    margin-top:10px;
}
.panel-heading{
    background-color: #2a94d6 !important;
    margin: 3px 0px;
    height: 33px;
}
.navbar-header a{
    color: #fff !important;
}
.navbar-header a:hover{
    color: #fff !important;
}
.forceBackground.desc{
    width: auto;
    float: left;
    padding: 5px;
    margin-right: 10px;
    font-size: 13px;
}
a.lookup{ 
    padding: 5px !important; 
    background-color: transparent !important;
    background-image: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.lookup{
    display: inline !important;
}

.message .messageText h4{
    text-align: left;
    margin: 5px 0;
    color: inherit;
}
.bg-danger{
    font-size: 14px;
    font-weight: normal;
    font-family: Arial,Helvetica,sans-serif;
}