/*  Lookup field override */
.bootstrap-sf1 .lookupInput a.form-control{
	display: inline;
	position: absolute;
	top: 0px;       
}

.bootstrap-sf1 .lookupInput img{
	float: right;       
}

.bootstrap-sf1 span.lookupInput{
	position: relative;
	display: inherit;
}
.bootstrap-sf1 .lookupInput a,.bootstrap-sf1 .lookupInput a{
	border: none !important;
	background: none;
}

/* dateOnlyInput overide */
.dateOnlyInput .dateFormat{
	display: inline;
	position: absolute;
	top: 5px;
	right:15px;
}
.bootstrap-sf1{
 padding:5px;
}

<!-- Table Style -->        
.bootstrap-sf1 thead th {
  background-color: #006DCC;
  color: white;
}

<!-- modify byDA -->        
.bootstrap-sf1 thead th {
  text-align: center;
}
.bootstrap-sf1 tbody td {
  text-align: center;
}        
.outputText{ 
	padding-top:7px;
}  
<!-- Custom On Page -->
div.depend select {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 14px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #000000;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #cfd0d2;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.bootstrap-sf1 header {
	border-radius: 4px;
	margin-top: 3px;
	
}
.bootstrap-sf1 .panel-heading {
	padding: 0px;
}

.bootstrap-sf1 .panel-heading [data-toggle="collapse"]:before {
	font-family: 'Glyphicons Halflings';
	content: "\25BC";
	float: left;
	padding-right: 10px;
	padding-left: 5px;
	color: #FFFFFF;
	font-size: 18px;
	
	line-height: 18px;
}

.bootstrap-sf1 .panel-heading [data-toggle="collapse"].collapsed:before {
	content: "\25B6";
}
.bootstrap-sf1 .card .card-detail{
	padding-top:10px;
}

.bootstrap-sf1 .navbar-brand {
	font-weight: normal;
	font-size: 18px;
	height: 35px !important;
	padding-top : 5px;
}

.bootstrap-sf1 .navbar-default{        
		
		height: 35px !important;
		-moz-box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-o-box-sizing: content-box;
		-ms-box-sizing: content-box;
}
.bootstrap-sf1 .navbar {
  position: relative;
  min-height: 35px !important;;
  margin-bottom: 20px;
  border: 1px solid transparent;
}