:root{
    --main-color: #16325C; /* for default text*/
    --sub-1-color: #54698D; /* for label text*/
    --disable-color: #A8B7C7; /* for disable text , border-input */
    --disable-background-color: #E0E4EE; /* for disable background  */
    --background-color: #F3F2F2; /* for background  */
    --baselink-color: #3F88F2; /* for baselink , hover text  */
    --button-color: #306DD0; /* for background button default  */
    --hover-button-color: #2A5FB4; /* for hover background button default  */
    
    --success-color: #36864A;
    --warning-color: #F6B351;
    --error-color: #C23934;
}
a{
    color: var(--baselink-color);
}

hr {
    border-top-color: var( --disable-background-color) !important;
    margin: 1.5rem 0 !important;
}


input,
select,
textarea,
.slds-pill_container,
select[disabled],
input[disabled],
textarea[disabled],
.slds-pill_container,
.slds-form-element__control.sl-disabled {
    border-color: var(--disable-color) !important;
}

input,
select,
textarea,
.slds-form-element__static,
placeholder,
.cStrike_lookup,
.sl-pill__label {
    color: var(--main-color) !important;
}

tr.even{
    background-color: var(--background-color) !important;
}

[placeholder]{
    color: var(--main-color) !important;
    opacity: 1; /* Firefox */
}

::-webkit-input-placeholder{
    color: var(--main-color) !important;
    opacity: 1; /* Firefox */
}

.THIS .slds-form-element__label,
.THIS .slds-text-title_caps,
.THIS .slds-card__header-title {
    color: var(--sub-1-color) !important;
}