<template>
    <div class="slds-align_absolute-center" >
           
        <h1 class="slds-text-heading_medium"  >ผลิตภัณฑ์ที่ตอบโจทย์ความต้องการของคุณ</h1>
                
    </div>

    <div class="slds-align_absolute-center" style="margin: 10px; " >
    <div class="slds-border_bottom">
       <p class="slds-text-heading_medium"  >MORE Benefit</p>
        </div>
        </div>
           <!--Button-->
           <div class="slds-align_absolute-center">
        <div class="slds-col slds-size_1-of-3">
       


    <lightning-input 
    type="text" 
    style="margin: 10px;"
    name="input1" 
    placeholder= "PRODUCT NAME SHORT DESCRIRTION" >
    </lightning-input>
       
    <lightning-input 
       type="text"
       style="margin: 10px;"                  
       name="input2"                  
       placeholder= "PRODUCT NAME SHORT DESCRIRTION" >
    </lightning-input>  
        </div>
        </div>
       

       <div class="slds-align_absolute-center" style="margin: 10px;">
       <div class="slds-border_bottom">
       <p class="slds-text-heading_medium"  >MORE Assurance</p>
            </div>
            </div>
            

            <div class="slds-align_absolute-center">
            <div class="slds-col slds-size_1-of-3">
       
    <lightning-input 
        type="text" 
        style="margin: 10px;"
        name="input3" 
        placeholder= "PRODUCT NAME SHORT DESCRIRTION" ></lightning-input>
    
    </div> 
    </div> 
       
        <div class="slds-align_absolute-center" style="margin: 10px; line-height: 50pt" >
        
    <lightning-button
 
            label="Send"
            icon-name="utility:forward"
            icon-position="right" 
            onclick={clickProduct}>
 
    </lightning-button>
     
     
    </div>
</template>