<template>
        <div class="js-inline-picker" lwc:dom="manual"></div>
        <lightning-input label="Year" value={yearValue} id="year" class="year form-control docs-date hidden" name="date" onchange={CalculateAge}></lightning-input>
        <lightning-input label="Age" value={ageValue} id="age" class="age form-control docs-date hidden" name="text"></lightning-input>
</template>