<template>

   
    
    <div class="slds-align_absolute-center">

        <p class="slds-text-heading_medium"  >ใส่หมายเลขมือถือเพื่อให้เราติดต่อกลับ</p>

    </div>



    <div class="slds-align_absolute-center">
        <lightning-input type="text" style=" margin: 20px"  name="input1" placeholder="Email/Moblie No." ></lightning-input>
        <lightning-button label="Next" onclick={handleClick} class="slds-m-top--medium"></lightning-button>
    

</div>

</template>