<template>
    <lightning-button variant="destructive" label="Back" title="Destructive action" onclick={clickBack} class="slds-m-left_x-small"></lightning-button>
    <lightning-button variant="brand" label="Next" title="Brand action" onclick={clickNext} class="slds-m-left_x-small"></lightning-button>
    คำถาม : {question.question}<br>
    คำถามนี้ ID : {question.questionId}<br>
    <lightning-input type="text"
        label="Answer"
        value={valueTest}
        onchange={handleChange}>
    </lightning-input>  
    {valueTest}
    <lightning-button variant="success" label="Save" title="Success" onclick={clickSubmit} class="slds-m-left_x-small"></lightning-button>
</template>